<template>
  <div>
    <ServiceDirectionPageDeviceHeader
      :title="interactiveAppPage.acf.title"
      :video="interactiveAppPage.acf.showcase.video_file.url"
      :class-name="'interactive-app-header'"
      :video-class-name="'interactive-app-header-mobile'"
      :wrapper-img="mobileWrapper"
    />
    <ServiceDirectionPageInteractiveCore
      :title="interactiveAppPage.acf.core_header.title"
      :description="interactiveAppPage.acf.core_header.description"
      :items="interactiveAppPage.acf.core_items"
    />
    <ServiceDirectionPageBenefits
      :title="interactiveAppPage.acf.benefits_header.title"
      :description="interactiveAppPage.acf.benefits_header.description"
      :items="interactiveAppPage.acf.benefit_items"
    />
    <ServiceDirectionPageServices
      :title="interactiveAppPage.acf.services_header.title"
      :description="interactiveAppPage.acf.services_header.description"
      :items="interactiveAppPage.acf.service_items"
    />
    <ServiceDirectionPagePortfolio
      :title="interactiveAppPage.acf.portfolio_section.title"
      :description="interactiveAppPage.acf.portfolio_section.description"
      :items="interactiveAppPage.acf.portfolio_items"
      :btn="interactiveAppPage.acf.portfolio_section.portfolio_button"
    />
    <ServiceDirectionPageTechnologyMap
      :title="interactiveAppPage.acf.technology_map_header.title"
      :description="interactiveAppPage.acf.technology_map_header.description"
      :groups="interactiveAppPage.acf.technology_groups"
    />
    <ServiceDirectionPageReadMore
      :title="interactiveAppPage.acf.blog_section.title"
      :description="interactiveAppPage.acf.blog_section.description"
      :posts="interactiveAppPage.acf.blog_posts"
    />
    <ContactForm />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ServiceDirectionPageDeviceHeader from '@/components/pages/services/servicesDirections/ServiceDirectionPageDeviceHeader'
import ServiceDirectionPageInteractiveCore from '@/components/pages/services/servicesDirections/ServiceDirectionPageInteractiveCore'
import ServiceDirectionPageBenefits from '@/components/pages/services/servicesDirections/ServiceDirectionPageBenefits'
import ServiceDirectionPageServices from '@/components/pages/services/servicesDirections/ServiceDirectionPageServices'
import ServiceDirectionPagePortfolio from '@/components/pages/services/servicesDirections/ServiceDirectionPagePortfolio'
import ServiceDirectionPageTechnologyMap from '@/components/pages/services/servicesDirections/ServiceDirectionPageTechnologyMap'
import ServiceDirectionPageReadMore from '@/components/pages/services/servicesDirections/ServiceDirectionPageReadMore'
import mobileWrapper from '@/assets/img/pages/services/interactive-app/mobileWrapper.png'
export default {
  name: 'InteractiveApp',
  components: {
    ServiceDirectionPagePortfolio,
    ServiceDirectionPageDeviceHeader,
    ServiceDirectionPageInteractiveCore,
    ServiceDirectionPageBenefits,
    ServiceDirectionPageServices,
    ServiceDirectionPageTechnologyMap,
    ServiceDirectionPageReadMore
  },
  data: () => ({
    mobileWrapper
  }),
  computed: {
    ...mapGetters('api/pages/services/interactive-app', ['interactiveAppPage'])
  },
  head() {
    return {
      title: this.interactiveAppPage.acf.seo_title,
      meta: [
        {
          name: 'description',
          content: this.interactiveAppPage.acf.seo_description
        },
        { name: 'keywords', content: this.interactiveAppPage.acf.seo_keywords },
        {
          property: 'og:title',
          content: this.interactiveAppPage.acf.seo_title
        },
        {
          property: 'og:description',
          content: this.interactiveAppPage.acf.seo_description
        },
        { property: 'og:image', content: this.interactiveAppPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
