<template>
  <div class="terms_first">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';
.terms_first {
  width: 100%;
  padding: 100px 0 75px;
  background: #000000;
  min-height: 330px;
  display: flex;
  align-items: flex-end;
  @include bp($mobile + 1, min) {
    min-height: 450px;
  }
  @include bp($tablet + 1, min) {
    min-height: 500px;
  }
  @include bp($desktopSmall + 1, min) {
    min-height: 640px;
  }
  .container {
    width: 100%;
  }
  & + .post_content {
    padding-bottom: 25px;
    @include bp($tablet + 1, min) {
      padding-bottom: 35px;
    }
    @include bp($desktopSmall + 1, min) {
      padding-bottom: 90px;
    }
    .flex-block {
      &:after {
        display: none;
      }
    }
  }
}

.terms_first h1 {
  font-weight: 800;
  line-height: 100%;
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  @include bp($mobile + 1, min) {
    font-size: 36px;
  }
  @include bp($tablet + 1, min) {
    font-size: 48px;
  }
  @include bp($desktopSmall + 1, min) {
    font-size: 64px;
  }
}
</style>

<script>
export default {
  name: 'PolicyPageHeader',
  props: {
    title: { type: String, required: true }
  }
}
</script>
