@import '../extends/arrow';
@import '../core/variables';
@import '../core/mixins';

.btn {
  position: relative;
  font-style: normal;
  border: 2px solid #F05722;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: 1s ease-out;
  width: fit-content;
  width: -moz-max-content;
  text-decoration: none;
  i.btn__arrow {
    @extend .arrow;
    &--white {
      &:before, &:after {
        background: #ffffff;
      }
    }
  }
}
.btn span {
  transition: 1s ease-out;
  z-index: 2; }
.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 500px;
  height: 500px;
  //line-height: 600px;
  text-align: center;
  transition: box-shadow 1s ease-out;
  z-index: 1;
  box-shadow: inset 0 0 0 0 #f05722; }
.btn.big_back::before {
  width: 700px;
  height: 700px;
  line-height: 700px; }
.btn::after {
  opacity: 0;
  content: "";
  display: block;
  width: 8px;
  height: 14px;
  background-image: url(~assets/img/white_arrow.png);
  background-size: 100% 100%;
  margin-left: 50px;
  transition: 1s ease-out;
  z-index: 2;
  position: absolute;
  right: -20px; }
.timeline_graphs_facts .btn{
  color: black !important;
}
.timeline_graphs_facts .btn:hover {
  color: #fff !important; }
.btn:hover {
  color: #fff; }
.btn:hover.xm span, .btn:active.xm span {
  transform: translateX(-19px); }
.btn:hover.xl span, .btn:active.xl span {
  transform: translateX(-19px); }
.btn:hover.sm span, .btn:active.sm span {
  transform: translateX(-19px); }
.btn:hover::before, .btn:active:before {
  box-shadow: inset 0 0 0 500px #f05722; }
.btn:hover.big_back::before {
  box-shadow: inset 0 0 0 500px #f05722; }
.btn:hover::after, .btn:active::after {
  opacity: 1;
  right: 15px; }

@include bp($tablet) {
  .portfolio_btn {
    &:hover {
      &:after {
        opacity: 0;
      }
      &:before {
        box-shadow: inset 0 0 0 0 #f05722;
      }
      span.arrow {
        transform: translateX(0) rotate(-90deg);
        & + span {
          transform: translateX(0);
        }
      }

    }

  }
}

.xm {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  padding: 8px 39px 7px 20px; }

.xm span {
  margin-left: 16px;
  white-space: nowrap; }
.xl {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  max-height: 56px;
  padding: 7px 39px 7px 36px; }

.xl span {
  margin-left: 19px;
  white-space: nowrap; }


.white-text {
  color: white; }

.black-text {
  color: black; }
