@import "../core/variables";

.cross {
  position: absolute;
  right: 16px;
  top: 28px;
  width: 13px;
  height: 13px;
  padding: 10px;
  &:before, &:after {
    top: 10px;
    left: 5px;
    content: "";
    width: 13px;
    height: 2px;
    background: $colorCross;
    position: absolute;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}
