<template>
  <div>
    <ServiceDirectionPageDeviceHeader
      :title="digitalArtPage.acf.title"
      :custom="true"
      :video="digitalArtPage.acf.showcase.video"
      :class-name="'digital-art-header'"
      :video-class-name="'digital-art-header-ipad'"
      :wrapper-img="ipadWrapper"
    />
    <ServiceDirectionPageInteractiveCore
      :title="digitalArtPage.acf.core_header.title"
      :description="digitalArtPage.acf.core_header.description"
      :items="digitalArtPage.acf.core_items"
    />
    <ServiceDirectionPageBenefits
      :title="digitalArtPage.acf.benefits_header.title"
      :description="digitalArtPage.acf.benefits_header.description"
      :items="digitalArtPage.acf.benefit_items"
    />
    <ServiceDirectionPageServices
      :title="digitalArtPage.acf.services_header.title"
      :description="digitalArtPage.acf.services_header.description"
      :items="digitalArtPage.acf.service_items"
    />
    <ServiceDirectionPagePortfolio
      :title="digitalArtPage.acf.portfolio_section.title"
      :description="digitalArtPage.acf.portfolio_section.description"
      :items="digitalArtPage.acf.portfolio_items"
      :btn="digitalArtPage.acf.portfolio_section.portfolio_button"
    />
    <ServiceDirectionPageTechnologyMap
      :title="digitalArtPage.acf.technology_map_header.title"
      :description="digitalArtPage.acf.technology_map_header.description"
      :groups="digitalArtPage.acf.technology_groups"
    />
    <ServiceDirectionPageReadMore
      :title="digitalArtPage.acf.blog_section.title"
      :description="digitalArtPage.acf.blog_section.description"
      :posts="digitalArtPage.acf.blog_posts"
    />
    <ContactForm />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ServiceDirectionPageDeviceHeader from '@/components/pages/services/servicesDirections/ServiceDirectionPageDeviceHeader'
import ServiceDirectionPageInteractiveCore from '@/components/pages/services/servicesDirections/ServiceDirectionPageInteractiveCore'
import ServiceDirectionPageBenefits from '@/components/pages/services/servicesDirections/ServiceDirectionPageBenefits'
import ServiceDirectionPageServices from '@/components/pages/services/servicesDirections/ServiceDirectionPageServices'
import ServiceDirectionPagePortfolio from '@/components/pages/services/servicesDirections/ServiceDirectionPagePortfolio'
import ServiceDirectionPageTechnologyMap from '@/components/pages/services/servicesDirections/ServiceDirectionPageTechnologyMap'
import ServiceDirectionPageReadMore from '@/components/pages/services/servicesDirections/ServiceDirectionPageReadMore'
import ipadWrapper from '@/assets/img/pages/services/digital-art/ipadWrapper.png'
export default {
  name: 'DigitalArt',
  components: {
    ServiceDirectionPagePortfolio,
    ServiceDirectionPageDeviceHeader,
    ServiceDirectionPageInteractiveCore,
    ServiceDirectionPageBenefits,
    ServiceDirectionPageServices,
    ServiceDirectionPageTechnologyMap,
    ServiceDirectionPageReadMore
  },
  data: () => ({
    ipadWrapper
  }),
  computed: {
    ...mapGetters('api/pages/services/digital-art', ['digitalArtPage'])
  },
  head() {
    return {
      title: this.digitalArtPage.acf.seo_title,
      meta: [
        {
          name: 'description',
          content: this.digitalArtPage.acf.seo_description
        },
        { name: 'keywords', content: this.digitalArtPage.acf.seo_keywords },
        {
          property: 'og:title',
          content: this.digitalArtPage.acf.seo_title
        },
        {
          property: 'og:description',
          content: this.digitalArtPage.acf.seo_description
        },
        { property: 'og:image', content: this.digitalArtPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
