<template>
  <main class="main_container">
    <ServicesPageHeader
      :title="servicesPage.acf.title"
      :description="servicesPage.acf.description"
    />
    <ServicesPageDirections :items="servicesPage.acf.service_direction_items" />
    <ServicesPageBusinesses
      :header="servicesPage.acf.businesses_header"
      :items="servicesPage.acf.businesses.items"
    />
    <ServicesPageProcess
      :header="servicesPage.acf.process_header"
      :items="servicesPage.acf.process_stage_items"
    />
    <ServicesPageWhyUs
      :header="servicesPage.acf.why_us_header"
      :items="servicesPage.acf.why_us_items"
    />
    <ContactForm />
  </main>
</template>

<script>
import { mapGetters } from 'vuex'

import ServicesPageHeader from '@/components/pages/services/ServicesPageHeader'
import ServicesPageDirections from '@/components/pages/services/ServicesPageDirections'
import ServicesPageBusinesses from '@/components/pages/services/ServicesPageBusinesses'
import ServicesPageProcess from '@/components/pages/services/ServicesPageProcess'
import ServicesPageWhyUs from '@/components/pages/services/ServicesPageWhyUs'

export default {
  name: 'Services',
  components: {
    ServicesPageHeader,
    ServicesPageDirections,
    ServicesPageBusinesses,
    ServicesPageProcess,
    ServicesPageWhyUs
  },
  computed: {
    ...mapGetters('api/pages/services', ['servicesPage'])
  },
  head() {
    return {
      title: this.servicesPage.acf.seo_title,
      meta: [
        { name: 'description', content: this.servicesPage.acf.seo_description },
        { name: 'keywords', content: this.servicesPage.acf.seo_keywords },
        { property: 'og:title', content: this.servicesPage.acf.seo_title },
        {
          property: 'og:description',
          content: this.servicesPage.acf.seo_description
        },
        { property: 'og:image', content: this.servicesPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
