<template>
  <div
    :class="{ hiddenAnimationMatrix: !isInViewport }"
    class="services_packets viewAnimationMatrix"
  >
    <div class="container">
      <div class="services_packets_title">
        {{ header.title }}
      </div>
      <div class="services_packets_desc">
        {{ header.description }}
      </div>
      <div class="services_packets_items">
        <div
          v-for="(item, index) in items"
          :key="index"
          class="services_packets_item f"
          packet
          :class="{ active: activeItemIndex === index }"
          @mouseover="activeItemIndex = index"
        >
          <div class="services_packets_item_sub">
            For
          </div>
          <div class="services_packets_item_title">
            {{ getTitle(item) }}
          </div>
          <div class="services_packets_item_options">
            <div class="services_packets_item_options_ul">
              <div
                v-for="(stage, stageIndex) in item.business.acf.stages"
                :key="stageIndex"
                class="services_packets_item_options_li"
                :class="
                  stageIndex === item.business.acf.stages.length - 1
                    ? 'last'
                    : null
                "
              >
                {{ stage.title }}
              </div>
            </div>
          </div>
          <!-- <VTLink
            :link-data="item.business.acf.button"
            vt-class="slider_btn btn white-text xm"
          >
            <i class="btn__arrow"></i>
            <span>{{ getButtonText(item) }}</span>
          </VTLink> -->
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';
.hiddenAnimationMatrix {
  @include anim-matrix;
}
.viewAnimationMatrix {
  @include anim-matrix-transition;
}
.services_packets {
  width: 100%;
  background: black;
  padding-top: 110px;
  &_title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 100%;
    color: #ffffff;
    @include bp($mobile + 1, min) {
      font-size: 56px;
    }
    @include bp($tabletLg + 1, min) {
      font-size: 64px;
    }
  }
  &_desc {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 30px;

    @include bp($mobile + 1, min) {
      font-size: 22px;
      max-width: 700px;
    }
    @include bp($tabletLg + 1, min) {
      font-size: 24px;
      max-width: 755px;
    }
    @include bp($desktop + 1, min) {
    }
  }
  &_items {
    display: flex;
    margin-top: 40px;
    @include bp($mobile) {
      margin-top: 30px;
    }
    @include bp($desktopHd) {
      overflow: hidden;
    }
  }
  &_item {
    margin-right: 30px;
    padding: 60px 30px 40px 30px;
    @include bp($desktopHd + 1, min) {
      min-width: 400px;
    }
    @include bp($desktopHd + 1) {
      width: 33.3%;
      margin-right: 0;
    }
    @include bp(730) {
      max-height: 317px;
      position: relative;
      z-index: 1;
      transition: width 0.3s ease-in-out;
    }
    .btn {
      font-size: 18px;
      font-weight: 600;
      margin: 40px 0 40px;
      padding: 14px 38px 13px 22px;
      @include bp($tablet) {
        padding: 14px 23px 13px 17px;
      }
    }
    &.active {
      @include bp($tablet + 1, min) {
        .btn__arrow:after,
        .btn__arrow:before {
          background: #000000;
        }
      }
    }
  }
}

.services_packets_item.active {
  background: #ff5c00;
}
.services_packets_item.active .services_packets_item_options::before {
  background: black;
}
.services_packets_item.active .btn {
  border-color: black;
}
.services_packets_item.active .btn::before {
  position: absolute;
  top: 0;
  left: 0;
  /*right: 0;*/
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 500px;
  height: 500px;
  line-height: 600px;
  right: -180px;
  text-align: center;
  transition: box-shadow 1s ease-out;
  z-index: 1;
  box-shadow: inset 0 0 0 0 black;
}
.services_packets_item.active .btn:hover::before {
  box-shadow: inset 0 0 0 400px black;
}
.services_packets_item_sub {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
.services_packets_item_title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  color: #ffffff;
  margin-top: 5px;
}
.services_packets_item_options {
  display: flex;
  position: relative;
  margin-top: 40px;
}
.services_packets_item {
  .services_packets_item_options,
  .services_packets_item_title,
  .services_packets_item_sub {
    @media screen and (max-width: 730px) {
      @include transition-hidden;
      transition: 0s ease-in-out;
    }
  }
  &.active {
    .services_packets_item_options,
    .services_packets_item_title,
    .services_packets_item_sub {
      @media screen and (max-width: 730px) {
        @include transition-appear;
      }
    }
  }
}

.services_packets_item_options::before {
  content: '';
  height: 100%;
  width: 1px;
  background: #f05722;
  position: absolute;
  left: 0;
  top: 0;
}
.services_packets_item_options_ul {
  margin-left: 30px;
}
.services_packets_item_options_li {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 25px;
}
.services_packets_item_options_li.last {
  margin-bottom: 0;
}

@include bp($desktop) {
  .services_packets_item {
    padding: 60px 30px 40px 20px;
  }
}

@include bp($tabletLg) {
  .services_packets_item_options {
    margin-top: 60px;
  }
  .services_packets_item_options_ul {
    margin-left: 20px;
  }

  .services_packets_item {
    padding: 60px 30px 40px 5px;
  }

  .services_packets_item.active .services_packets_item_options::before {
    background: #f05722;
  }

  .services_packets_item_title {
    font-size: 30px;
  }
  .services_packets_item_sub {
    font-size: 18px;
  }

  .services_packets_item_options_li {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .services_packets_item .btn span {
    font-size: 16px;
    @include bp($tablet) {
      margin-left: 5px;
    }
  }

  .services_packets_item.active {
    background: unset;
  }

  .services_packets_item.active .btn {
    border-color: #f05722;
  }
  .services_packets_item {
    padding-top: 40px;
  }
  .services_packets_item_options {
    margin-top: 30px;
  }
  .services_packets_item .btn {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

@include bp(730) {
  .services_packets_item_options_ul {
    max-width: 200px;
  }
  .services_packets_item_options_li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .services_packets_item {
    margin-right: 0;
    padding-bottom: 40px;
  }
  .services_packets {
    padding-top: 40px;
  }
  .services_packets_title {
    margin-left: 20px;
    margin-right: 20px;
  }
  .services_packets_desc {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
  .services_packets .container {
    padding: 0;
  }

  .services_packets_item {
    width: 40px;
    position: relative;
  }
  .services_packets_item.last {
    margin-right: 0;
  }
  .services_packets_item.f {
    background: rgba(255, 255, 255, 0.05);
  }
  .services_packets_item.s {
    background: rgba(255, 255, 255, 0.1);
  }
  .services_packets_item.t {
    background: rgba(255, 255, 255, 0.15);
  }
  .services_packets_item::before {
    background: url(~assets/img/packets_arrow.png);
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
  }
  .services_packets_item.active {
    width: 75%;
    background-color: black;
    opacity: 1;
    padding-left: 20px;
  }
  .services_packets_item {
    width: 12.5%;
  }
  .services_packets_item.active::before {
    background: none;
    background-size: 100% 100%;
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -3px;
  }
  .services_packets_item.active .services_packets_item_title {
    display: block;
  }
  .services_packets_item.active .services_packets_item_sub {
    display: block;
  }
  .services_packets_item.active .btn {
    display: flex;
  }
  .services_packets_item.active .services_packets_item_options {
    display: flex;
  }
}

@include bp($mobile) {
  .services_packets_item .btn {
    margin-bottom: 0;
  }
}
</style>

<script>
import isInViewport from '../../../mixins/isInViewport'

export default {
  name: 'ServicesPageBusinesses',
  mixins: [isInViewport],
  props: {
    header: { type: Object, required: true },
    items: { type: Array, required: true }
  },
  data() {
    return {
      activeItemIndex: -1
    }
  },
  mounted() {
    this.mobilePacks()
    window.addEventListener('resize', this.mobilePacks)
  },
  methods: {
    getTitle(item) {
      return item.override.includes('title')
        ? item.title
        : item.business.acf.title
    },
    getDescription(item) {
      return item.override.includes('description')
        ? item.description
        : item.business.acf.description
    },
    getButtonText(item) {
      return item.override.includes('button_text')
        ? item.button_text
        : item.business.acf.button.text
    },
    mobilePacks() {
      if (window.screen.width <= 730) {
        const firstEl = document.querySelector('.services_packets_item')
        const listArr = Array.prototype.slice.call(
          document.querySelectorAll('.services_packets_item')
        )
        let flag = false

        const isMobilePackActive = () =>
          listArr.some((el) => el.classList.contains('active'))

        listArr.forEach((el, index) =>
          el.addEventListener('click', (e) => {
            if (index && !flag) {
              firstEl.classList.remove('active')
              flag = true
            }
          })
        )
        if (firstEl && !isMobilePackActive()) firstEl.classList.add('active')
      }
    }
  }
}
</script>
