<template>
  <div class="services-uniq">
    <div class="container">
      <div class="services-uniq_title">
        {{ header.title }}
      </div>
      <div class="services-uniq_desc">
        {{ header.description }}
      </div>
      <div class="services-uniq_ul">
        <div
          v-for="(item, index) in items"
          :key="index"
          class="services-uniq_li"
          :class="{ active: activeItemIndex === index }"
          @mouseover="activeItemIndex = index"
        >
          <div class="services-uniq_li_title">
            {{ item.title }}
          </div>
          <div class="services-uniq_li_desc">
            {{ item.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.services-uniq_btn {
  margin-top: 30px;
  display: none !important;
}

.services-uniq_li.active .services-uniq_btn {
  display: flex !important;
}

.services-uniq {
  width: 100%;
  min-height: 600px;
  padding: 100px 0 30px;
  background-image: url(~assets/img/uniq_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include bp($desktopSmall) {
    &:before {
      content: '';
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
    }
  }
  @media all and (max-width: #{1440}px) and (min-width: #{$desktopSmall + 1}px) {
    background-position: center right;
  }
  @include bp($mobile + 1, min) {
    min-height: 820px;
  }
  @include bp($tablet + 1, min) {
    min-height: 850px;
  }
  &_title {
    position: relative;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    color: #ffffff;
    @include bp($mobile + 1, min) {
      font-size: 56px;
    }
    @include bp($tabletLg + 1, min) {
      font-size: 64px;
    }
  }
  &_desc {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 20px;
    max-width: 700px;
    @include bp($mobile + 1, min) {
      font-size: 22px;
    }
    @include bp($tabletLg + 1, min) {
      font-size: 24px;
    }
  }
}
.services-uniq_ul {
  padding-top: 20px;
  margin-left: 30px;
  @include bp($tablet) {
    padding-top: 10px;
  }
}
.services-uniq_li {
  margin-top: 40px;
  position: relative;
  @include bp($mobileSmall) {
    margin-top: 24px;
  }
}
.services-uniq_li_title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
  @include bp($mobileSmall) {
    line-height: 1.5;
  }
}
.services-uniq_li_desc {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #ffffff;
  max-width: 640px;

  transition: 0.3s ease-in-out;
  transform: translateY(-40px);
  visibility: hidden;
  opacity: 0;
  height: 0;
  @include bp($desktopSmall) {
    font-size: 18px;
    max-width: 470px;
  }
}
.services-uniq_li.active::before {
  position: absolute;
  top: 0;
  left: -30px;
  width: 1px;
  height: 100%;
  content: '';
  background: #f05722;
}
.services-uniq_li.active .services-uniq_li_title {
  color: #f05722;
}
.services-uniq_li.active .services-uniq_li_desc {
  margin-top: 20px;
  transition: 0.3s ease-in-out;
  transform: translateY(0);
  visibility: visible;
  opacity: 0.7;
  height: auto;
}

@include bp($desktop) {
  .services-uniq {
    background-position: -300px;
  }
  .services-uniq {
    background-position: right;
  }
}

@include bp($tabletLg) {
  .services-uniq_desc {
    font-size: 18px;
  }
  .services-uniq {
    background-position: -600px;
  }
}

@include bp($tablet) {
  .services-uniq {
    background-position: 85%;
  }
}

@include bp($mobile) {
  .services-uniq {
    background: black;
  }
  .services-uniq {
    padding: 75px 0 90px;
  }
  .services-uniq_title {
    font-size: 36px;
  }
  .services-uniq_desc {
    font-size: 18px;
  }
  .services-uniq_li_title {
    font-size: 22px;
  }
  .services-uniq_li_desc {
    font-size: 18px;
  }
}
</style>

<script>
export default {
  name: 'ServicesPageWhyUs',
  props: {
    header: { type: Object, required: true },
    items: { type: Array, required: true }
  },
  data() {
    return {
      activeItemIndex: -1
    }
  }
}
</script>
