<template>
  <div class="container">
    <div
      :class="{ hiddenAnimationMatrix: !isInViewport }"
      class="services_coubs viewAnimationMatrix"
    >
      <VTLink
        v-for="(item, index) in items"
        :key="index"
        :link-data="item.acf.link"
        vt-class="services_coubs_item"
        :vt-style="bgCoubs(index)"
      >
        <div>
          <span class="services_coubs_item_title">
            {{ item.acf.title }}
          </span>
          <p class="services_coubs_item_desc">
            {{ item.acf.description }}
          </p>
          <VTLink
            :link-data="item.acf.link"
            vt-class="btn white-text xm service_btn"
            :vt-style="showMoreButton(item) ? null : 'opacity:0;'"
          >
            <i class="btn__arrow"></i>
            <span>More</span>
          </VTLink>
        </div>
      </VTLink>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';
.hiddenAnimationMatrix {
  @include anim-matrix;
}
.viewAnimationMatrix {
  @include anim-matrix-transition;
}
.services_coubs_item.one_service .services_coubs_item_title {
  font-size: 36px;
}

.services_coubs_item.one_service::before {
  display: none;
}

.services_coubs_item.one_service:hover {
  background: #f05722;
}

.services_coubs {
  display: grid;
  padding: 60px 0 80px 0;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  grid-template-columns: 100%;
  min-height: 524px;
  @include bp($mobile + 1, min) {
    min-height: 780px;
    grid-gap: 20px;
    grid-template-columns: calc(100% / 2 - 10px) calc(100% / 2 - 10px);
  }
  @include bp(740 + 1, min) {
    min-height: 560px;
    grid-gap: 20px;
    grid-template-columns: calc(100% / 3 - 13.3px) calc(100% / 3 - 13.3px) calc(
        100% / 3 - 13.3px
      );
  }
  @include bp($tablet + 1, min) {
    min-height: 760px;
  }
  @include bp($tabletLg + 1, min) {
    min-height: 960px;
  }
  @include bp($desktop + 1, min) {
    min-height: 950px;
    padding: 50px 0 70px 0;
    grid-gap: 30px;
    grid-template-columns: calc(100% / 3 - 20px) calc(100% / 3 - 20px) calc(
        100% / 3 - 20px
      );
  }
}
.services_coubs_item {
  height: 400px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  &::after,
  &::before {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
  }
  &::before {
    background: #000000;
    opacity: 0;
  }
  &::after {
    border: 1px solid #f05722;
    background: #ffffff;
    opacity: 1;
  }
  &:hover:after,
  &:focus:after {
    & {
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
.services_coubs_item:hover .services_coubs_item_title {
  color: white;
}
.services_coubs_item:hover .services_coubs_item_desc {
  display: block;
}
.services_coubs_item:hover .btn {
  display: flex;
}
.services_coubs_item:hover::before {
  opacity: 0.65;
}
.service_btn.btn {
  font-size: 18px;
}
.services_coubs_item_title {
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
  position: relative;
  z-index: 2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.services_coubs_item_desc {
  display: none;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 20px;
}
.services_coubs_item .btn {
  display: none;
  margin-top: 20px;
}

@include bp($desktop) {
  .services_coubs_item {
    padding: 20px;
  }
  .services_coubs_item_desc {
    font-size: 16px;
  }
}

@include bp($tabletLg) {
  .services_coubs_item_title {
    font-size: 32px;
    line-height: 1.2;
  }
  .services_coubs_item {
    height: 300px;
  }
  .services_coubs_item:hover .services_coubs_item_desc {
    display: none;
  }
  .services_coubs_item:hover .btn {
    display: none;
  }
}

@include bp($tablet) {
  .services_coubs_item {
    height: 200px;
  }
}

@include bp($mobile) {
  .services_coubs {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .services_coubs_item {
    height: auto;
    padding: 22px 20px 18px;
    display: flex;
    justify-content: center;
  }
  .services_coubs_item br {
    display: none;
  }

  .services_coubs_item_title {
    font-size: 23px;
  }
}
</style>

<script>
import isInViewport from '../../../mixins/isInViewport'
export default {
  name: 'ServicesPageDirections',
  mixins: [isInViewport],
  props: {
    items: { type: Array, required: true }
  },
  methods: {
    showMoreButton(item) {
      return item.acf.link.url || item.acf.link.query
    },
    bgCoubs(item) {
      return `background: url('${this.items[item].acf.image.url}')`
    }
  }
}
</script>
