<template>
  <div class="services inblock">
    <div class="container">
      <div class="inblock_title">
        {{ title }}
      </div>
      <div class="inblock_desc">
        {{ description }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/variables';
@import '../../../assets/scss/core/mixins';

.services {
  background-image: url(~assets/img/services-mobileX2.png),
    linear-gradient(90deg, #000000 0%, #191919 100%);
  background-repeat: no-repeat;
  background-position: center 48px, 0 0;
  background-size: 200px 200px, cover;
  margin-bottom: 20px;
  @include bp($mobileSmall + 1, min) {
    background: url(~assets/img/services-tablet.png) no-repeat 93% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($tablet + 1, min) {
    background: url(~assets/img/services-dts.png) no-repeat 95% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktop + 1, min) {
    background: url(~assets/img/services-dts.png) no-repeat 85% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopHd + 1, min) {
    background: url(~assets/img/services-dt.png) no-repeat 82.25%
        calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopFullHd + 1, min) {
    background: url(~assets/img/services-dt.png) no-repeat 75.25%
        calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @media all and (max-width: #{$tablet}px) and (min-width: #{$mobileSmall + 1}px) {
    &.inblock {
      padding: 179px 0 30px 0;
    }
    .inblock_desc {
      line-height: 1.4;
    }
  }
  @include bp($mobileSmall) {
    padding: 115px 0 30px;
    min-height: 300px;
    .inblock_desc {
      margin-top: 20px;
    }
  }
}
</style>

<script>
export default {
  name: 'ServicesPageHeader',
  props: {
    title: { type: String, required: true },
    description: { type: String, required: true }
  }
}
</script>
