<template>
  <div class="services-process">
    <div class="container">
      <div class="services-process_title">
        {{ header.title }}
      </div>
      <div class="services-process_desc">
        {{ header.description }}
      </div>
    </div>
    <div class="services-process_blocks-top">
      <div class="container block">
        <div
          v-for="(item, index) in items"
          :key="index"
          ref="serviceItemsTitle"
          style="color: transparent;"
          class="services-process_blocks-top_item first active"
          :class="
            (index === 0 && 'first') || (index === items.length - 1 && 'last')
          "
          process
          :data="index + 1"
          @mouseover="
            chooseProcess(index + 1)
            activeProces = index + 1
          "
        >
          <div
            ref="serviceItemsTitle"
            style="color: transparent;"
            class="services-process_blocks-top_item_title"
          >
            {{ item.title }}
          </div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="services-process_blocks-bot">
      <div class="container block">
        <div
          v-for="(item, index) in items"
          :key="index"
          class="services-process_blocks-bot_item active"
          process
          :data="index + 1"
          @mouseover="
            chooseProcess(index + 1)
            activeProces = index + 1
          "
        >
          <span class="services-process__arrow arrow"></span>
          <div class="services-process_blocks-bot_item_text">
            <ul>
              <li
                v-for="(description_item,
                description_index) in item.description_items"
                :key="description_index"
                ref="serviceItems"
                style="opacity: 0;"
                class="services-process_blocks-bot_item_text_li"
              >
                {{ description_item.text }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.services-process {
  padding: 110px 0;
  @include bp($desktopSmall) {
    padding: 100px 0;
  }
  @include bp($tablet) {
    padding: 100px 0 0;
  }
  @include bp($mobileSmall) {
    padding: 60px 0 0;
  }
  &_title {
    font-weight: 800;
    font-size: 36px;
    line-height: 1;
    color: #000000;
    @include bp($mobile + 1, min) {
      font-size: 56px;
    }
    @include bp($tabletLg + 1, min) {
      font-size: 64px;
    }
  }
  &__arrow {
    opacity: 1;
    transition: 0.2s opacity ease-in-out;
    display: inline-flex;
    &:before,
    &:after {
      top: 2px;
    }
  }
  &_blocks-bot_item {
    transition: 0.3s ease-in-out;
    &.active {
      transition: 0.3s ease-in-out;
      .services-process__arrow {
        opacity: 0;
        position: absolute;
      }
    }
    &:not(.active):not(.check) {
      .services-process__arrow {
        &:before,
        &:after {
          background: #000000;
        }
      }
    }
  }
}

.services-process_desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #828282;
  margin-top: 30px;
  @include bp($mobile + 1, min) {
    font-size: 22px;
  }
  @include bp($tabletLg + 1, min) {
    font-size: 24px;
  }
}
.services-process_blocks-top {
  margin-top: 67px;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  z-index: 2;
  position: relative;
}
.services-process_blocks-top .services-process_blocks-top_item:nth-child(n) {
  background: rgba(18, 22, 27, 0.02);
}
.services-process_blocks-top .services-process_blocks-top_item:nth-child(2n) {
  background: rgba(18, 22, 27, 0.04);
}
.services-process_blocks-top .services-process_blocks-top_item:nth-child(3n) {
  background: rgba(18, 22, 27, 0.06);
}
.services-process_blocks-top .services-process_blocks-top_item:nth-child(4n) {
  background: rgba(18, 22, 27, 0.08);
}
.services-process_blocks-top .services-process_blocks-top_item:nth-child(5n) {
  background: rgba(18, 22, 27, 0.1);
}
.services-process_blocks-top .block {
  display: flex;
}
.services-process_blocks-top_item {
  width: 195px;
  position: relative;
  padding: 50px 30px 50px 20px;
  box-sizing: border-box;
  transition: 0.3s width ease-in-out;
}
.services-process_blocks-top_item_title {
  white-space: nowrap;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  color: #000000;
  @include bp($tablet + 1, min) {
    min-height: 35px;
  }
}
.services-process_blocks-top_item .circle {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 30px;
  bottom: -7px;
  background: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 50px;
  box-sizing: border-box;
}
.services-process_blocks-top_item.check
  .services-process_blocks-top_item_title {
  color: #f05722;
}
.services-process_blocks-top_item.check::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background: #f05722;
  bottom: -1px;
  left: 0;
}
.services-process_blocks-top_item.check.first::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background: #f05722;
  bottom: -1px;
  left: 37px;
}
.services-process_blocks-top_item.check .circle {
  border: 2px solid #f05722;
}
.services-process_blocks-top_item.active {
  width: 390px;
  padding-top: 37px;
  transition: 0.3s width ease-in-out;
  @include bp($desktopSmall + 1, min) {
    padding-top: 44px;
  }
}
.services-process_blocks-top_item.active
  .services-process_blocks-top_item_title {
  color: #f05722;
}
.services-process_blocks-top_item.active::before {
  content: '';
  width: 37px;
  height: 1px;
  position: absolute;
  background: #f05722;
  bottom: -1px;
  left: 0;
}
.services-process_blocks-top_item.active.first::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background: #f05722;
  bottom: -1px;
  left: 37px;
}
.services-process_blocks-top_item.active .circle {
  border: 2px solid #f05722;
  background: #f05722;
}
.services-process_blocks-top_item.active::after {
  content: '';
  width: 28px;
  height: 28px;
  left: 23px;
  bottom: -14px;
  border: 2px solid #f05722;
  border-radius: 50px;
  box-sizing: border-box;
  position: absolute;
}
.services-process_blocks-bot {
  width: 100%;
}
.services-process_blocks-bot .block {
  display: flex;
  min-height: 400px;
  @include bp($desktop) {
    max-height: 400px;
  }
  @include bp($mobileSmall) {
    min-height: 300px;
    max-height: 300px;
  }
}
.services-process_blocks-bot .services-process_blocks-bot_item:nth-child(n) {
  background: rgba(18, 22, 27, 0.02);
}
.services-process_blocks-bot .services-process_blocks-bot_item:nth-child(2n) {
  background: rgba(18, 22, 27, 0.04);
}
.services-process_blocks-bot .services-process_blocks-bot_item:nth-child(3n) {
  background: rgba(18, 22, 27, 0.06);
}
.services-process_blocks-bot .services-process_blocks-bot_item:nth-child(4n) {
  background: rgba(18, 22, 27, 0.08);
}
.services-process_blocks-bot .services-process_blocks-bot_item:nth-child(5n) {
  background: rgba(18, 22, 27, 0.1);
}
.services-process_blocks-bot_item {
  padding: 50px 30px;
  width: 195px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.services-process_blocks-bot_item_text {
  @include transition-hidden;
  @include bp($desktop + 1, min) {
    min-width: 310px;
  }
  @include bp($desktop) {
    transition: 0s width ease-in-out;
  }
}
.services-process_blocks-bot_item_text_li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  color: #4f4f4f;
  margin-top: 20px;
  @include bp($mobileSmall) {
    margin-top: 15px;
  }
  &:first-of-type {
    margin-top: 0;
  }
}
.services-process_blocks-bot_item.active {
  width: 390px;
}
.services-process_blocks-bot_item.active
  .services-process_blocks-bot_item_arrow {
  display: none;
}

.services-process_blocks-bot_item.active
  .services-process_blocks-bot_item_text {
  @include transition-appear;
}
.services-process_blocks-top_item.active
  .services-process_blocks-top_item_title {
  font-size: 32px;
  transition-duration: 0.3s;
}

@include bp($desktop) {
  .services-process_blocks-bot_item,
  .services-process_blocks-top_item {
    width: 16.9%;
  }

  .services-process_blocks-bot_item.active,
  .services-process_blocks-top_item.active {
    width: 32.4%;
  }
  .services-process_blocks-bot_item_text_li {
    font-size: 16px;
  }
  .services-process_blocks-top_item_title {
    font-size: 20px;
  }
}

@include bp($desktopSmall) {
  .services-process_blocks-top {
    margin-top: 30px;
  }
  .services-process_blocks-top_item {
    padding: 44px 15px 44px 20px;
  }
  .services-process_blocks-bot_item {
    padding: 24px 15px 44px 20px;
  }
  .services-process_blocks-bot_item_text_li {
    font-size: 14px;
  }
}

@include bp($tabletLg) {
  .services-process_blocks-top_item_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
  }
  .services-process_blocks-top_item.active
    .services-process_blocks-top_item_title {
    font-size: 24px;
  }
  .services-process_blocks-bot_item_text {
    max-height: 280px;
  }
}

@include bp($mobile) {
  .services-process {
    padding-bottom: 0;
  }
  .services-process_blocks-top_item_title {
    display: none;
  }

  .services-process_blocks-top_item.active
    .services-process_blocks-top_item_title {
    display: block;
  }
  .services-process_blocks-bot_item.active,
  .services-process_blocks-top_item.active {
    width: 100%;
  }

  .services-process_blocks-top_item .circle {
    left: 9px;
  }

  .services-process_blocks-top_item.check.first::before {
    left: 16px;
  }

  .services-process_blocks-top_item.active .circle {
    left: 27px;
  }

  .services-process_blocks-top_item.active::after {
    left: 20px;
  }

  .services-process_title {
    font-size: 36px;
  }

  .services-process_desc {
    font-size: 18px;
  }

  .services-process {
    padding-top: 60px;
  }

  .services-process_blocks-bot_item,
  .services-process_blocks-top_item {
    width: 32px;
  }

  .services-process_blocks-top_item.check
    .services-process_blocks-top_item_title {
    display: none;
  }

  .services-process_blocks-top_item.active
    .services-process_blocks-top_item_title {
    font-size: 22px;
  }
  .services-process_blocks-bot_item_text_li {
    font-size: 12px;
    line-height: 14px;
  }
  .services-process__arrow {
    transform: rotate(-90deg) translateY(-12px);
  }
  /*#828282;*/
}
</style>

<script>
export default {
  name: 'ServicesPageProcess',
  props: {
    header: { type: Object, required: true },
    items: { type: Array, required: true }
  },
  data() {
    return {
      activeProces: 0
    }
  },
  mounted() {
    this.chooseProcess(1)
    this.$refs.serviceItems.forEach((el) => {
      el.style.opacity = '1'
    })
    this.$refs.serviceItemsTitle.forEach((el) => {
      el.style.removeProperty('color')
    })
  },
  methods: {
    chooseProcess(data) {
      const processBlocks = document.querySelectorAll('[process]')
      processBlocks.forEach((item, i) => {
        item.classList.remove('check')
        item.classList.remove('active')
        if (item.getAttribute('data') < data) {
          item.classList.add('check')
          // eslint-disable-next-line eqeqeq
        } else if (item.getAttribute('data') == data) {
          item.classList.add('active')
        }
      })
    }
  }
}
</script>
