<template>
  <LazyPicture
    :lazy-background="true"
    :src-image="showcaseData.image.url"
    :src-thumb="showcaseData.image.sizes.thumbnail"
    class="slider"
  >
    <video
      v-if="showcaseData.add_video && showcaseData.video"
      autoplay
      muted
      loop
      class="mainVideo"
    >
      <source :src="showcaseData.video" type="video/mp4" />
    </video>

    <div class="container container--slider">
      <div class="slider__outer">
        <div class="slide__content">
          <div class="slide__title">
            {{ title }}
          </div>
          <VTLink
            :link-data="buttonData"
            vt-class="slider__btn btn white-text xl"
          >
            <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />
            <span>{{ buttonData.text }}</span>
          </VTLink>
        </div>
        <div id="slide__switcher" class="slide__switcher">
          <MainPageHeaderBusiness
            v-for="(business, index) in businesses"
            :key="index"
            :data="business"
            :is-active="activeBusiness === index"
            @vt-click="activeBusiness = index"
          />
        </div>
      </div>
    </div>
  </LazyPicture>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/variables';
@import '../../../../assets/scss/core/mixins';

.slider {
  display: flex;
  min-height: calc(100vh + 1px);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  &__outer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex: 1 0 100%;
    @include bp($tabletLg) {
      flex-direction: column;
      margin: 0 -30px;
    }
    @include bp(768) {
      overflow: visible;
    }
    @include bp($mobile) {
      margin: 0 -20px;
    }
  }
  &__btn {
    padding: 11px 30px 11px 36px;
    @include bp($desktopHd + 1, min) {
      margin-bottom: 20px;
    }
  }
  @include bp($mobile + 1, min) {
    background-position: center !important;
  }
  @media (max-width: #{1690}px) and (min-width: #{1440 + 1}px) and (min-height: #{960}px) {
    background-position: left 20% center !important;
  }
  @media (max-width: #{1480}px) and (min-width: #{680 + 1}px) and (min-height: #{940}px) {
    background-position: left -28vh center !important;
    min-height: 940px;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{768}px) {
    background-position: left -200px center !important;
  }
  @media (max-width: #{1440}px) and (min-width: #{680 + 1}px) and (min-height: #{768 + 1}px) {
    background-position: left -220px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{720 + 1}px) {
    background-position: left -190px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{720 + 1}px) {
    background-position: left -190px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{680}px) {
    background-position: left -175px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{640}px) {
    background-position: left -160px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{640}px) {
    background-position: left -150px center !important;
  }
  @media (max-width: #{1280}px) and (min-width: #{680 + 1}px) and (max-height: #{645 + 1}px) {
    background-position: left 0 center !important;
  }
  @media (max-width: #{1024}px) and (min-width: #{680 + 1}px) and (max-height: #{680}px) {
    background-position: left -16vh center !important;
  }
  @media (max-width: #{1024}px) and (min-width: #{768 + 1}px) and (max-height: #{645 + 1}px) {
    background-position: left 0 center !important;
  }
  @media (max-width: #{1024}px) and (min-width: #{680 + 1}px) and (min-height: #{940}px) {
    background-position: left -28vh center !important;
    min-height: 940px;
  }
  @include bp($tablet) {
    background-image: url(~assets/img/main-tablet.jpg) !important;
    background-position: left 30% center !important;
  }
  @media all and (max-width: #{$tablet}px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    background-image: url(~assets/img/main-tabletx2.jpg) !important;
  }
  @include bp(768) {
    min-height: auto;
    background-image: url(~assets/img/main-mobilex2.jpg) !important;
  }
  @media all and (max-width: #{680}px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    background-image: url(~assets/img/main-mobilex2.jpg) !important;
  }
  @media all and (max-width: #{768}px) and (min-width: #{$mobileSmall + 1}px) {
    margin-bottom: 155px;
    background-position: center -5vw !important;
  }
  @include bp($mobileSmall) {
    margin-bottom: 135px;
    background-position: center -5vw !important;
  }
  @include bp($mobileSmall) {
    background-position: center -3vw !important;
  }
  @include bp($tablet + 1, min) {
    overflow: hidden;
  }
}

.before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: ' ';
  border-radius: 50%;
  display: block;
  width: 500px;
  height: 500px;
  text-align: center;
  transition: box-shadow 1s ease-out;
  z-index: 1;
  box-shadow: inset 0 0 0 0 #f05722;
}

.slide {
  &__switcher {
    display: flex;
    margin-top: 34vh;
    align-self: flex-start;
    @include bp($desktop) {
      margin-top: 22vh;
    }
    @include bp($tabletLg + 1, min) {
      max-width: 290px;
      flex-direction: column;
      transform: translateX(60px);
    }
    @include bp($tabletLg) {
      height: 155px;
      width: 100%;
      margin: 0;
    }
    @media all and (max-width: #{768}px) and (min-width: #{$mobileSmall + 1}px) {
      position: absolute;
      bottom: -155px;
    }
    @include bp($mobileSmall) {
      position: absolute;
      height: 135px;
      bottom: -135px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 0 0 60%;
    @include bp($desktopHd + 1, min) {
      margin: 0 6.5% calc(7vh - 20px) auto;
    }
    @include bp($desktopHd) {
      margin: 0 10.5% 34px 0;
    }
    @include bp($desktop) {
      min-width: 620px;
      margin: 0 auto 34px 0;
    }
    @include bp($tabletLg) {
      padding: 0 30px;
      min-width: auto;
      margin: auto 0 5.7vh 0;
      align-self: self-end;
      flex: none;
    }
    @include bp($tablet) {
      padding: 0 20px;
    }
    @include bp(768) {
      min-height: 87vw;
      align-items: flex-start;
      align-content: flex-end;
    }
    @include bp($mobileSmall) {
      min-height: 85vw;
    }
    @include bp(440) {
      margin-bottom: 30px;
      min-height: 105vw;
    }
  }
  &__title {
    padding-right: 25px;
    flex: 0 0 770px;
    margin: 0 auto 20px 0;
    font: 800 48px/1.1 $loadedFamily;
    color: white;
    @include bp($desktopHd) {
      font-size: 40px;
    }
    @include bp($tablet) {
      flex: 0 1 100%;
      padding: 0;
    }
    @include bp($mobile) {
      font-size: 30px;
      line-height: 1.2;
    }
    @include bp($mobileSmall) {
      font-size: 24px;
    }
    @media (max-width: #{980}px) and (max-height: #{400 + 1}px) {
      font-size: 28px !important;
    }
  }
  &__btn {
    @include bp($desktopHd + 1, min) {
      margin-bottom: 20px;
    }
  }
  &__switcher_item {
    padding: 0 38px 0 40px;
    margin-bottom: 52px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
    @include bp($tabletLg) {
      &:not(.active) *:not(.arrow) {
        opacity: 0;
        height: 0;
        width: 0;
        visibility: hidden;
        transition: 0s;
        transform: translate3d(0, 100vh, 0);
      }
    }
    .btn {
      margin-top: -60px;
      opacity: 0;
      transition: 0.5s;
      @include bp($tabletLg) {
        display: none;
        min-width: 200px;
      }
    }
    &::before {
      content: '';
      width: 2px;
      height: 0;
      background: #f05722;
      transition: 0.3s;
      margin-right: 40px;
      position: absolute;
      top: 0;
      left: 0;
      @include bp($tabletLg) {
        display: none;
      }
    }
    &:hover {
      .slide__switcher_item_title {
        color: #f05722;
      }
      .slide__switcher_item_desc {
        margin-top: 20px;
        opacity: 1;
      }
      &::before {
        height: 100%;
      }
      .btn {
        margin-top: 0;
        opacity: 1;
      }
    }
    &.active {
      @include bp($tabletLg) {
        & > *:not(.arrow) {
          transition: 0.3s transform ease-in-out 0.15s;
          transform: translateX(0);
        }

        .slide__switcher_item_title {
          color: #f05722;
          display: flex;
          font-size: 24px;
          opacity: 1;
        }
        .slide__switcher_item_desc {
          display: flex;
          opacity: 1;
          margin-top: 15px;
          font-size: 18px;
        }
        .slide__switcher_item_arrow {
          display: none;
        }
        .btn {
          display: flex;
          opacity: 1;
          margin-top: 0;
        }
      }
      @include bp($mobileSmall) {
        .slide__switcher_item_desc {
          font-size: 12px;
        }
        .slide__switcher_item_title {
          font-size: 18px;
        }
      }
    }
    @include bp($tabletLg) {
      margin: 0;
      padding: 4.2vh 28px 10px 28px;
      background: #0d0d0d;
      display: flex;
      width: 8%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &.active {
        background: black;
        width: 84%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 30px;
        @include bp($tablet) {
          &::before {
            display: none;
          }
        }
      }
    }
    @include bp($mobileSmall) {
      padding: 4.2vh 10px 10px 10px;
      width: 12.5%;
      &.active {
        width: 75%;
        padding: 25px 10px 10px 20px;
      }
    }
  }
  &__switcher_item_desc {
    font: 500 14px/1.3 $loadedFamily;
    margin-top: -65px;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    min-height: 65px;
    color: #ffffff;
    opacity: 0;
    @include bp($mobileSmall) {
      min-width: auto;
    }
  }
  &__switcher_item_title {
    font-size: 28px;
    color: white;
    @include bp($tabletLg + 1, min) {
      span {
        display: block;
      }
    }
    @include bp($tabletLg) {
      font-size: 24px;
    }
  }
  &__switcher_item_arrow {
    display: none;
    right: -2px;
    position: relative;
    &:before,
    &:after {
      top: 0;
      background: #ffffff;
    }
    @include bp($tabletLg) {
      display: flex;
      max-width: none;
    }
  }
}
</style>

<script>
import MainPageHeaderBusiness from '@/components/pages/main/header/MainPageHeaderBusiness'

export default {
  name: 'MainPageHeader',
  components: {
    MainPageHeaderBusiness
  },
  props: {
    title: { type: String, required: true },
    showcaseData: { type: Object, required: true },
    buttonData: { type: Object, required: true },
    businesses: { type: Array, required: true }
  },
  data() {
    return {
      activeBusiness: 0
    }
  },
  mounted() {
    document
      .querySelector('.slide__content .slider__btn')
      .addEventListener('click', () => {
        this.scrollTo('#contact_form')
      })
  },
  methods: {
    scrollTo(item) {
      const wrapper = document.querySelector('html')
      const header = document.querySelector('header')
      const target = document.querySelector(item)
      const checkVw = () => {
        if (window.innerWidth >= 480) {
          return 80
        } else {
          return 20
        }
      }
      const count =
        target.offsetTop - wrapper.scrollTop - header.offsetHeight + checkVw()
      wrapper.scrollBy({ top: count, left: 0, behavior: 'smooth' })
    }
  },
  head() {
    return {
      script: [
        {
          src: `https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.scrollBy`,
          body: true
        }
      ]
    }
  }
}
</script>
