<template>
  <div
    class="slide__switcher_item"
    :class="{ active: isActive }"
    @click="$emit('vt-click')"
  >
    <!-- eslint-disable-next-line vue/no-v-html -->
    <span class="slide__switcher_item_title" v-html="title"></span>
    <div class="slide__switcher_item_desc">{{ description }}<br /></div>
    <!--    <VTLink-->
    <!--      :link-data="data.business.acf.button"-->
    <!--      vt-class="slider_btn btn white-text sm"-->
    <!--      vt-style="padding: 7px 20px 7px 16px; font-size: 16px;"-->
    <!--    >-->
    <!--      <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />-->
    <!--      <span style="margin-left:9px;">{{ buttonText }}</span>-->
    <!--    </VTLink>-->
    <i class="arrow slide__switcher_item_arrow"></i>
  </div>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/variables';
@import '../../../../assets/scss/core/mixins';
</style>

<script>
export default {
  name: 'MainPageHeaderBusiness',
  props: {
    data: { type: Object, required: true },
    isActive: { type: Boolean, required: false, default: false }
  },
  computed: {
    title() {
      return this.data.override.title
        ? this.wrapFirstWord(this.data.title)
        : this.wrapFirstWord(this.data.business.acf.title)
    },
    description() {
      return this.data.override.description
        ? this.data.description
        : this.data.business.acf.description
    },
    buttonText() {
      return this.data.override.button_text
        ? this.data.button_text
        : this.data.business.acf.button.text
    }
  },
  methods: {
    wrapFirstWord(val) {
      const words = val.split(/\s+/)
      return `<span>${words.slice(0, 1).join(' ')}&nbsp;</span>${words
        .slice(1)
        .join(' ')}`
    }
  }
}
</script>
