<template>
  <section class="badges">
    <div class="footer__awords container">
      <img
        v-for="(item, index) in items"
        :key="index"
        :src="item.url"
        alt=""
        :shown="index < items.length ? '500' : null"
        :shown_delay="index < items.length ? '100' : null"
        :shown_type="index < items.length ? 'fromTop' : null"
        :class="index === items.length ? 'last_award' : null"
      />
    </div>
  </section>
</template>

<style lang="scss">
@import '../../../assets/scss/core/variables';
@import '../../../assets/scss/core/mixins';

.badges {
  background: #000000;
  @include bp($tablet) {
    overflow: hidden;
  }
}

.footer {
  &__awords {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    @include bp($tablet + 1, min) {
      padding-top: 42px;
      padding-bottom: 42px;
    }
    @include bp($desktop + 1, min) {
      padding-top: 40px;
      padding-bottom: 33px;
    }
    @include bp($tablet) {
      margin: 0 -15px;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include bp($mobile) {
      margin: 0 -20px;
    }

    img {
      filter: grayscale(100%);
      transition: 0.5s;
      @include bp($desktop) {
        max-width: 115px;
        max-height: 115px;
      }
      @include bp($tablet) {
        width: calc(20% - 30px);
        margin: 0 15px;
      }
      @include bp($mobile) {
        width: calc(50% - 40px);
        margin: 0 20px 20px;
      }
      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}
</style>

<script>
export default {
  name: 'MainPageBadges',
  props: {
    items: { type: Array, required: true }
  }
}
</script>
