<template>
  <div class="container">
    <div class="about">
      <div
        id="about_title"
        class="about__title"
        shown="500"
        shown_delay="0"
        shown_type="fromBottom"
      >
        {{ headerData.title }}
      </div>
      <div
        id="about_desc"
        class="about__desc"
        shown="500"
        shown_delay="200"
        shown_type="fromBottom"
      >
        {{ headerData.description }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/variables';
@import '../../../assets/scss/core/mixins';

.about {
  color: #000000;
  display: flex;
  padding: 50px 0;
  @include bp($mobile + 1, min) {
    padding: 50px 0 64px;
  }
  @include bp($desktop + 1, min) {
    padding: 115px 0;
    align-items: center;
  }
  @include bp($desktop) {
    align-items: flex-start;
    flex-direction: column;
  }
  &__title {
    font-size: 36px;
    font-weight: 800;
    line-height: 1;
    flex-grow: 2;
    margin-right: 30px;
    max-width: 370px;
    @include bp($mobile + 1, min) {
      font-size: 56px;
    }
    @include bp($desktop + 1, min) {
      font-size: 64px;
    }
    @include bp($desktop) {
      margin: 0 0 20px 0;
    }
  }
  &__desc {
    font-size: 18px;
    line-height: 1.5;
    max-width: 770px;
    @include bp($mobile + 1, min) {
      font-size: 22px;
    }
    @include bp($desktop + 1, min) {
      font-size: 24px;
    }
  }
}
</style>

<script>
export default {
  name: 'MainPageAboutUs',
  props: {
    headerData: { type: Object, required: true }
  }
}
</script>
