<template>
  <div class="bg-slider_block">
    <div class="container">
      <div class="sdc_block">
        <div class="sdc_block__title">
          {{ companyHeaderData.title }}
        </div>
        <div class="sdc_block__description">
          {{ companyHeaderData.description }}
        </div>
        <VTLink
          v-if="showCompanyButton"
          :link-data="companyButtonData"
          vt-class="slider_btn btn white-text"
        >
          <i class="btn__arrow"></i>
          <span>{{ companyButtonData.text }}</span>
        </VTLink>
      </div>
      <div class="pe_block">
        <div class="pe_block__title">
          {{ experienceHeaderData.title }}
        </div>
        <div class="pe_block__items">
          <div
            v-for="(item, index) in experienceItems"
            :key="index"
            class="pe_block__item"
            :class="{ active: activeExperienceItem == index }"
            @click="activeExperienceItem = index"
          >
            {{ item.title }}
          </div>
        </div>
        <VTLink
          v-if="showExperienceButton"
          :link-data="experienceButtonData"
          vt-class="slider_btn btn white-text"
        >
          <i class="btn__arrow"></i>
          <span>{{ experienceButtonData.text }}</span>
        </VTLink>
        <div
          class="bg-slider_block_background"
          :style="
            'background-image: url(' +
              experienceItems[activeExperienceItem].image.url +
              ')'
          "
        ></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/mixins';
@import '../../../assets/scss/core/variables';

.bg-slider_block {
  background: black;
  width: 100%;
  position: relative;
  @include bp($desktop - 180, min) {
    padding: 70px 0 140px;
  }
  @include bp($desktop + 1, min) {
    padding: 220px 0 180px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @include bp($desktop - 180) {
      flex-direction: column;
      padding: 0;
    }
  }
  .btn {
    margin-top: 50px;
    z-index: 2;
    font-size: 22px;
    padding: 13px 39px 11px 21px;
    span {
      margin-left: 11px;
    }
    &:hover {
      span {
        transform: translateX(-19px);
      }
    }
  }
}

.sdc_block {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  z-index: 2;
  @include bp($desktop - 180) {
    max-width: 100%;
    padding: 70px 30px 100px;
    background: #000000;
  }
  @include bp($tablet) {
    padding-bottom: 90px;
  }
  @include bp($mobileSmall) {
    padding: 50px 20px 60px;
  }
  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.1;
    color: #ffffff;
    z-index: 2;
    @include bp($desktop - 180) {
      max-width: 480px;
      line-height: 1.2;
    }
  }
  &__description {
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #ffffff;
    max-width: 470px;
    z-index: 2;
    @include bp($desktop) {
      font-size: 24px;
      margin-top: 40px;
    }
    @include bp($desktop - 180) {
      max-width: 100%;
      line-height: 1.5;
    }
    @include bp($tablet) {
      line-height: 1.3;
    }
    @include bp($mobileSmall) {
      font-size: 18px;
      line-height: 1.5;
      margin-top: 20px;
    }
  }
  .btn {
    margin-top: auto;
    @include bp($desktop - 180) {
      margin: 40px 0 0;
    }
    @include bp($mobileSmall) {
      margin-top: 30px;
    }
  }
}

.pe_block {
  max-width: 470px;
  @include bp($desktop - 180) {
    max-width: 100%;
    padding: 115px 30px 135px;
    position: relative;
  }
  @include bp($tablet) {
    padding-top: 130px;
  }
  &__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    color: #ffffff;
    z-index: 2;
    position: relative;
  }
  &__items {
    margin-top: 50px;
    z-index: 2;
    position: relative;
    @include bp($desktop - 180) {
      max-width: 500px;
      margin: 50px 0 0 30px;
    }
    @include bp($mobileSmall) {
      margin: 38px 0 0 10px;
    }
  }
  &__item {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    cursor: pointer;
    @include bp($desktop - 180, min) {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    @include bp($mobileSmall) {
      font-size: 16px;
    }
    &.active {
      font-weight: 800;
      font-size: 30px;
      color: #ffffff;
      opacity: 1;
      overflow: unset;
      white-space: normal;
      @include bp($mobileSmall) {
        font-size: 18px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -30px;
        height: 100%;
        width: 2px;
        background: #f05722;
        @include bp($mobileSmall) {
          left: -10px;
        }
      }
    }
  }
  .btn {
    @include bp($desktop - 180) {
      margin: 50px 0 0 30px;
    }
    @include bp($mobileSmall) {
      margin: 40px 0 0 0;
    }
  }
}

.sdc_block,
.pe_block {
  @include bp($mobileSmall) {
    padding: 50px 20px 60px;
  }
  &__title {
    @include bp($desktop) {
      font-size: 40px;
    }
    @include bp($mobileSmall) {
      font-size: 24px;
    }
  }
  .btn {
    @include bp($mobileSmall) {
      font-size: 18px;
      padding: 16px 32px 13px 22px;
      span {
        margin-left: 9px;
      }
    }
  }
}

.bg-slider_block_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-position: right;
  background-repeat: no-repeat;
}
</style>

<script>
export default {
  name: 'MainPageCompany',
  props: {
    companyHeaderData: { type: Object, required: true },
    companyButtonData: { type: Object, required: true },

    experienceHeaderData: { type: Object, required: true },
    experienceItems: { type: Array, required: true },
    experienceButtonData: { type: Object, required: true }
  },
  data() {
    return {
      activeExperienceItem: 0
    }
  },
  computed: {
    showCompanyButton() {
      return (
        this.companyButtonData.text.length > 0 &&
        this.companyButtonData.url.length > 0
      )
    },
    showExperienceButton() {
      return (
        this.experienceButtonData.text.length > 0 &&
        this.experienceButtonData.url.length > 0
      )
    }
  }
}
</script>
