<template>
  <section>
    <div class="reviews">
      <div class="container reviews_container">
        <div>
          <div class="reviews__title heading2">
            {{ headerData.title }}
          </div>
          <div
            class="reviews__description"
            shown="500"
            shown_delay="200"
            shown_type="fromTop"
          >
            {{ headerData.description }}
          </div>
        </div>
        <div class="reviews__content">
          <div class="reviews__review">
            <div class="reviews__photos">
              <div class="reviews-arrow array_left" @click="clientsShift--">
                <img src="~assets/img/arr_left.png" alt="" />
              </div>
              <div
                v-for="(item, index) in clients"
                id="photo"
                :key="index"
                class="photos"
                :class="{ active: index === activeClientIndex }"
                :style="'order:' + clientsOrders[index]"
                @click="clientsShift = -clients.indexOf(item)"
              >
                <div
                  class="reviews__photo"
                  :class="{ active: index === activeClientIndex }"
                  shown="500"
                  shown_delay="300"
                  shown_type="fromTop"
                >
                  <img :src="item.acf.photo.url" alt="" />
                  <img
                    :src="item.acf.country"
                    class="reviews__photo_country"
                    alt=""
                  />
                </div>
              </div>
              <div class="reviews-arrow array_right" @click="clientsShift++">
                <img src="~assets/img/arr_right.png" alt="" />
              </div>
            </div>
            <div
              ref="sliderText"
              class="reviews__text active"
              shown="500"
              shown_delay="700"
              shown_type="fromTop"
            >
              <div class="reviews__text_comment">
                <span id="review0">{{ activeClient.acf.description }}</span>
              </div>
              <div
                class="reviews__person"
                shown="500"
                shown_delay="800"
                shown_type="fromTop"
              >
                <div class="reviews__person_name">
                  <span id="name0">{{ activeClient.acf.name }}</span>
                </div>
                <div class="reviews__person_profesion">
                  <span id="position0">{{ activeClient.acf.title }}</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="reviews__video"
            shown="500"
            shown_delay="800"
            shown_type="fromTop"
            @click="showMediaPopup = true"
          >
            <div class="reviews__video_title">
              {{ videoText }}
            </div>
            <div class="reviews__video_ui">
              <div class="reviews__video_ui_play">
                <img src="~assets/img/video.png" alt="" />
              </div>
              <div class="reviews__video_ui_text">
                {{ videoButtonData.text }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <MediaPopup
      v-if="showMediaPopup"
      :data="videoButtonData"
      @close="showMediaPopup = false"
    />
  </section>
</template>

<style lang="scss">
@import '../../../assets/scss/core/mixins';
@import '../../../assets/scss/core/variables';

.reviews {
  padding: 50px 0 60px;
  background-size: cover;
  background-image: url(~assets/img/bg.jpg);
  background-repeat: no-repeat;
  @include bp($mobile + 1, min) {
    padding: 80px 0;
  }
  @include bp($desktop + 1, min) {
    padding: 135px 0 100px 0;
  }
  @include bp($desktop) {
    background-position: center top;
  }
  @include bp(360) {
    min-height: 975px;
  }
  @include bp(360) {
    min-height: 1010px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1;
    color: white;
    @include bp($mobile + 1, min) {
      margin-bottom: 30px;
    }
    @include bp($desktop) {
      font-size: 56px;
    }
    @include bp($mobile) {
      font-size: 36px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    color: white;
    @include bp($mobile + 1, min) {
      font-size: 22px;
      margin-bottom: 60px;
    }
    @include bp($tablet + 1, min) {
      padding-right: 120px;
    }
    @include bp($desktopSmall + 1, min) {
      margin-bottom: 120px;
      padding-right: 75px;
      line-height: 1.5;
      font-size: 24px;
    }
  }
  &__text_comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #ffffff;
    min-height: 92px;
    @include bp($mobile + 1, min) {
      font-size: 22px;
    }
    span {
      display: block;
    }
  }
  &__person {
    margin-top: 22px;
  }
  &__person_name {
    font-size: 24px;
    color: #f05722;
  }
  &__person_profesion {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #ffffff;
    opacity: 0.7;
  }
  &__photos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 470px;
    min-height: 100px;
    @include bp($mobile) {
      max-width: 100%;
      justify-content: center;
      margin: 20px 20px 0;
    }
    .photos {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @include bp($mobile) {
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
  }
  &__photo {
    margin-right: 45px;
    width: 64px;
    height: 64px;
    position: relative;
    cursor: pointer;
    @include bp($mobile) {
      display: none;
      margin-right: 0;
    }
    img {
      filter: grayscale(100%);
      width: 100%;
    }
    &.active {
      width: 100px;
      height: 100px;
      @include bp($mobile) {
        display: flex;
        margin: auto;
      }
      img {
        filter: grayscale(0%);
      }
    }
  }
  &__photo_country {
    filter: grayscale(0%) !important;
    width: 24px !important;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @include bp($desktop) {
      margin-top: 50px;
      flex-direction: column;
    }
  }
  &__review {
    display: flex;
    flex-direction: column;
    @include bp($desktop + 1, min) {
      max-width: 570px;
    }
  }
  &__video {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    @include bp($desktop) {
      align-self: flex-start;
      margin-top: 55px;
    }
    @include bp($tablet) {
      margin-top: 80px;
    }
    @include bp($mobile) {
      margin-top: 70px;
    }
  }
  &__video_title {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: #ffffff;
    @include bp($desktop + 1, min) {
      max-width: 370px;
    }
    @include bp($tablet) {
      max-width: 370px;
    }
    @include bp($mobile) {
      font-size: 24px;
    }
  }
  &__text {
    margin-top: 30px;
    @include bp($mobile) {
      margin-top: 20px;
    }
    @include bp($desktop + 1, min) {
      min-height: 224px;
    }
    @include bp($tablet) {
      min-height: 192px;
    }
    @include bp(680) {
      min-height: 217px;
    }
    @include bp(360) {
      min-height: 217px;
    }
    @include bp(360) {
      min-height: 260px;
    }
    .reviews__text_comment {
      transform: translateY(30px);
    }
    .reviews__person_profesion,
    .reviews__person_name {
      transform: translateY(50px);
    }
    .reviews__person_profesion,
    .reviews__person_name,
    .reviews__text_comment {
      opacity: 0;
      transition: 0.17s ease-out;
      visibility: hidden;
    }

    &.active {
      .reviews__person_profesion,
      .reviews__person_name,
      .reviews__text_comment {
        opacity: 1;
        visibility: visible;
        transition: 0.3s ease-in;
        transform: translateY(0);
      }
      .reviews__person_profesion,
      .reviews__person_name {
        transition-delay: 0.1s;
      }
    }
  }
  &__video_ui {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    @include bp($mobile) {
      margin-top: 30px;
    }
  }
  &__video_ui_text {
    margin-left: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    @include bp($mobile) {
      margin-left: 20px;
    }
  }
}

@include bp($mobile) {
  .array_left {
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 5px;
  }

  .array_right {
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 5px;
  }
}
</style>

<script>
export default {
  props: {
    showItems: { type: Number, required: false, default: 5 },
    headerData: { type: Object, required: true },
    clients: { type: Array, required: true },
    videoText: { type: String, required: true },
    videoButtonData: { type: Object, required: true }
  },
  data() {
    return {
      rawClientsShift: 0,
      showMediaPopup: false
    }
  },
  computed: {
    clientsShift: {
      get() {
        return this.rawClientsShift
      },
      set(valueNumber) {
        const numOfClients = this.clients.length
        this.rawClientsShift =
          ((valueNumber % numOfClients) + numOfClients) % numOfClients
      }
    },
    clientsOrders() {
      const resArray = []
      this.clients.forEach((client, index) => {
        let order = index + this.clientsShift
        if (order >= this.clients.length) {
          order %= this.clients.length
        }
        resArray.push(order)
      })
      return resArray
    },
    activeClientIndex() {
      return this.clientsOrders.indexOf(0)
    },
    activeClient() {
      return this.clients[this.activeClientIndex]
    }
  },
  mounted() {
    this.clientsAnimation()
    window.addEventListener('resize', this.clientsAnimation)
  },
  methods: {
    clientsAnimation() {
      let animateOnClickBy

      window.innerWidth > 640
        ? (animateOnClickBy = document.querySelectorAll('.reviews__photo'))
        : (animateOnClickBy = document.querySelectorAll('.reviews-arrow'))

      animateOnClickBy.forEach((img) => {
        img.addEventListener('click', () => {
          this.$refs.sliderText.classList.remove('active')
          setTimeout(() => {
            this.$refs.sliderText.classList.add('active')
          }, 300)
        })
      })
    }
  }
}
</script>
