<template>
  <div v-if="isOpen" id="cookieBanner" class="cookieBanner">
    <div class="cookieBanner__title">
      <div>
        Visartech Inc. values your privacy. We use cookies to ensure you get the
        best experience on our website.
      </div>
      <div class="cookieBanner__subtitle">
        <nuxt-link :to="{ name: 'cookie-policy' }">
          Learn more
        </nuxt-link>
      </div>
    </div>
    <div class="cookieBanner__button btn white-text xm" @click="accept">
      <i class="btn__arrow btn__arrow--white"></i>
      <span>Accept cookies</span>
    </div>

    <div class="cookieBanner__btn-close" @click="deny">
      <i class="close-btn"></i>
      Reject
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables';
@import '../../assets/scss/core/_mixins';

.cookieBanner {
  z-index: 51;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1340px;
  left: 50%;
  transform: translateX(-50%) translateZ(999px);
  align-items: flex-start;
  background: rgba(240, 87, 34, 0.95);
  padding: 39px 125px 27px 175px;
  box-sizing: border-box;
  display: flex;
  &::before {
    left: -80px;
    bottom: -10px;
    content: url(~assets/img/cookiesBanner.png);
    position: absolute;
    @include bp($desktop) {
      transform: scale(0.8);
      left: -25px;
      bottom: -35px;
    }
    @include bp($mobile) {
      display: none;
    }
  }
  &__title {
    padding-right: 20px;
    max-width: 670px;
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    color: #ffffff;
    @include bp($desktop) {
      font-size: 20px;
      line-height: 1.4;
    }
    @include bp($tabletLg) {
      font-size: 18px;
    }
    @include bp($mobile) {
      padding: 0;
    }
  }
  &__subtitle {
    color: #ffffff;
    align-self: flex-start;
    a {
      color: #000000;
      @include bp($tabletLg, min) {
        text-decoration: underline;
      }
    }
  }
  &__button {
    margin-left: 5%;
    padding: 7px 29px 7px 20px;
    border-color: #ffffff;
    flex-shrink: 0;
    @include bp($desktop) {
      margin-top: 30px;
      margin-left: auto;
    }
    @include bp($tabletLg) {
      margin: 20px auto 0 0;
      font-size: 18px;
      padding: 9px 24px 10px 21px;
    }
    @include bp($tablet + 1, min) {
      padding: 11px 27px 11px 21px;
      max-width: 246px;
    }
    .btn__arrow {
      min-width: 20px;
    }
  }
  &__btn-close {
    position: absolute;
    display: flex;
    top: 30px;
    right: 30px;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #ffffff;
    cursor: pointer;
    .close-btn {
      position: static;
      margin-right: 10px;
      &:before,
      &:after {
        background: #ffffff;
      }
    }
    @include bp($tabletLg) {
      top: 15px;
    }
    @include bp($mobile) {
      top: 25px;
    }
    @include bp($mobile) {
      right: 20px;
    }
  }
  @include bp($desktop, min) {
    border-radius: 30px 30px 0 0;
  }
  @include bp($desktop) {
    padding-right: 30px;
    padding-left: 200px;
  }
  @include bp($tabletLg) {
    padding-top: 55px;
    flex-direction: column;
  }
  @include bp($mobile) {
    padding: 64px 20px 27px;
  }
}
</style>

<script>
export default {
  name: 'CookieBanner',
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    areCookiesAccepted() {
      if (process.browser) {
        return this.getCookie('CookiesAccepted') === 'true'
      }
      return false
    }
  },
  created() {
    if (!this.areCookiesAccepted) {
      this.isOpen = true
    }
  },
  methods: {
    accept() {
      if (process.browser) {
        this.isOpen = false
        this.setCookie('CookiesAccepted', true, 365)
      }
    },
    deny() {
      if (process.browser) {
        this.isOpen = false
        this.setCookie('CookiesAccepted', false, 1)
      }
    },
    setCookie(cname, cvalue, exdays) {
      const d = new Date()
      d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000)
      const expires = 'expires=' + d.toUTCString()
      document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/'
    },
    getCookie(cname) {
      const name = cname + '='
      const ca = document.cookie.split(';')
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i]
        while (c.charAt(0) === ' ') {
          c = c.substring(1)
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length)
        }
      }
      return null
    }
  }
}
</script>
