<template>
  <nav
    id="mobile_header"
    :class="{ active: isMobileMenuOpen }"
    class="mobile_header"
  >
    <ul class="mobile_header__items">
      <li @click="openMobDrop($event, 'services')">
        <div
          class="mobile_header__item drop"
          :class="{ active: openedMobileMenuDropdown === 1 }"
        >
          <nuxt-link :to="{ name: 'services' }">
            Services
          </nuxt-link>
          <!--          <div class="mobile_header__item_arrow"-->
          <!--               @click="-->
          <!--               openedMobileMenuDropdown === 1-->
          <!--                ? (openedMobileMenuDropdown = -1)-->
          <!--                : (openedMobileMenuDropdown = 1)">-->
          <!--          </div>-->
        </div>
        <!--        <div v-if="openedMobileMenuDropdown === 1"-->
        <!--             class="mobile_dropdown">-->
        <!--              <nuxt-link-->
        <!--                v-for="(item, index) in servicesBlock"-->
        <!--                :to="{ name: item.acf.service_link }"-->
        <!--                class="mobile_dropdown-item">-->
        <!--                {{ item.acf.services_block_title }}-->
        <!--              </nuxt-link>-->
        <!--        </div>-->
      </li>

      <li @click="openMobDrop($event, 'portfolio')">
        <nuxt-link :to="{ name: 'portfolio' }" class="mobile_header__item">
          Portfolio
        </nuxt-link>
      </li>

      <!--      <li @click="openMobDrop($event, 'businesses')">-->
      <!--        <div class="mobile_header__item drop"-->
      <!--             :class="{ active: openedMobileMenuDropdown === 2 }">-->
      <!--             <nuxt-link :to="{ name: 'businesses' }">Businesses</nuxt-link>-->
      <!--          <div class="mobile_header__item_arrow"-->
      <!--            @click="-->
      <!--            openedMobileMenuDropdown === 2-->
      <!--              ? (openedMobileMenuDropdown = -1)-->
      <!--              : (openedMobileMenuDropdown = 2)">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div v-if="openedMobileMenuDropdown === 2" class="mobile_dropdown">-->
      <!--          <nuxt-link-->
      <!--            :to="{ name: 'startup' }"-->
      <!--            class="mobile_dropdown-item">-->
      <!--            Startups-->
      <!--          </nuxt-link>-->
      <!--          <nuxt-link-->
      <!--            :to="{ name: 'enterprise' }"-->
      <!--            class="mobile_dropdown-item">-->
      <!--            Enterprises-->
      <!--          </nuxt-link>-->
      <!--          <nuxt-link-->
      <!--            :to="{ name: 'game' }"-->
      <!--            class="mobile_dropdown-item">-->
      <!--            Gaming-->
      <!--          </nuxt-link>-->
      <!--        </div>-->
      <!--      </li>-->

      <!--      <li @click="openMobDrop($event, 'industries')">-->
      <!--        <div-->
      <!--          class="mobile_header__item drop"-->
      <!--          :class="{ active: openedMobileMenuDropdown === 3 }">-->
      <!--          <nuxt-link-->
      <!--            :to="{ name: 'industries' }">-->
      <!--            Industries-->
      <!--          </nuxt-link>-->
      <!--          <div-->
      <!--            class="mobile_header__item_arrow"-->
      <!--            @click="-->
      <!--            openedMobileMenuDropdown === 3-->
      <!--              ? (openedMobileMenuDropdown = -1)-->
      <!--              : (openedMobileMenuDropdown = 3)">-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div v-if="openedMobileMenuDropdown == 3" class="mobile_dropdown">-->
      <!--          <nuxt-link-->
      <!--            v-for="item in industries"-->
      <!--            :to="{ name: 'industries' }"-->
      <!--            class="mobile_dropdown-item">-->
      <!--            {{ item.acf.industry_title }}-->
      <!--          </nuxt-link>-->
      <!--        </div>-->
      <!--      </li>-->

      <li @click="openMobDrop($event, 'blog')">
        <nuxt-link :to="{ name: 'blog' }" class="mobile_header__item">
          Blog
        </nuxt-link>
      </li>

      <!--      <li @click="openMobDrop($event, 'company')">-->
      <!--        <nuxt-link-->
      <!--          :to="{ name: 'company' }"-->
      <!--          class="mobile_header__item">-->
      <!--          Company-->
      <!--        </nuxt-link>-->
      <!--      </li>-->

      <li @click="openMobDrop($event, 'company')">
        <nuxt-link
          :to="{ name: 'contacts' }"
          class="mobile-menu__button btn white-text xm"
        >
          <i class="btn__arrow" />
          <span>Contacts</span>
        </nuxt-link>
      </li>

      <li>
        <div
          class="close-btn"
          @click="$root.$emit('close_mobile_menu', $event.target)"
        ></div>
      </li>
    </ul>
  </nav>
</template>

<style lang="scss">
@import '../../assets/scss/blocks/_cross';
@import '../../assets/scss/extends/arrow';
@import '../../assets/scss/core/_variables';
@import '../../assets/scss/core/_mixins';

.mobile_header {
  width: 320px;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: $mobileMenuBg;
  transition: 0.5s transform ease-in-out;
  transform: translate3d(-100%, 0, 0);
  &__items {
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    box-sizing: border-box;
    .nuxt-link-active {
      &:not(.mobile-menu__button) {
        color: #f05722;
      }
    }
  }
  &__item {
    font-size: 24px;
    color: #ffffff;
    position: relative;
    padding: 13px 25px 12px 30px;
    display: flex;
    align-items: center;
    a {
      color: $colorLink;
    }
    &.active {
      transition: 0.3s color ease-in-out;
      background: #f05722;
      color: white;
      .mobile_header__item_arrow {
        transition: 0.3s transform ease-in-out;
        transform: rotate(0) translateX(3px);
        &:after,
        &:before {
          background: #000000;
          transition: 0.3s color ease-in-out;
        }
      }
    }
  }
  &__item_arrow {
    @extend .arrow;
    transition: 0.3s transform ease-in-out;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 25px;
  }

  &.active {
    transition: 0.5s transform ease-in-out;
    transform: translate3d(0, 0, 0);
  }
}
.mobile-menu {
  &__button {
    margin: 50px 0 0 30px;
    padding-right: 28px;
    span {
      pointer-events: none;
    }
  }
}
.close-btn {
  cursor: pointer;
  @extend .cross;
}
.menu-opened {
  &:before {
    opacity: 0;
    transition: 0.5s;
  }
}

body.menu-opened {
  overflow: hidden;
  &:before {
    opacity: 1;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    z-index: 1000;
  }
}
</style>

<script>
import { mapGetters } from 'vuex'
import { FETCH_SERVICESBLOCK, FETCH_INDUSTRIES } from '@/store/actions.type'

export default {
  name: 'MobileMenu',
  props: {
    isMobileMenuOpen: { type: Boolean, required: true }
  },
  data() {
    return {
      openedMobileMenuDropdown: false
    }
  },
  computed: {
    ...mapGetters(['servicesBlock']),
    ...mapGetters(['industries'])
  },
  created() {
    // this.fetchServicesBlock();
    // this.fetchIndustries()
  },
  methods: {
    fetchServicesBlock() {
      this.$store.dispatch(FETCH_SERVICESBLOCK)
    },
    fetchIndustries() {
      this.$store.dispatch(FETCH_INDUSTRIES)
    },
    openMobDrop($event) {
      if ($event.target.classList.contains('mobile_header__item_arrow')) {
      }
      if ($event.target.tagName === 'A') {
        this.$root.$emit('close_mobile_menu')
      }
    }
  }
}
</script>
