<template>
  <div v-if="showThankYou" class="thanks-popup">
    <div class="thanks-popup__container">
      <h2 class="thanks-popup__title">Greetings!</h2>
      <p class="thanks-popup__subtitle">Thanks for your message.</p>
      <p class="thanks-popup__subtitle thanks-popup__subtitle--md">
        We'll get back to you within the next 12 hours.
      </p>
      <div class="thanks-popup__additional">
        <p class="thanks-popup__additional-description">
          Meanwhile, get to know us better or pick the best time for a call with
          our experts right away.
        </p>
      </div>
      <a
        href="https://go.oncehub.com/Visartech-Meetings"
        class="thanks-popup__btn-set btn black-text xm big_back btn"
        target="_blank"
      >
        <i class="arrow"></i>
        <span>Set Up Meeting</span>
      </a>
      <button class="thanks-popup__close" @click="setShowThankYou(false)">
        <i class="cross"></i>
      </button>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/mixins';

.thanks-popup {
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &__container {
    max-width: 800px;
    margin: auto;
    padding: 80px 20px 20px;
    position: relative;
    text-align: center;
    @include bp($mobileSmall) {
      padding-top: 55px;
    }
  }
  &__title {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 20px 0;
    color: #f05722;
    @include bp($tablet + 1, min) {
      font-size: 48px;
    }
    @include bp($desktop + 1, min) {
      font-size: 72px;
      font-weight: 800;
    }
  }
  &__subtitle {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    line-height: 1.5;
    font-size: 24px;
    @include bp($mobileSmall) {
      font-size: 20px;
    }
    &--md {
      font-size: 18px;
      line-height: 1.2;
      margin-top: 10px;
    }
  }
  &__additional {
    margin-top: 30px;
    padding-top: 27px;
    position: relative;
    &:before {
      content: '';
      width: 170px;
      height: 1px;
      left: 50%;
      top: 0;
      background: #f05722;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  &__additional-description {
    max-width: 570px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: #ffffff;
  }
  &__close {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 10px;
    .cross {
      position: static;
    }
    &:before,
    &:after {
      top: 16px;
      left: 12px;
    }
  }
  &__btn-set {
    color: #ffffff;
    padding: 7px 24px 7px 24px;
    margin: 30px auto 0;
    .arrow {
      &:after,
      &:before {
        background: #ffffff;
      }
    }
    span {
      font-size: 18px;
      margin-right: 0;
      display: inline-block;
    }
    &:hover {
      span {
        margin-right: 0;
        transform: translateX(10px);
      }
    }
  }
}
</style>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'ThankYou',
  computed: {
    ...mapGetters(['showThankYou'])
  },
  methods: {
    ...mapMutations(['setShowThankYou'])
  }
}
</script>
