<template>
  <footer>
    <div class="container">
      <div class="footer__info">
        <div class="footer_contacts">
          <div
            class="footer_contacts_title"
            shown="500"
            shown_delay="600"
            shown_type="fromBot"
          >
            Contacts
          </div>
          <div
            class="footer_contacts_line"
            shown="500"
            shown_delay="600"
            shown_type="fromBot"
          ></div>
          <div
            class="footer_contacts_item"
            shown="500"
            shown_delay="700"
            shown_type="fromBot"
          >
            {{ contacts.acf.phone.description }}
          </div>
          <div
            class="footer_contacts_item"
            shown="500"
            shown_delay="800"
            shown_type="fromBot"
          >
            {{ contacts.acf.email.description }}
          </div>
          <div class="footer_contacts_item">
            {{ contacts.acf.address.description }}
          </div>
          <nuxt-link
            id="contacts-btn"
            :to="{ name: 'contacts' }"
            class="slider_btn btn white-text xm big_back margin-footer"
          >
            <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />
            <span>More Contacts</span>
          </nuxt-link>
        </div>
        <div class="footer__links">
          <div
            class="footer_contacts_title"
            shown="500"
            shown_delay="600"
            shown_type="fromBot"
          >
            Hot Links
          </div>
          <div
            class="footer_contacts_line"
            shown="500"
            shown_delay="600"
            shown_type="fromBot"
          ></div>
          <ul class="footer__links_col">
            <li
              v-for="(link, index) in hotLinks"
              :key="index"
              shown="500"
              shown_delay="700"
              shown_type="fromBot"
            >
              <VTLink
                :key="index"
                :link-data="link.acf"
                vt-class="footer__links_item"
              >
                {{ link.acf.text }}
              </VTLink>
            </li>
          </ul>
          <div class="footer__socials">
            <a target="_blank" href="https://www.instagram.com/visartech/">
              <div class="footer__socials_item">
                <img src="~assets/img/inst.png" alt="" />
              </div>
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/visartech.studio/"
            >
              <div class="footer__socials_item">
                <img src="~assets/img/fb.png" alt="" />
              </div>
            </a>
            <a
              target="_blank"
              href="https://www.linkedin.com/company/visartech"
            >
              <div class="footer__socials_item">
                <img src="~assets/img/li.png" alt="" />
              </div>
            </a>
            <a target="_blank" href="https://twitter.com/VISARTECH">
              <div class="footer__socials_item">
                <img src="~assets/img/twi.png" alt="" />
              </div>
            </a>
            <a target="_blank" href="https://medium.com/@visartech">
              <div class="footer__socials_item" style="margin-right: 0;">
                <img src="~assets/img/md.png" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer_privacy">
        © 2020 Visartech Inc. All rights reserved. Registered in the U.S.
        Trademark Office
        <div class="footer_privacy_links">
          <nuxt-link :to="{ name: 'privacy-policy' }">Privacy Policy</nuxt-link>
          <nuxt-link :to="{ name: 'cookie-policy' }">Cookie Policy</nuxt-link>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';

.footer__info {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0 20px 0;
  justify-content: space-between;
}
footer {
  width: 100%;
  background: black;
  padding-bottom: 40px;
}

.footer_line {
  width: 100%;
  height: 1px;
  background: white;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  &_title {
    font-weight: 800;
    font-size: 46px;
    line-height: 110%;
    color: #ffffff;
  }
  &_line {
    width: 170px;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 1px;
    background: #f05722;
  }
  &_item {
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
    margin-top: 15px;
  }
  .btn {
    padding: 12px 39px 11px 40px;
    span {
      font-weight: 600;
      margin-left: 20px;
      font-size: 24px;
    }
  }
}
.footer__links {
  max-width: 430px;
}
.footer__links_col {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 10px;
  li {
    margin: 15px 15px 0;
    width: calc(50% - 30px);
    display: flex;
  }
}
.footer__links_item {
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: #f05722;
    transition: 0.3s ease-in-out;
  }
}

.footer__socials {
  display: flex;
}
.footer__socials_item {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin-top: 20px;
  border: 2px solid #f05722;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-footer {
  margin-top: 28px;
}

.footer_privacy {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  margin-top: 10px;
  color: #4f4f4f;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.footer_privacy_links {
  display: flex;
  justify-content: center;
}

.footer_privacy_links a {
  margin: 0 10px;
}
.footer_privacy a {
  color: #bdbdbd;
  transition: 0.3s color ease-out;
  &:hover {
    color: #ffffff;
    transition: 0.3s color ease-in;
  }
}

@include bp($desktopSmall) {
  .footer__socials {
    margin-top: 60px;
  }
  .footer__socials_item {
    margin: 0 10px 0 0;
  }
  .footer__links {
    max-width: 305px;
  }
  footer {
    padding-bottom: 30px;
  }
  .footer_privacy {
    margin-top: 30px;
  }
}

@include bp($tabletLg) {
  .footer_privacy a {
    display: block;
  }
  .footer_privacy {
    font-size: 17px;
  }
  .footer__socials_item {
    margin-right: 12px;
  }

  .footer_contacts {
    max-width: 300px;
  }
}

@include bp($tablet) {
  .footer_privacy a {
    display: block;
  }
  .footer_contacts {
    margin-bottom: 30px;
  }
}

@include bp($mobile) {
  .footer__socials {
    justify-content: space-between;
    margin-top: 80px;
  }
  .footer_privacy {
    font-size: 14px;
    line-height: 150%;
  }
  .footer_privacy_links {
    margin-bottom: 5px;
  }
  .footer__socials_item {
    width: 45px;
    height: 45px;
  }
  .footer__links_item {
    font-size: 18px;
  }
  .footer__info {
    flex-direction: column;
  }
  .footer__links {
    margin-top: 40px;
    max-width: 400px;
  }
  .footer__socials_item {
    margin-right: 9px;
  }
  footer {
    padding-bottom: 50px;
  }
}
</style>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'RwvFooter',
  computed: {
    ...mapGetters('api/options/contacts', ['contacts']),
    ...mapGetters('api/posts/hot-links', ['hotLinks'])
  },
  mounted() {
    document.querySelector('#contacts-btn').addEventListener('click', () => {
      this.scrollTo('.header')
    })
  },
  methods: {
    scrollTo(item) {
      const wrapper = document.querySelector('html')
      const target = document.querySelector(item)
      const count = target.offsetTop - wrapper.scrollTop
      wrapper.scrollBy({ top: count, left: 0, behavior: 'smooth' })
    }
  },
  head() {
    return {
      script: [
        {
          src: `https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.scrollBy`,
          body: true
        }
      ]
    }
  }
  // contacts-btn
}
</script>
