<template>
  <header
    :id="
      $route.path == '/startups' ||
      $route.path == '/enterprises' ||
      $route.path == '/gaming'
        ? 'blackMenu'
        : 'menu'
    "
    :class="{
      black_head:
        $route.path == '/startups' ||
        $route.path == '/enterprises' ||
        $route.path == '/gaming'
    }"
    class="header"
  >
    <div class="container container--header">
      <div class="header-inner">
        <nuxt-link to="/" class="menu__logo">
          <picture class="menu__picture">
            <source
              media="(min-width:1025px)"
              :srcset="require('@/assets/img/logo.svg')"
            />
            <source
              media="(min-width:481px)"
              :srcset="require('@/assets/img/logo_tablet.svg')"
            />
            <img
              :src="require('@/assets/img/logo_mob.svg')"
              alt="Visartech logo"
            />
          </picture>
          <img
            :src="require('@/assets/img/black_logo.svg')"
            alt="Visartech logo"
            class="black_logo"
          />
        </nuxt-link>
        <ul class="menu__items">
          <li
            class="menu_item"
            :class="{ active: $route.path == '/portfolio' }"
          >
            <nuxt-link class="menu_item" to="/portfolio/">
              Portfolio
            </nuxt-link>
          </li>
          <li class="menu_item" :class="{ active: $route.path == '/services' }">
            <nuxt-link
              id="services_menu"
              to="/services/"
              class="menu_item"
              style="position: relative;"
              :class="{ active: $route.path == '/services' }"
            >
              Services
            </nuxt-link>
          </li>

          <!--          <li class="menu_item" :class="{ active: $route.path == '/businesses' }">-->
          <!--            <nuxt-link-->
          <!--              to="/businesses"-->
          <!--              :class="{ active: $route.path == '/businesses' }"-->
          <!--              style="position: relative;"-->
          <!--              class="menu_item">-->
          <!--              Businesses-->
          <!--            </nuxt-link>-->
          <!--          </li>-->
          <!--          <li class="menu_item" :class="{ active: $route.path == '/industries' }">-->
          <!--            <nuxt-link-->
          <!--              id="industries_menu"-->
          <!--              to="/industries"-->
          <!--              :class="{ active: $route.path == '/industries' || dropdownInd }"-->
          <!--              style="position: relative;"-->
          <!--              class="menu_item">-->
          <!--              Industries-->
          <!--            </nuxt-link>-->
          <!--          </li>-->

          <li class="menu_item" :class="{ active: $route.path == '/blog' }">
            <nuxt-link
              to="/blog/"
              :class="{ active: $route.path == '/blog' }"
              class="menu_item"
            >
              Blog
            </nuxt-link>
          </li>

          <!--          <nuxt-link-->
          <!--            to="/company"-->
          <!--            :class="{ active: $route.path == '/company' }"-->
          <!--            class="menu_item">-->
          <!--            Company-->
          <!--          </nuxt-link>-->
        </ul>
        <div class="menu__icons">
          <div
            class="menu__burger"
            @click="$root.$emit('toggle_mob_header', $event.target)"
          >
            <div class="menu__burger-lines"></div>
          </div>
          <!--            <div-->
          <!--              id="search_menu"-->
          <!--              class="menu__search">-->
          <!--              <img :src="require('@/assets/img/search.svg')" />-->
          <!--            </div>-->
          <nuxt-link to="/contacts/" class="menu__button btn white-text xm">
            <i class="btn__arrow" />
            <span>Contacts</span>
          </nuxt-link>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables';
@import '../../assets/scss/core/_mixins';

.header {
  z-index: 999;
  transform: translateZ(999px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s background ease-in-out;
  &.black_head {
    background: #000000 !important;
  }
}

.header-inner {
  padding: 39px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include bp($desktopSmall) {
    padding: 20px 0;
  }
  @include bp($mobileSmall) {
    padding: 10px 0;
  }
}

.menu {
  &__logo {
    margin-right: 2.4%;
    img {
      max-width: none;
    }
  }
  &__items {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 1060px;
    font-size: 24px;
    padding-right: 2%;
    margin-left: auto;
    @include bp($desktop) {
      display: none;
    }
    @include bp($desktopHd, min) {
      font-size: 24px;
    }
  }
  &_item {
    transition: 0.5s;
    color: white;
    &:not(:last-of-type) {
      @include bp($desktop, min) {
        margin-right: 4%;
      }
      @include bp($desktopHd, min) {
        margin-right: 8.5%;
      }
    }
    &:hover,
    .nuxt-link-active {
      color: #f05722;
    }
    @include bp($desktopHd) {
      font-size: 22px;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    @include bp($desktop + 1, min) {
      padding-left: 40px;
    }
    @include bp($desktop) {
      justify-content: flex-start;
      flex: 0 0 260px;
    }
    @include bp($tabletLg) {
      flex: none;
    }
  }
  &__button {
    max-width: 191px;
    @include bp($desktop + 1, min) {
      margin-right: auto;
    }
    @include bp($desktop) {
      &.btn {
        max-width: 180px;
        padding-right: 28px;
        margin: 0 10px 0 75px;
      }
    }
    @include bp($tabletLg) {
      &.btn {
        margin: 0 0 0 35px;
      }
    }
    @include bp($mobile) {
      display: none;
      margin-left: 30px;
    }
  }
  &__search {
    margin-right: auto;
    width: 32px;
    height: 32px;
    cursor: pointer;
    @include bp($desktop) {
      margin-left: 35px;
    }
    @include bp($desktopSmall) {
      width: 24px;
      height: 24px;
    }
  }
  &__burger {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    font-size: 12px;
    transition: all 0.2s;
    height: 2em;
    width: 2em;
    &-lines {
      transition: all 0.2s;
      pointer-events: none;
      display: block;
      content: '';
      width: 100%;
      border-radius: 2px;
      background-color: #fff;
      height: 2px;
      position: absolute;
      transform: rotate(0);
      top: 50%;
      margin-top: -0.125em;
      &:after,
      &:before {
        transition: all 0.2s;
        pointer-events: none;
        display: block;
        content: '';
        width: 100%;
        border-radius: 0.25em;
        background-color: #fff;
        height: 2px;
        position: absolute;
        transform: rotate(0);
        left: 0;
      }
      &:after {
        top: -0.75em;
      }
      &:before {
        top: 0.75em;
      }
      @include bp($desktopSmall) {
        margin-top: -0.15em;
        &:after {
          top: -0.65em;
        }
        &:before {
          top: 0.65em;
        }
      }
      @include bp($tablet) {
        margin-top: -0.1em;
        &:after {
          top: -0.625em;
        }
        &:before {
          top: 0.65em;
        }
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 150%;
      width: 150%;
      top: -25%;
      left: -25%;
    }
    &.opened {
      transform: rotate(180deg);
      .menu__burger-lines {
        background-color: initial;
        &:after {
          transform: rotate(-135deg);
        }
        &:before {
          transform: rotate(135deg);
        }
        &:before,
        &:after {
          left: 0;
          top: 0;
        }
      }
    }
    @include bp($desktop + 1, min) {
      display: none;
    }
    @include bp($desktopSmall) {
      height: 1.75em;
      width: 1.75em;
    }
    @include bp($tablet) {
      width: 1.5em;
      height: 1.5em;
    }
  }
  &__picture {
    display: flex;
  }
}

header.black .black_logo {
  display: block;
}
.black_logo {
  display: none;
}
</style>

<script>
/* import { mapGetters } from 'vuex'
import {
  SEARCH_CLOSE,
  SEARCH_OPEN,
  IND_CLOSE,
  IND_OPEN,
  IND_HOVERED,
  IND_UNHOVERED,
  SERVICE_CLOSE,
  SERVICE_OPEN,
  SERVICE_HOVERED,
  SERVICE_UNHOVERED,
  BUSINESS_CLOSE,
  BUSINESS_OPEN,
  BUSINESS_HOVERED,
  BUSINESS_UNHOVERED
} from '@/store/actions.type' */
export default {
  name: 'RwvHeader',
  props: {
    isMobileMenuOpen: { type: Boolean, required: true }
  },
  data() {
    return {
      searchBlock: false
    }
  },
  mounted() {
    window.addEventListener('scroll', () => this.scrollMenu())
    this.scrollMenu()
  },
  methods: {
    scrollMenu() {
      const menu = document.getElementById('menu')
      if (pageYOffset > 1) {
        menu.classList.add('black_head')
      } else {
        menu.classList.remove('black_head')
      }
    }
  }
}
</script>
