<template>
  <div class="paggination">
    <div
      :class="{ active: isPrevButtonActive }"
      class="paggination_next"
      @click="currentPage > 0 ? pageSelected(currentPage - 1) : pageSelected(0)"
    >
      <span>Back</span>
      <i class="arrow"></i>
    </div>
    <div
      v-for="index in pagesNumber"
      :key="index"
      :class="{ active: currentPage === index - 1 }"
      class="paggination_item"
      @click="pageSelected(index - 1)"
    >
      {{ index }}
    </div>
    <div
      :class="{ active: isNextButtonActive }"
      class="paggination_next"
      @click="
        currentPage < pagesNumber - 1
          ? pageSelected(currentPage + 1)
          : pageSelected(pagesNumber - 1)
      "
    >
      <span>Next</span>
      <i class="arrow"></i>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.paggination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @include bp($mobile + 1, min) {
    margin-top: 30px;
  }
  @include bp($desktop + 1, min) {
    margin-top: 100px;
  }
  &_item {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #f05722;
    box-sizing: border-box;
    border-radius: 58px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    height: 48px;
    width: 48px;
    cursor: pointer;
    &.active {
      background: #f2f2f2;
      border: 2px solid #e0e0e0;
    }
  }
  &_next {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #f05722;
    box-sizing: border-box;
    border-radius: 58px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    height: 48px;
    width: 100px;
    cursor: pointer;
    @include bp($mobileSmall) {
      width: 48px;
      span {
        display: none;
      }
      .arrow {
        &:after,
        &:before {
          top: -11px;
        }
      }
      &:first-of-type {
        transform: rotate(180deg);
      }
    }
    @include bp($mobileSmall + 1, min) {
      .arrow {
        display: none;
      }
    }
  }
  &_next,
  &_item {
    @include bp($mobileSmall) {
      margin: 0 4px;
    }
  }
}
</style>

<script>
export default {
  name: 'BlogPagePagination',
  props: {
    pagesNumber: { type: Number, required: true },
    currentPage: { type: Number, required: true }
  },
  computed: {
    isPrevButtonActive() {
      return this.currentPage > 0
    },
    isNextButtonActive() {
      return this.currentPage < this.pagesNumber - 1
    }
  },
  methods: {
    pageSelected(pageNumber) {
      this.$emit('page-selected', pageNumber)
    }
  }
}
</script>
