<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="blog__filter_tags">
    <div class="blog__filter_tags_title">
      Tags
    </div>
    <div ref="blogFilterTagsItems" class="blog__filter_tags_items">
      <div
        class="blog__filter_tags_item blog__filter_tags_item--default"
        :class="{ active: selectedTagId < 0 }"
        @click="$emit('tag-selected', -1)"
      >
        All Tags
      </div>
      <div
        v-for="tag in tags"
        :key="tag.id"
        class="blog__filter_tags_item"
        :class="{ active: selectedTagId === tag.id }"
        @click="$emit('tag-selected', tag.id)"
        v-html="tag.name"
      ></div>
    </div>
    <button
      v-if="tags.length > 18"
      class="blog__filter-toggle blog__filter_tags_item"
      @click="toggleTags"
    >
      <span v-if="isToggleOpen">Show less</span>
      <span v-if="!isToggleOpen">Show more</span>
    </button>
  </div>
</template>

<script>
import 'scroll-behavior-polyfill'
export default {
  name: 'BlogPageTags',
  props: {
    tags: { type: Array, required: true },
    selectedTagId: { type: Number, required: true }
  },
  data() {
    return {
      isToggleOpen: false
    }
  },
  watch: {
    tags() {
      if (this.isToggleOpen) this.toggleTags()
    }
  },
  methods: {
    scrollTo(item) {
      const checkVw = document.querySelector('.header').offsetHeight + 20
      const wrapper = document.querySelector('html')
      const count = item.offsetTop - wrapper.scrollTop - checkVw
      wrapper.scrollBy({ top: count, left: 0, behavior: 'smooth' })
    },
    toggleTags() {
      if (this.$refs.blogFilterTagsItems.classList.contains('open')) {
        this.$refs.blogFilterTagsItems.classList.remove('open')
        this.isToggleOpen = false
        setTimeout(() => {
          this.scrollTo(this.$refs.blogFilterTagsItems.parentElement)
        }, 300)
      } else {
        this.$refs.blogFilterTagsItems.classList.add('open')
        this.isToggleOpen = true
      }
    }
  }
}
</script>
