<template>
  <!-- eslint-disable vue/no-v-html -->
  <LazyPicture
    :lazy-background="true"
    style="background-repeat: no-repeat; background-position: center; background-size: cover;"
    :src-image="post.acf.image.url"
    :src-thumb="post.acf.image.sizes.medium"
  >
    <nuxt-link
      :to="{
        name: 'blog-slug',
        params: { slug: post.slug }
      }"
      class="main-post"
    >
      <div class="blog__tags">
        <div
          v-for="category in post.acf.categories"
          :key="category.name"
          class="blog__tag"
          v-html="category.name"
        ></div>
      </div>
      <div class="main-post__content">
        <div class="main-post__content_title">
          {{ post.acf.title }}
        </div>
        <div class="main-post__content_description">
          {{ post.acf.description }}
        </div>
        <div class="main-post__content_author">
          <div class="main-post__content_author_photo">
            <img :src="post.acf.author.acf.photo.url" alt="" />
          </div>
          <div class="main-post__content_author_text">
            <div
              class="main-post__content_author_text_name"
              v-html="post.acf.author.name"
            ></div>
            <div class="main-post__content_author_text_time">
              {{ post.acf.minutes_to_read }} min read
            </div>
          </div>
        </div>
      </div>
    </nuxt-link>
  </LazyPicture>
</template>

<script>
export default {
  name: 'BlogPageFeaturedPost',
  props: {
    post: { type: Object, required: true }
  }
}
</script>
