<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    v-click-outside="onClickOutside"
    :class="{ active: isOpen }"
    class="blog__filter_categories"
  >
    <div class="blog__filter_categories_title">
      <span>Categories</span>
      <div
        class="category-selected"
        @click="isOpen = !isOpen"
        v-html="selectedCategoryName"
      ></div>
    </div>
    <div class="blog__filter_categories_items">
      <div
        class="blog__filter_categories_item"
        :class="{ active: selectedCategoryId < 0 }"
        @click="
          isOpen = false
          $emit('category-selected', -1)
        "
      >
        {{ defaultTitle }}
      </div>
      <div
        v-for="item in categories"
        :key="item.id"
        class="blog__filter_categories_item"
        :class="{ active: selectedCategoryId === item.id }"
        @click="
          isOpen = false
          $emit('category-selected', item.id)
        "
        v-html="item.name"
      ></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.blog {
  &__filter {
    box-sizing: border-box;
    flex: none;
    @include bp($desktopSmall + 1, min) {
      max-width: 370px;
      width: 100%;
    }
    @include bp($desktop) {
      max-width: 308px;
    }
    @include bp($desktopSmall) {
      margin-right: auto;
      padding-right: 20px;
      max-width: 32%;
    }
    @include bp(870) {
      max-width: 100%;
      padding: 0 10px;
    }
    .category-selected {
      color: #000000;
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 7px;
      width: calc(100% - 12px);
      @include bp($tablet + 1, min) {
        display: none;
      }
    }
  }
  &__filter_categories_item {
    transition: 0.3s ease-in-out;
    &.active {
      transition: 0.3s ease-in-out;
    }
  }
  &__filter_tags_item {
    font-size: 14px;
    padding: 17px 20px;
    background: #f2f2f2;
    border-radius: 41px;
    line-height: 14px;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    @include bp($mobileSmall) {
      font-size: 12px;
      padding: 10px 18px 8px;
      margin-top: 5px;
    }
    &--default {
      &:not(.active) {
        padding: 15px 20px;
        border: 2px solid #f05722;
        @include bp($mobileSmall) {
          padding: 8px 20px 6px;
        }
      }
    }
  }
  &__filter_categories {
    &.active {
      @include bp($tablet) {
        .blog__filter_categories_items {
          display: block;
          z-index: 50;
          opacity: 0.95;
        }
        .blog__filter_categories_title::after {
          content: url(~assets/img/hide_arr.png);
        }
      }
    }

    @include bp($tablet) {
      position: relative;
      cursor: pointer;
      border-bottom: 2px solid #e8e8e8;
      &:after {
        position: absolute;
        bottom: -2px;
        content: '';
        width: 35%;
        height: 2px;
        background: #f05722;
        left: 0;
      }
    }
  }
  &__filter_tags_items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    @include bp($tablet) {
      /*margin-bottom: 40px;*/
    }
    @include bp($mobileSmall) {
      margin-bottom: 30px;
    }
  }
  &__filter_categories_item {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    position: relative;
    cursor: pointer;
    @include bp($tablet) {
      color: #ffffff;
      font-size: 18px;
      margin-top: 10px;
    }
    &.active {
      @include bp($tablet + 1, min) {
        color: #f05722;
        padding-left: 30px;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 2px;
          background: #f05722;
        }
      }
    }
  }
  &__filter-toggle {
    font-weight: 600;
    padding: 15px 20px;
    border: 2px solid #f05722;
    @include bp($mobileSmall) {
      padding: 7px 20px;
    }
  }
}

.blog__filter_categories_title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #f05722;
  @include bp($tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:after {
      content: url(~assets/img/drop_arr.png);
      width: 12px;
    }
    span {
      display: none;
    }
  }
}

.blog__filter_categories_items {
  @include bp($tablet) {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
    left: 0;
    background: #000;
    padding: 10px 30px 20px;
    box-sizing: border-box;
    color: #fff;
    display: none;
    z-index: 100;
  }
}
</style>

<script>
export default {
  name: 'BlogPageCategories',
  props: {
    categories: { type: Array, required: true },
    selectedCategoryId: { type: Number, required: true },
    defaultTitle: { type: String, required: true }
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    selectedCategoryName() {
      if (this.selectedCategoryId < 0) return this.defaultTitle

      const category = this.categories.find(
        (c) => c.id === this.selectedCategoryId
      )
      if (!category) return this.defaultTitle

      return category.name
    }
  },
  methods: {
    onClickOutside() {
      this.isOpen = false
    }
  }
}
</script>
