<template>
  <div id="subscribe_form" class="container" style="margin-bottom: 50px;">
    <form
      :name="formName"
      method="post"
      netlify
      netlify-honeypot="bot-field"
      class="subscribe_form"
      :class="{ 'form-sent': isFormSent }"
      novalidate
      @submit.prevent="handleSubmit"
    >
      <div class="subscribe_form_text">
        <div class="subscribe_form_title">
          {{ blogSubscribeForm.acf.title }}
        </div>
        <div class="subscribe_form_desc">
          {{ blogSubscribeForm.acf.description }}
        </div>
      </div>
      <!-- Hidden input to check for bots -->
      <input type="hidden" name="form-name" :value="formName" />
      <label
        :class="{ error: !formValidate && form.submitDirty }"
        class="subscribe_form_input"
      >
        <input
          v-model="form.email"
          type="text"
          name="email"
          :placeholder="blogSubscribeForm.acf.email_input_text + ' *'"
          class="subscribe_form_input_input"
        />
        <span class="subscribe_form__error"
          >Please provide a correct email address.</span
        >
      </label>
      <input v-show="false" type="text" name="page" :value="$route.path" />
      <button type="submit" class="slider_btn btn white-text xl">
        <img src="~assets/img/white_arrow.png" class="btn__arrow" alt="" />
        <span>{{ blogSubscribeForm.acf.button_text }}</span>
      </button>
      <div class="subscribe_form__success-container">
        <p class="subscribe_form__success">
          You’re in! Get ready to become even more tech-savvy with our expert
          articles.
        </p>
      </div>
    </form>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.subscribe_form {
  width: 100%;
  padding: 40px;
  background: #f05722;
  margin-top: 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @include bp($tablet) {
    margin-top: 40px;
  }
  &_input {
    width: 100%;
    position: relative;
    @include bp($desktop + 1, min) {
      max-width: 370px;
    }
    @include bp($desktop) {
      max-width: 72%;
      margin-right: 20px;
    }
    @include bp($tablet) {
      max-width: 62%;
    }
    @include bp($mobile) {
      margin-right: 0;
      max-width: 100%;
    }
    &.error {
      .subscribe_form__error {
        transition: opacity 0.3s ease-out;
        visibility: visible;
        opacity: 1;
        @include bp(734) {
          position: static;
        }
      }
    }
  }
  &__error {
    position: absolute;
    top: 100%;
    left: 0;
    font: 500 18px/1.4 $loadedFamily;
    display: inline-block;
    color: #ffffff;
    transition: opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    @include bp($desktop) {
      font: 500 16px/1.4 $loadedFamily;
    }
    @include bp($mobileSmall) {
      font: 500 14px/1.4 $loadedFamily;
    }
  }
  &__success-container {
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__success {
    padding: 30px 20px;
    text-align: center;
    flex-grow: 1;
    color: #ffffff;
  }
  &__placeholder {
    position: absolute;
    left: 0;
    bottom: 13px;
    color: #ffffff;
  }
  &.form-sent {
    * {
      opacity: 0;
      pointer-events: none;
    }
    .subscribe_form__success-container,
    .subscribe_form__success {
      transition: opacity 0.1s ease-in;
      opacity: 1;
    }
  }
  .btn {
    z-index: 1;
    background-color: transparent;
    &:hover:before {
      box-shadow: inset 0 0 0 500px #de4915;
    }
  }
}

.subscribe_form_title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.6;
  color: #ffffff;
}

.subscribe_form_desc {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
  @include bp($tablet + 1, min) {
    font-weight: 500;
  }
}

.subscribe_form_input_input {
  border: none;
  border-bottom: 2px solid white;
  background: none;
  padding: 12px 0;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  -webkit-text-fill-color: #ffffff;
  &:-webkit-autofill {
    color: #ffffff !important;
    box-shadow: 0 0 0 50px #f05722 inset !important;
  }
}

.subscribe_form .btn {
  border-color: white;
}

.subscribe_form_input_input::placeholder {
  color: white;
}

@include bp($desktop) {
  .subscribe_form {
    padding: 40px 30px 30px 40px;
    &_text {
      width: 100%;
    }
    &_input_input {
      margin-top: 20px;
    }
    flex-wrap: wrap;
    .btn {
      margin-top: 20px;
    }
  }
}

@include bp($tabletLg) {
  .subscribe_form .btn {
    margin-top: 20px;
  }
  .near_posts_content_title {
    font-size: 18px;
  }
}

@include bp($mobile) {
  .subscribe_form_input_input {
    width: 100%;
  }
  .subscribe_form {
    padding: 40px 20px 30px;
    &_desc {
      margin: 5px 0 7px;
    }
    &_title {
      line-height: 1.2;
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
  name: 'BlogSubscribeForm',
  data: () => ({
    formName: 'subscribe',
    form: {
      email: '',
      // eslint-disable-next-line no-useless-escape
      emailRe: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      submitDirty: false
    },
    isFormSent: false
  }),
  computed: {
    ...mapGetters('api/options/blog-subscribe-form', ['blogSubscribeForm']),
    trimmedEmailVal() {
      return this.form.email.trim()
    },
    formValidate() {
      return this.form.emailRe.test(this.trimmedEmailVal)
    }
  },
  methods: {
    encode(data) {
      return Object.keys(data)
        .map(
          (key) => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join('&')
    },
    handleSubmit() {
      if (this.formValidate) {
        axios
          .post(
            '/',
            this.encode({
              'form-name': this.formName,
              ...this.form,
              page: this.$route.path
            }),
            {
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          )
          .then(() => {
            this.isFormSent = true
          })
      }
      this.form.submitDirty = true
    }
  }
}
</script>
