<template>
  <div class="inblock blog">
    <div class="container">
      <div class="inblock_title">
        {{ title }}
      </div>
      <div class="inblock_desc">
        {{ description }}
      </div>
      <!-- <VTLink
        :link-data="buttonData"
        href="#subscribe_form"
        class="slider_btn btn white-text xl"
      >
        <i class="btn__arrow"></i>
        <span>{{ buttonData.text }}</span>
      </VTLink> -->
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.inblock.blog {
  background-image: url(~assets/img/blog-mobileX2.png),
    linear-gradient(90deg, #000000 0%, #191919 100%);
  background-repeat: no-repeat;
  background-position: center 48px, 0 0;
  background-size: 200px 200px, cover;
  margin-bottom: 20px;
  padding: 115px 0 30px;
  @include bp($mobileSmall + 1, min) {
    background: url(~assets/img/blog-tablet.png) no-repeat 93% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
    padding: 181px 0 47px;
    margin-bottom: 30px;
  }
  @include bp($tablet + 1, min) {
    background: url(~assets/img/blog-dts.png) no-repeat 95% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
    padding: 177px 0 53px;
  }
  @include bp($desktop + 1, min) {
    background: url(~assets/img/blog-dts.png) no-repeat 85% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
    padding: 232px 0 100px;
  }
  @include bp($desktopHd + 1, min) {
    background: url(~assets/img/blog-dt.png) no-repeat 82.25% calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopFullHd + 1, min) {
    background: url(~assets/img/blog-dt.png) no-repeat 75.25% calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopSmall + 1, min) {
    margin-bottom: 100px;
  }
  @include bp($mobileSmall) {
    min-height: 300px;
  }
  .btn {
    padding: 12px 39px 10px 26px;
    margin-top: 50px;
    @include bp($tablet) {
      margin-top: 30px;
    }
    @include bp($desktop + 1, min) {
      margin-top: 75px;
    }
  }
}

@include bp($desktop) {
  .blog .inblock_desc {
    max-width: 670px;
  }
}

@media all and (max-width: #{$tablet}px) and (min-width: #{$mobileSmall + 1}px) {
  .blog .inblock_desc {
    font-weight: 500;
    line-height: 1.4;
  }
}

@include bp($mobileSmall) {
  .blog .inblock_desc,
  .inblock.blog .btn {
    margin-top: 20px;
  }
}
</style>

<script>
export default {
  name: 'BlogPageHeader',
  props: {
    title: { type: String, required: true },
    description: { type: String, required: true },
    buttonData: { type: Object, required: true }
  }
}
</script>
