<template>
  <!-- eslint-disable vue/no-v-html -->
  <nuxt-link
    class="blog__content_post-outer"
    :to="{
      name: 'blog-slug',
      params: { slug: post.slug }
    }"
  >
    <LazyPicture
      :lazy-background="true"
      :src-image="post.acf.image.url"
      :src-thumb="post.acf.image.sizes.medium"
      class="blog__content_post"
      style="background-repeat: no-repeat; background-position: center; background-size: cover;"
    >
      <div class="blog__tags">
        <div
          v-for="category in post.acf.categories"
          :key="category.id"
          class="blog__tag"
          v-html="category.name"
        ></div>
      </div>
      <div class="main-post__content">
        <div class="main-post__content_title">
          {{ post.acf.title }}
        </div>
        <div class="main-post__content_desc">
          {{ post.acf.description }}
        </div>
        <div class="main-post__content_author">
          <div class="main-post__content_author_photo">
            <img :src="post.acf.author.acf.photo.url" alt="" />
          </div>
          <div class="main-post__content_author_text">
            <div
              class="main-post__content_author_text_name"
              v-html="post.acf.author.name"
            ></div>
            <div class="main-post__content_author_text_time">
              {{ post.acf.minutes_to_read }} min read
            </div>
          </div>
        </div>
      </div>
    </LazyPicture>
  </nuxt-link>
</template>

<style>
.main-post:before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.7;
}
@media all and (min-width: 480px) {
  .main-post:before {
    height: 500px;
  }
}
</style>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.main-post {
  width: 100%;
  padding: 20px 30px 40px 30px;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @include bp($desktopSmall) {
    background-position: center;
  }
  @include bp($mobileSmall) {
    height: 380px;
    padding: 10px 20px 30px;
  }
}

.main-post__content {
  z-index: 2;
}

.main-post__content_author_photo img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
}

.main-post__content_author_photo {
  width: 56px;
  height: 56px;
  flex: 0 0 auto;
}

.main-post__content_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  max-width: 510px;
  color: #ffffff;
  @include bp($mobileSmall + 1, min) {
    font-size: 22px;
  }
  @include bp($mobileSmall) {
    font-weight: 800;
  }
}

.main-post__content_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 20px;
  max-width: 540px;
}

.main-post__content_author {
  display: flex;
  margin-top: 30px;
  @include bp($desktopSmall) {
    margin-top: 27px;
  }
}

.main-post__content_author_text {
  margin-left: 20px;
}

.main-post__content_author_text_name {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
  color: white;
  margin-bottom: 3px;
  @include bp($mobileSmall) {
    font-size: 16px;
    margin: 3px 0 5px;
  }
}

.main-post__content_author_text_time {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #828282;
}

.main-post__content_desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0;
  height: 0;
  margin: 0;
  transition: 0s ease-in-out;
  transform: translateX(20px);
}

@include bp($mobile) {
  .main-post__content_description {
    display: none;
  }
}
</style>

<script>
export default {
  name: 'PostCard',
  props: {
    post: { type: Object, required: true }
  }
}
</script>
