.services-benefits.container {
  margin: 68px auto 20px;
  padding: 0 5px;
  @include bp($mobile, min) {
    margin: 44px 30px 70px;
    padding: 0;
  }
  @include bp($desktopSmall, min) {
    display: flex;
    margin: 60px 30px 90px;
  }
  @include bp($desktop, min) {
    margin: 100px auto;
  }
  @include bp($desktopFullHd, min) {
    margin: 49px auto 102px;
    min-width: 1520px;
  }
}
.services-benefits-main {
  padding: 35px 15px;
  background: $black;
  @include bp($mobile, min) {
    padding: 44px 50px 31px;
  }
  @include bp($desktopSmall, min) {
    padding: 0 50px;
    transition: 250ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: $colorCross;
    min-width: 45%;
    max-width: 45%;
  }
  @include bp($desktop, min) {
    min-width: 50%;
    max-width: 50%;
    padding: 0 140px;
  }
  @include bp($desktopFullHd, min) {
    min-width: 47%;
    max-width: 49%;
    padding: 0 147px 0 177px;
  }
  &__title, &__desc {
    color: $primaryColor;
  }
  &__title {
    margin: 0 0 10px 0;
    font-weight: 800;
    font-size: 32px;
    @include bp($mobile, min) {
      font-size: 64px;
    }
    @include bp($desktopSmall, min) {
      margin: -60px 0 17px;
    }
    @include bp($desktop, min) {
      margin-bottom: 17px;
    }
  }
  &__desc {
    font-weight: 600;
    font-size: 14px;
    opacity: .7;
    @include bp($mobile, min) {
      font-size: 24px;
    }
  }
}
.services-benefits-info {
  background: $colorCross;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 500px;
  @include bp($mobile, min) {
    padding: 47px 20px;
    min-height: 630px;
  }
  @include bp($tablet, min) {
    min-height: 700px;
    max-height: 700px;
  }
  @include bp($desktopSmall, min) {
    background: $black;
    padding: 70px 0;
  }
  &--custom {
    flex-wrap: wrap;
    width: 100%;
    @include bp($desktopSmall, min) {
      &.services-benefits-info {
        min-height: 500px;
        max-height: 500px;
      }
    }
    @include bp($desktopFullHd, min) {
      padding: 100px 200px 100px 0;
      &.services-benefits-info {
        min-height: 600px;
        max-height: 600px;
      }
    }
    & .services-benefits-info-block {
      padding: 0 32px;
      display: flex;
      align-items: center;
      flex: 1 0 15%;
      @include bp($desktopSmall, min) {
        min-height: 60px;
        max-height: 60px;
      }
      @include bp($desktopFullHd, min) {
        max-height: initial;
      }
      & h3 {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        @include bp($desktopSmall, min) {
          font-size: 22px;
        }
        @include bp($desktop, min) {
          font-size: 24px;
        }
      }
      &--active {
        margin: 0;
        padding: 0 32px;
        display: flex;
        align-items: center;
        flex: 1 0 15%;
        @include bp($desktopSmall, min) {
          border-left: none;
          min-height: 60px;
          max-height: 60px;
        }
        @include bp($desktopFullHd, min) {
          max-height: initial;
        }
        & h3 {
          margin: 0;
          font-size: 24px;
          line-height: 28px;
          @include bp($desktopSmall, min) {
            color: $colorCross;
            font-size: 22px;
          }
          @include bp($desktop, min) {
            font-size: 24px;
          }
        }
      }
    }
  }
}
.services-benefits-info-block {
  transition: 500ms;
  padding: 2px 18px;
  @include bp($mobile, min) {
    padding: 14px 30px;
  }
  @include bp($desktopSmall, min) {
    padding: 10px 36px;
  }
  & h3 {
    font-weight: 600;
    font-size: 22px;
    margin: 12px 0;
    cursor: pointer;
    line-height: 140%;
    @include bp($mobile, min) {
      font-weight: bold;
      font-size: 24px;
      margin: 8px 0;
    }
    @include bp($desktopSmall, min) {
      font-weight: 800;
      font-size: 32px;
    }
  }
  & p {
    display: none;
    transition: 250ms;
  }
  &--active {
    border-left: 2px solid $black;
    padding: 0 0 0 18px;
    margin: 5px 0;
    transition: 500ms;
    border-left: 2px solid $primaryColor;
    @include bp($mobile, min) {
      padding: 20px 30px;
      border-left: 4px solid $primaryColor;
    }
    @include bp($desktopSmall, min) {
      padding: 5px 30px;
    }
    @include bp($desktopFullHd, min) {
      padding: 25px 30px;
    }
    & h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 13px;
      cursor: pointer;
      transition: 250ms;
      @include bp($mobile, min) {
        font-weight: 800;
        font-size: 32px;
        margin: 0 0 28px;
      }
      @include bp($desktopSmall, min) {
        margin: 0 0 30px;
        font-size: 48px;
        line-height: 110%;
      }
      @include bp($desktopFullHd, min) {
        padding: 0;
      }
    }
    & p {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      opacity: .7;
      display: block;
      @include bp($mobile, min) {
        font-size: 20px;
      }
    }
  }
  &__title, &__description {
    color: $primaryColor;
  }
}
