$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);


.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 21px 0 0;
  @include bp($tablet, min) {
    margin-left: -10px;
    width: calc(100% + 20px);
    padding: 28px 0 0;
  }
}

.card-wrap {
  margin: 5px 0;
  flex: 1 1 200px;
  height: 88px;
  transform: perspective(800px);
  background-position: top center;
  transform-style: preserve-3d;
  cursor: pointer;
  min-width: 100%;
  @include bp($tablet, min) {
    height: 200px;
    margin: 10px;
    min-width: auto;
    flex: 1 1 30%;
  }
  @include bp($desktopSmall, min) {
    height: 360px;
    flex: 1 1 290px;
  }
  @include bp($desktop, min) {
    height: 400px;
  }
  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s $hoverEasing;
    }
    .card-info:after {
      transition: 5s $hoverEasing;
      opacity: 1;
      transform: translateY(0);
    }
    .card {
      background: $colorCross;
      transition:
        0.6s $hoverEasing,
    }
  }
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 100%;
  height: 100%;
  background-color: $black;
  overflow: hidden;
  border: 1px solid $colorCross;
  transition: 500ms;
}

.card-info {
  padding: 20px 16px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  color: #fff;
  @include bp($tablet, min) {
    padding: 20px;
  }
  @include bp($desktopSmall, min) {
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    @include bp($desktopSmall, min) {
      font-size: 36px;
    }
  }
  p {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    opacity: 0;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    display: none;
    @include bp($desktopSmall, min) {
      display: block;
      margin-bottom: 10px;
    }
    @include bp($desktop, min) {
      margin-bottom: 20px;
    }
  }
}

