.digital-art-header,
.extended-reality-header,
.interactive-app-header,
.software-product-header,
.video-games-header {
  background: $primaryColor;
  & .scroll-down-block {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: $colorCross;
    margin-top: 30px;
    display: none;
    @include bp($tablet, min) {
      display: flex;
      margin: 20px 0 0;
    }
    @include bp($desktopFullHd, min) {
      margin: 60px 0 0;
    }
    & span {
      margin: 0 0 10px;
    }
  }
  &__black-block {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background: $black;
    @include bp($tablet, min) {
      height: 450px;
    }
    @include bp($desktopSmall, min) {
      height: 500px;
    }
    @include bp($desktop, min) {
      height: 640px;
    }
    & h1 {
      margin: -50px 0 0;
      font-weight: 800;
      font-size: 24px;
      text-align: center;
      color: $primaryColor;
      max-width: 280px;
      @include bp($tablet, min) {
        margin: -30px 0 0;
        font-size: 36px;
        line-height: 120%;
        max-width: 600px;
      }
      @include bp($desktopSmall, min) {
        margin: -10px 0 0;
        font-size: 48px;
        max-width: 650px;
      }
      @include bp($desktop, min) {
        font-size: 64px;
        max-width: 1000px;
      }
      @include bp($desktopFullHd, min) {
        margin: -20px 0 0;
        line-height: 100%;
      }
    }
  }
}
.device-header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: -90px auto 0;
  padding: 0 2% 10px;
  width: 100%;
  @include bp($tablet, min) {
    margin: -140px auto 0;
  }
  @include bp($desktop, min) {
    width: 1160px;
    margin: -200px auto 0;
  }
  @include bp($desktopFullHd, min) {
    margin: -178px auto 0;
  }
  & .video-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    & video {
      background: $black;
    }
  }
  & img {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  & video, & iframe {
    width: 100%;
  }
}
.software-product-header {
  & .device-header {
    max-width: 1070px;
    align-items: flex-start;
  }
}
//devices
.interactive-app-header-mobile {
  &.device-header {
    @include bp($mobileSmall, min) {
      width: 65%;
    }
    @include bp($desktopFullHd, min) {
      width: 43%;
    }
  }
  & .video-wrapper {
    padding: 0 6%;
    height: 86%;
    border-radius: 15%;
    & video {
      border-radius: 15%;
    }
    @include bp($mobileSmall, min) {
      padding: 0 7%;
    }
    @include bp($desktopSmall, min) {
      padding: 0 6%;
      margin-top: -5px;
    }
    @include bp($desktop, min) {
      padding: 0 7%;
      border-radius: 16%;
      & video {
        border-radius: 97px;
      }
    }
    @include bp($desktopHd, min) {
      padding: 0 7%;
    }
    @include bp($desktopFullHd, min) {
      padding: 0 8%;
      height: 90%;
    }
    & video {
      @include bp($desktopSmall, min) {
        border-radius: 90px;
      }
      @include bp(2100, min) {
        border-radius: 105px;
      }
    }
  }
}
.video-games-header-gamepad {
  &.device-header {
    @include bp($desktop, min) {
      width: 1120px;
    }
  }
  & .video-wrapper {
    padding: 0 20%;
    height: 86%;
    overflow: hidden;
    @include bp($desktopSmall, min) {
      margin-top: 0;
    }
    @include breakpoint-min(xl) {
      padding: 0 250px;
      height: 90%;
    }
  }
}
.software-product-header-laptop {
  &.device-header {
    @include bp($desktopSmall, min) {
      width: 100%;
      max-width: 100%;
    }
    @include bp($desktop, min) {
      width: 100%;
      max-width: 100%;
    }
    @include bp($desktopFullHd, min) {
      width: 80%;
      max-width: 80%;
    }
  }
  & .video-wrapper {
    align-items: flex-start;
    justify-items: center;
    margin: 8px 0 0 -2px;
    padding: 0 2px;
    width: 73%;
    @include bp(376, min) {
      width: 72%;
      margin: 12px 0 0 -3px;
    }
    @include bp(460, min) {
      width: 72%;
      margin: 12px 0 0 -3px;
    }
    @include bp(550, min) {
      margin: 18px 0 0 -3px;
      width: 71%;
    }
    @include bp(640, min) {
      padding: 0;
    }
    @include bp(658, min) {
      padding: 0;
      margin: 18px 0 0 -5px;
      width: calc(70% + 5px);
      border-radius: 0;
      //border: 5px solid black;
    }
    @include bp(825, min) {
      width: calc(71% + 5px);
      margin: 19px 0 0 -5px;
    }
    @include bp(1010, min) {
      width: calc(70% + 5px);
      margin: 32px 0 0 -7px;
    }
    @include bp(1200, min) {
      margin: 50px 0 0 -8px;
      border: 0;
    }
    @include bp($desktopFullHd, min) {
      margin: 50px 0 0 -11px;
    }
    & video {
      border-radius: 0;
      @include bp(612, min) {
        border-radius: 0;
      }
      @include bp($tablet, min) {
        width: 101%;
      }
      @include bp($desktopFullHd, min) {
        width: calc(101% - 20px);
        margin: 0 0 0 5px;
      }
    }
  }
}
.extended-reality-header-glasses {
  &.device-header {
    @include bp($mobileSmall, min) {
      width: 70%;
    }
    @include bp($mobile, min) {
      width: 60%;
    }
    @include bp($desktopHd, min) {
      width: 40%;
    }
  }
  & .video-wrapper {
    width: 82%;
    margin-top: 10px;
    @include bp($desktop, min) {
      width: 80%;
    }
  }
}
.digital-art-header-ipad {
  &.device-header {
    padding: 0 20px;
    border-radius: 10%;
    @include bp($tablet, min) {
      padding: 0 4%;
      border-radius: 11%;
    }
    @include bp($desktopSmall, min) {
      margin: -110px auto 0;
    }
    @include bp($desktop, min) {
      margin: -150px auto 0;
    }
    @include bp($desktopFullHd, min) {
      border-radius: 13%;
    }
    @include bp(2250, min) {
      border-radius: 14%;
    }
    @include bp(2350, min) {
      border-radius: calc(14% + 20px);
    }
  }
  & .video-wrapper {
    height: 100%;
    width: 100%;
    & .sketchfab-embed-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -2px 0 0 0;
      & iframe {
        height: 142%;
        width: 99%;
        padding: 0 23px;
        border-radius: 29%;
        @include bp($mobile, min) {
          width: 96%;
          border-radius: 24%;
          padding: 0 3%;
        }
        @include bp($tablet, min) {
          border-radius: 24%;
          padding: 0 4%;
        }
        @include bp($desktop, min) {
          padding: 0 5%;
        }
        @include bp($desktopHd, min) {
          padding: 0 5%;
          border-radius: 270px;
        }
        @include bp($desktopFullHd, min) {
          padding: 0 7%;
          border-radius: calc(16% - 5px);
          height: 112%;
        }
      }
    }
  }
}
