.interactive-core {
  background: $primaryColor;
  padding: 44px 0 0 0;
  @include bp($tablet, min) {
    padding: 33px 0 0;
  }
  @include bp($desktopFullHd, min) {
    padding: 132px 0 0;
  }
  &__header {
    margin: 0 0 16px;
    color: $black;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    padding: 0 30px;
    @include bp($tablet, min) {
      font-size: 48px;
      margin: 40px 0 20px 0;
    }
    @include bp($desktopSmall, min) {
      font-size: 64px;
      margin: 23px 0 20px;
    }
  }
  &__info {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    @include bp($tablet, min) {
      font-size: 22px;
      margin: 20px 0 0;
    }
    @include bp($desktopSmall, min) {
      font-size: 22px;
      line-height: 140%;
    }
  }
  &__info-block {
    color: $colorText;
    flex-wrap: wrap;
    margin: 40px 0 0;
    @include bp($tablet, min) {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
    & a {
      cursor: pointer;
      display: block;
      margin: 33px 0;
      &:hover {
        & .interactive-core__title {
          transition: 250ms;
          color: $colorCross;
        }
      }
      @include bp($tablet, min) {
        width: 223px;
      }
      @include bp($tabletLg, min) {
        min-width: 306px;
        max-width: 308px;
      }
      @include bp($desktopSmall, min) {
        margin: 40px 0;
      }
      @include bp($desktop, min) {
        min-width: 370px;
        max-width: 370px;
      }
      @include bp($desktopFullHd, min) {
        margin: 60px 0;
      }
    }
    &--bordered {
      @include bp($tablet, min) {
        padding: 0 5%;
        justify-content: center;
        & a {
          margin: 20px 3%;
          min-width: 44%;
        }
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    color: $black;
    margin: 24px 0 15px;
    @include bp($tablet, min) {
      font-size: 23px;
      margin: 19px 0;
    }
    @include bp($desktopSmall, min) {
      font-size: 32px;
      margin: 21px 0 36px;
    }
    @include bp($desktop, min) {
      font-size: 38px;
    }
  }
  &__text {
    color: $light-grey;
    font-weight: 600;
    font-size: 16px;
    @include bp($tablet, min) {
      font-size: 18px;
      line-height: 21px;
    }
    @include bp($desktopSmall, min) {
      font-size: 20px;
      line-height: 140%;
    }
  }
}
