.portfolio-box-wrapper {
  max-width: 100vw;
  overflow: hidden;
}
.portfolio-box {
  padding: 45px 0 17px;
  @include bp($tablet, min) {
    padding: 78px 0 68px;
  }
  @include bp($desktopSmall, min) {
    display: flex;
    padding: 102px 0 93px;
  }
  @include bp($desktopFullHd, min) {
    padding: 119px 0 116px;
  }
}
.portfolio-box-info {
  @include bp($desktopSmall, min) {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include bp($desktopFullHd, min) {
    min-width: 40%;
    max-width: 40%;
  }
  &__title {
    color: $black;
    font-weight: 800;
    font-size: 32px;
    margin: 0;
    @include bp($tablet, min) {
      font-size: 64px;
    }
  }
  &__desc {
    font-weight: 700;
    font-size: 18px;
    color: $colorText;
    opacity: .7;
    margin: 18px 0 44px;
    @include bp($tablet, min) {
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      margin: 25px 0 37px;
    }
    @include bp($desktopSmall, min) {
      padding-right: 50px;
      margin: 40px 0 30px;
      line-height: 140%;
    }
    @include bp($desktopFullHd, min) {
      margin: 70px 0 65px;
      padding-right: 40px;
    }
  }
  &__btn {
    &--mobile, &--desktop {
      padding: 13px 25px 11px 21px;
      &:hover {
        span {
          color: $primaryColor;
        }
      }
      span {
        color: $black;
        font-weight: 600;
        font-size: 18px;
        @include bp($tablet, min) {
          font-size: 22px;
        }
      }
    }
    &--mobile {
      display: flex;
      margin: 37px 0;
      @include bp($tablet, min) {
        margin: 37px 0;
      }
      @include bp($desktopSmall, min) {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include bp($desktopSmall, min) {
        display: flex;
      }
    }
  }
}
.portfolio-box-items {
  @include bp($desktopSmall, min) {
    width: 65%;
  }
}
.portfolio-box-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5px;
  background: $black;
  @include bp($desktopSmall, min) {
    width: 57vw;
  }
  @include bp($desktop, min) {
    height: 250px;
  }
  @include bp($desktopHd, min) {
    height: 270px;
  }
  @include bp($desktopFullHd + 1, min) {
    height: 220px;
    width: auto;
  }
  & img {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: initial;
    opacity: 1;
    transition: 500ms;
    @include bp(500, min) {
      width: 100%;
      height: auto;
    }
    @include bp($tablet, min) {
      max-width: 100%;
    }
  }
  & h3 {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    color: $primaryColor;
    margin: 0;
    padding: 0 0 0 20px;
    @include bp($tablet, min) {
      font-weight: 800;
      font-size: 32px;
      padding: 0 0 0 81px;
    }
    @include bp($desktopSmall, min) {
      padding: 0 0 0 40px;
    }
    @include bp($desktop, min) {
      font-size: 48px;
      padding: 0 0 0 100px;
    }
  }
  &__button {
    margin: 20px 30px 0 20px;
    padding: 7px 29px 7px 20px;
    border-color: $primaryColor;
    @include bp($tablet, min) {
      margin: 20px 0 0 81px;
    }
    @include bp($desktopSmall, min) {
      margin: 20px 0 0 40px;
    }
    @include bp($desktop, min) {
      margin: 20px 0 0 100px;
    }
    .btn__arrow {
      min-width: 20px;
    }
  }
  & .orange-block {
    background: $colorCross;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
