$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);


.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 0 0;
  @include bp($tablet, min) {
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
  }
  @include bp($desktopSmall, min) {
    padding: 14px 0 0;
  }
}
.read-more {
  background: $lightest-grey;
  padding: 50px 0 55px;
  @include bp($tablet, min) {
    padding: 90px 0 65px;
  }
  @include bp($desktopSmall, min) {
    padding: 80px 0 70px;
  }
  @include bp($desktopFullHd, min) {
    padding: 80px 0 100px;
  }
  &__title, &__desc {
    color: $black;
  }
  &__title {
    margin: 0 0 26px;
    font-weight: 800;
    font-size: 36px;
    @include bp($tablet, min) {
      font-size: 64px;
      line-height: 100%;
      margin: 0 0 20px;
    }
    @include bp($desktopSmall, min) {
      margin: 10px 0 23px;
    }
    @include bp($desktop, min) {
      margin: 20px 0 40px;
      font-size: 64px;
    }
  }
  &__desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    @include bp($tablet, min) {
      font-size: 22px;
      line-height: 140%;
    }
    @include bp($desktop, min) {
      font-size: 24px;
    }
  }
}
.read-more-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 22px;
  width: 100%;
  min-height: 380px;
  margin: 5px 0;
  @include bp($tablet, min) {
    height: 500px;
    width: auto;
    flex: 1 1 300px;
    margin: 13px 10px;
    padding: 30px;
  }
  @include bp($desktopSmall, min) {
    height: 500px;
    width: 30%;
  }
  &__gradient-mask {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,transparent,#000);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__tags {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__tag {
    position: relative;
    z-index: 1;
    padding: 13px 20px;
    background: $colorCross;
    white-space: nowrap;
    color: $primaryColor;
    font-weight: 600;
    font-size: 13px;
    border-radius: 41px;
    margin: 0 5px 5px 0;
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    & h3 {
      font-weight: 800;
      font-size: 18px;
      color: $primaryColor;
      position: relative;
      z-index: 1;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 5px 30px 0;
      text-overflow: ellipsis;

    }
  }
  &__author {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    & img {
      height: 56px;
      width: 56px;
      margin-right: 20px;
    }
  }
  &__info {
    h4 {
      font-weight: bold;
      font-size: 16px;
      color: $primaryColor;
      margin: 0;
    }
    small {
      font-weight: 300;
      font-size: 16px;
      white-space: nowrap;
      color: $primaryColor;
      opacity: .7;
    }
  }
}


