.services-box {
  background: $black;
  padding: 60px 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  @include bp($tablet, min) {
    padding: 48px 0;
  }
  @include bp($desktopSmall, min) {
    padding: 60px 0 92px;
  }
  @include bp($desktop, min) {
    padding: 110px 0;
  }
  &__title {
    font-weight: 800;
    font-size: 32px;
    color: $primaryColor;
    margin: 5px 0 15px 0;
    @include bp($tablet, min) {
      font-size: 64px;
      line-height: 150%;
      margin: 0;
    }
    @include bp($desktopSmall, min) {
      font-size: 64px;
      margin: 30px 0 17px;
    }
    @include bp($desktopFullHd, min) {
      margin: 0 0 17px;
    }
  }
  &__desc {
    font-weight: 600;
    font-size: 18px;
    opacity: .7;
    color: $colorText;
    @include bp($tablet, min) {
      font-size: 24px;
    }
  }
}
