.technology-map-box {
  background: $black;
  padding: 60px 0;
  @include bp($tablet, min) {
    padding: 90px 0 100px;
  }
  @include bp($desktopSmall, min) {
    padding: 100px 0;
  }
  @include bp($desktop, min) {
    padding: 120px 0;
  }
  &__title {
    color: $primaryColor;
    font-weight: 800;
    font-size: 32px;
    margin: 11px 0 28px;
    @include bp($tablet, min) {
      font-size: 64px;
      margin: 10px 0 25px;
    }
  }
  &__desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: $primaryColor;
    margin: 20px 0 40px;
    @include bp($tablet, min) {
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      margin: 20px 0 33px;
    }
    @include bp($desktopFullHd, min) {
      margin: 20px 0 60px;
    }
  }
  &__show-more-btn {
    background: $black;
    cursor: pointer;
    margin: 40px 0 0;
    padding: 11px 40px 11px 28px!important;
    &:hover:after {
      transform: rotate(90deg);
    }
    &--active {
      &:hover:after {
        transform: rotate(-90deg);
      }
      & img {
        transform: rotate(180deg);
      }
    }
    & span {
      font-weight: 700;
      font-size: 24px;
      color: $primaryColor;
    }
    & img {
      position: relative;
      z-index: 2;
      width: 16px;
      margin-right: 0;
    }
  }
}
.technology-map-box-technologies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -5px;
  @include bp($tablet, min) {
    margin: 0 0 0 5px;
    display: flex;
    align-items: center;
  }
  @include bp($desktopSmall, min) {
    margin: 0 0 0 -7px;
  }
}
.technology-map-box-group {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 18px;
  margin: 28px 0;
  @include bp($tablet, min) {
    margin: 10px 0;
    flex-direction: row;
  }
  &__title {
    font-weight: 800;
    font-size: 18px;
    color: $primaryColor;
    width: 100%;
    margin: 2px 0 9px 0;
    @include bp($tablet, min) {
      min-width: 150px;
      max-width: 150px;
      margin: 16px 0;
    }
    @include bp($desktopSmall, min) {
      font-size: 22px;
      min-width: 300px;
      max-width: 300px;
      margin: 20px 0;
    }
  }
  &__technology {
    background: $lightest-grey;
    padding: 7px 14px;
    border-radius: 41px;
    color: $black;
    transition: 250ms;
    font-weight: 700;
    font-size: 14px;
    margin: 5px;
    white-space: nowrap;
    max-height: 40px;
    &:hover {
      background: $colorCross;
      color: $primaryColor;
      cursor: default;
    }
    @include bp($tablet, min) {
      font-size: 16px;
      padding: 9px 14px;
      margin: 7px 5px;
    }
    @include bp($desktopSmall, min) {
      font-size: 18px;
      margin: 5px 7px;
      max-height: 48px;
      padding: 14px 23px;
    }
  }
}
