<template>
  <!-- Remove _ before enctype to enable that attribute later, for file uploads -->
  <form
    id="contact_form"
    :name="formName"
    method="post"
    netlify
    netlify-honeypot="bot-field"
    class="connect"
    @submit.prevent="handleSubmit"
  >
    <div class="container">
      <div
        v-if="!hideTitle"
        class="connect__title heading2"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        Connect with Us
      </div>
      <div
        class="connect__subtitle"
        shown="500"
        shown_delay="200"
        shown_type="fromTop"
      >
        We love partnering with businesses that have great ideas. Let’s start
        with yours!
      </div>

      <!-- Hidden input to check for bots -->
      <input type="hidden" name="form-name" :value="formName" />
      <label
        ref="fieldName"
        :class="{ error: form.name.length < 3 && form.submitDirty }"
        for="connect_name"
        class="connect__input connect__input--name"
        shown="500"
        shown_delay="300"
        shown_type="fromBot"
      >
        <input
          id="connect_name_input"
          v-model="form.name"
          placeholder="Name *"
          type="text"
          name="name"
          class="required"
          autocomplete="off"
        />
        <span class="connect__error">Please enter your name</span>
        <span id="connect_name_after" class="menu_services__input_after">{{
          form.name
        }}</span>
      </label>
      <label
        id="connect_email"
        ref="fieldEmail"
        :class="{
          error: !form.emailRe.test(trimmedEmailVal) && form.submitDirty
        }"
        class="connect__input connect__input--email"
        shown="500"
        shown_delay="400"
        shown_type="fromBot"
      >
        <input
          id="connect_email_input"
          v-model="form.email"
          placeholder="Email *"
          autocomplete="off"
          type="text"
          name="email"
        />
        <span class="connect__error"
          >Please provide a correct email address</span
        >
        <span id="connect_email_after" class="menu_services__input_after">
          {{ form.email }}
        </span>
      </label>
      <div
        id="connect_phone"
        class="connect__input"
        shown="500"
        shown_delay="500"
        shown_type="fromBot"
      >
        <input
          id="connect_phone_input"
          v-model="form.phone"
          type="tel"
          name="phone"
          placeholder="Phone or skype"
        />
        <span id="connect_phone_after" class="menu_services__input_after">{{
          form.phone
        }}</span>
      </div>
      <div
        class="connect__columns"
        shown="500"
        shown_delay="600"
        shown_type="fromBot"
      >
        <div id="connect_message" class="connect__area">
          <textarea
            id="connect_mes"
            v-model="form.message"
            placeholder="Message"
            name="message"
          ></textarea>
          <div id="connect_mes_after" class="menu_services__input_after">
            {{ form.message }}
          </div>
        </div>
        <!-- Omitted for release 1.0 -->
        <!-- <div class="connect__file">
          <label for="file" class="connect__file_img">
            <img src="~assets/img/paperclip.svg" alt="" />
          </label>
          <label for="file" class="connect__file_text">
            Attach files
          </label>
          <input id="file" type="file" name="file" />
        </div> -->
      </div>

      <div
        class="connect__columns agreements"
        shown="500"
        shown_delay="700"
        shown_type="fromBot"
      >
        <div id="connect_name" class="connect__check">
          <input
            id="connect_check_privacy"
            type="checkbox"
            name="check_privacy"
            checked
            @click="form.check_privacy = !form.check_privacy"
          />
          <label for="connect_check_privacy">
            I consent to Visartech processing my personal data according to
            <span class="connect__agreement">
              <nuxt-link :to="{ name: 'privacy-policy' }">Privacy </nuxt-link> &
              <nuxt-link :to="{ name: 'cookie-policy' }"
                >Cookie Policies</nuxt-link
              >
            </span>
          </label>
          <span v-show="!form.check_privacy" class="connect__message"
            >We need your permission to process your personal data</span
          >
        </div>
        <div class="connect__check">
          <input
            id="connect_check_nda"
            v-model="form.check_nda"
            type="checkbox"
            name="check_nda"
          />
          <label for="connect_check_nda">
            Get NDA
          </label>
        </div>
      </div>
      <input v-show="false" type="text" name="page" :value="$route.path" />
      <button type="submit" class="connect__btn slider_btn btn xm big_back">
        <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />
        <span>Send Message</span>
      </button>
    </div>
  </form>
</template>

<style lang="scss">
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/mixins';

.connect {
  width: 100%;
  height: fit-content;
  padding: 50px 0 60px;
  @include bp($mobileSmall + 1, min) {
    padding: 80px 0 80px;
  }
  @include bp($tablet, min) {
    padding: 70px 0 90px;
  }
  @include bp($desktop, min) {
    padding: 110px 0;
  }
  &__title {
    font-weight: 800;
    line-height: 1;
    color: #000000;
    @include bp($desktop) {
      font-size: 56px;
    }
    @include bp($mobileSmall) {
      font-size: 35px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #828282;
    margin-top: 20px;
    @include bp($desktop + 1, min) {
      margin-top: 25px;
      font-size: 22px;
    }
    @include bp($desktopSmall) {
      max-width: 550px;
    }
    @include bp($mobile) {
      font-size: 18px;
      margin-bottom: 48px;
    }
  }
  &__input {
    width: 100%;
    padding: 7px 0 7px 0;
    border-bottom: 2px solid #828282;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 40px;
    color: #bdbdbd;
    &--name,
    &--email {
      &.error {
        .connect__error {
          transition: opacity 0.3s ease-out;
          visibility: visible;
          opacity: 1;
        }
        .menu_services__input_after {
          min-width: 100%;
        }
      }
    }
    input {
      background: none;
      border: none;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      padding: 0;
      display: inline-block;
      color: black;
      width: 100%;
      top: -7px;
      position: relative;
      box-shadow: none;
      -webkit-box-shadow: inset 0 0 0 50px #fff;
      @include bp($mobile + 1, min) {
        font-size: 24px;
      }
      &:focus {
        outline: none;
      }
      &:invalid + .connect__input_placeholder {
        display: flex;
      }
      &::placeholder {
        color: #bdbdbd;
      }
    }
  }
  &__input_placeholder {
    pointer-events: none;
    position: absolute;
    bottom: 15px;
    left: 1px;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #bdbdbd;
    @include bp($mobile) {
      font-size: 18px;
    }
    span {
      color: #f05722;
    }
  }
  &__area {
    width: 100%;
    padding: 7px 0 7px 0;
    border-bottom: 2px solid #828282;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 40px;
    textarea {
      background: none;
      border: none;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: black;
      width: 100%;
      top: -7px;
      min-height: 60px;
      position: relative;
      resize: none;
      padding: 0;
      display: inline-block;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #bdbdbd;
      }
      @include bp($mobile + 1, min) {
        font-size: 24px;
      }
    }
  }
  &__columns {
    display: flex;
    justify-content: space-between;
    &.agreements {
      @include bp($desktop) {
        flex-direction: column;
      }
    }
  }
  &__check {
    display: flex;
    align-items: center;
    margin-top: 50px;
    align-self: flex-start;
    position: relative;
    @include bp($mobile) {
      display: block;
    }
    & + .connect__check {
      @include bp($desktop) {
        margin-top: 30px;
      }
    }
    input[type='checkbox'] {
      display: none;
      &:not(#connect_check_nda) + label::before {
        @include bp($mobile) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    input[type='checkbox']:checked + label::before {
      content: '';
      width: 20px;
      height: 20px;
      background: url(~assets/img/checked.png);
      margin-right: 15px;
      display: block;
      border: 1px solid;
      border-radius: 4px;
      flex-shrink: 0;
      @include bp($mobile) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    input[type='checkbox']#connect_check_nda:checked + label::before {
      @include bp($mobile) {
        position: static;
      }
    }
    label {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #828282;
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-self: flex-start;
      a {
        text-decoration: none;
        color: #f05722;
      }
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        margin-right: 15px;
        display: block;
        border-radius: 4px;
        border: 1px solid #bdbdbd;
        flex-shrink: 0;
      }
      @include bp(761, min) {
        font-size: 20px;
      }
      @include bp($desktopSmall) {
        max-width: 675px;
      }
      @include bp($mobile) {
        display: inline-block;
        padding-left: 37px;
      }
    }
    @include bp($mobile) {
      & + .connect__check label {
        display: flex;
        padding-left: 0;
      }
    }
  }
  &__file {
    display: flex;
    min-width: 170px;
    position: relative;
    align-self: flex-end;
    align-items: center;
    margin-left: 100px;
    cursor: pointer;
    & * {
      cursor: pointer;
    }
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      position: absolute;
      z-index: -10;
    }
  }
  &__file_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-left: 20px;
  }
  &__btn {
    background: #ffffff;
    padding: 12px 40px 10px 30px;
    margin-top: 30px;
    transition: color 0.1s ease-out, transform 1s ease-out;
    @include bp($mobileSmall, min) {
      margin-top: 40px;
    }
    @include bp($desktopSmall, min) {
      margin-top: 50px;
    }
    @include bp($mobileSmall - 100) {
      width: 100%;
      justify-content: center;
    }
    span {
      @include bp($mobile + 1, min) {
        font-size: 24px;
      }
      @include bp($mobileSmall - 100) {
        margin-left: 19px;
      }
      font-weight: 600;
    }
    &:hover {
      transition: color 0.1s ease-out, transform 1s ease-out;
    }
  }
  &__agreement {
    color: #f05722;
    @include bp($tabletLg + 1, min) {
      margin-left: 5px;
    }
    @include bp($desktopSmall) {
      margin-left: 35px;
    }
    @include bp($mobile) {
      margin-left: 0;
    }
  }
  &__error,
  &__message {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    font: 500 18px/1.4 $loadedFamily;
    color: $colorError;
    @include bp($desktop) {
      font: 500 16px/1.4 $loadedFamily;
    }
    @include bp($mobileSmall) {
      font: 500 14px/1.4 $loadedFamily;
    }
  }
  &__message {
    @include bp($desktopSmall) {
      top: calc(100% + 3px);
    }
    @include bp($tabletLg + 1, min) {
      left: 37px;
    }
    @include bp($mobile) {
      position: static;
      display: inline-block;
      margin-top: 5px;
    }
  }
  &__error {
    transition: opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
  }
}

.menu_services__input_after {
  height: 0;
  user-select: none;
  line-height: 70px;
  border-top: 2px solid #ff4200;
  position: absolute;
  max-width: 100%;
  min-width: 99px;
  bottom: -2px;
  left: 0;
  color: transparent;
  overflow: hidden;
  transition: 0.3s;
  @include bp($mobile) {
    font-size: 18px;
  }
}
</style>

<script>
import axios from 'axios'
import { mapMutations } from 'vuex'

export default {
  name: 'ContactForm',
  props: {
    hideTitle: { type: Boolean, required: false, default: false }
  },
  data: () => ({
    formName: 'contact',
    form: {
      name: '',
      email: '',
      phone: '',
      message: '',
      check_privacy: true,
      check_nda: false,
      submitDirty: false,
      emailRe: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    }
  }),
  computed: {
    trimmedEmailVal() {
      return this.form.email.trim()
    },
    formValidate() {
      return (
        this.form.emailRe.test(this.trimmedEmailVal) &&
        this.form.name.length >= 3 &&
        this.form.check_privacy
      )
    }
  },
  methods: {
    ...mapMutations(['setShowThankYou']),
    encode(data) {
      return Object.keys(data)
        .map(
          (key) => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join('&')
    },
    handleSubmit() {
      if (this.formValidate) {
        axios
          .post(
            '/',
            this.encode({
              'form-name': this.formName,
              ...this.form,
              page: this.$route.path
            }),
            {
              'Content-Type': 'application/x-www-form-urlencoded'
            }
          )
          .then(() => {
            this.setShowThankYou(true)
          })
      }
      this.form.submitDirty = true
    }
  }
}
</script>
