<template>
  <div
    v-if="isLazyBackground"
    class="lazy-blur lazy-container"
    :style="
      'background-image: url(' + (isPictureLoaded ? srcImage : srcThumb) + ')'
    "
  >
    <slot></slot>
  </div>
  <img
    v-else-if="isLazyImage"
    :src="isPictureLoaded ? srcImage : srcThumb"
    :alt="imageAlt"
  />
</template>

<script>
export default {
  name: 'LazyPicture',
  props: {
    // eslint-disable-next-line vue/require-default-prop
    srcImage: {
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    srcThumb: {
      type: String
    },
    imageAlt: {
      type: String,
      default: ''
    },
    lazyBackground: {
      type: Boolean,
      required: false
    },
    lazyImage: {
      type: Boolean,
      required: false
    }
  },
  data() {
    return {
      isPictureLoaded: false
    }
  },
  computed: {
    isLazyBackground() {
      return this.lazyBackground
    },
    isLazyImage() {
      return this.lazyImage
    }
  },
  beforeMount() {
    if (this.isLazyBackground) {
      setTimeout(() => {
        this.invokeDownload()
      }, 300)
    }
  },
  methods: {
    invokeDownload() {
      const image = document.createElement('img')
      image.src = this.srcImage
      image.onload = () => {
        this.isPictureLoaded = true
        setTimeout(() => {
          this.$el.classList.remove('lazy-blur')
        }, 150)
      }
      image.onerror = function(error) {
        // eslint-disable-next-line no-console
        console.error('error occurs with image ' + image.src, error)
      }
    }
  }
}
</script>

<style>
.lazy-blur {
  position: relative;
  backdrop-filter: blur(0);
  transition: 0.6s filter linear;
}
.lazy-blur:after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(10px);
  transition: 0.6s filter linear;
}
@supports not (backdrop-filter: none) {
  .lazy-blur:after {
    filter: blur(40px);
    background: rgba(0, 0, 0, 0.5);
    transition: filter 0.6s linear, background 0.6s linear;
  }
}
.lazy-container {
  transition: 0.6s linear 0.05s;
}
.lazy-blur > * {
  z-index: 1;
}
</style>
