<template>
  <a
    v-if="!isLinkDataValid"
    :to="vtClass"
    :class="vtClass"
    :style="vtStyle"
    @click.prevent
  >
    <slot></slot>
  </a>
  <nuxt-link v-else-if="isLocal" :to="url" :class="vtClass" :style="vtStyle">
    <slot></slot>
  </nuxt-link>
  <a v-else :href="url" :class="vtClass" :style="vtStyle">
    <slot></slot>
  </a>
</template>

<script>
export default {
  name: 'VTLink',
  props: {
    linkData: {
      type: Object,
      required: true
    },
    vtClass: { type: String, required: false, default: '' },
    vtStyle: { type: String, required: false, default: '' }
  },
  computed: {
    isLinkDataValid() {
      if (
        this.linkData.url &&
        (typeof this.linkData.url === 'string' ||
          this.linkData.url instanceof String)
      )
        return true

      if (
        this.linkData.add_query &&
        this.linkData.query &&
        (typeof this.linkData.query === 'string' ||
          this.linkData.query instanceof String)
      )
        return true

      return false
    },
    url() {
      if (!this.isLinkDataValid) return ''

      let url = this.linkData.url.replace(process.env.wpSiteUrl, '/')
      if (!this.linkData.use_custom_url && this.linkData.add_query) {
        url += this.linkData.query
      }
      return url
    },
    isLocal() {
      if (!this.isLinkDataValid) return false
      return !this.url.includes('://')
    }
  }
}
</script>
