<template>
  <!-- eslint-disable vue/no-v-html -->
  <div>
    <div
      v-if="data.embedded_html"
      class="overlay_video"
      @click="$emit('close')"
    >
      <button class="overlay_video__close" @click="$emit('close')">
        <i class="cross"></i>
      </button>
    </div>

    <div
      v-if="data.embedded_html"
      class="yt_video_modal"
      v-html="data.embedded_html"
    ></div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';

.yt_video_modal {
  transform: translate3d(-50%, -50%, 0);
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 1002;
  iframe {
    width: 100%;
    height: 70vh;
    @media (orientation: landscape) {
      height: 100%;
    }
  }
  @media (orientation: landscape) {
    width: 75%;
    height: 70vh;
  }
  @media (max-height: 500px) {
    width: 75%;
    height: 70vh;
  }
  .sketchfab-embed-wrapper {
    height: 100%;
  }
}
.overlay_video {
  position: fixed;
  background: black;
  opacity: 0.85;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  &__close {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 10px;
    .cross {
      position: static;
      &:before,
      &:after {
        top: 20px;
        left: 14px;
      }
    }
    @media (orientation: landscape) and (max-width: $tablet) {
      top: 10px;
    }
    @media screen and (max-height: 600px) {
      top: 10px;
    }
  }
}
</style>

<script>
export default {
  name: 'MediaPopup',
  props: {
    data: { type: Object, required: true }
  }
}
</script>
