<template>
  <section class="parallax-header-section">
    <div class="parallax-header container">
      <div class="parallax-header__content">
        <h3>
          {{ title }}
        </h3>
        <p>
          {{ description }}
        </p>
        <VTLink :link-data="btn" vt-class="slider__btn btn white-text xl">
          <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />
          <span>{{ btn.text }}</span>
        </VTLink>
      </div>
      <div id="scene" ref="scene">
        <div data-depth="0.6">
          <img
            class="parallax-header__img"
            :src="abstraction"
            alt="abstraction"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Parallax from 'parallax-js'
import abstraction from '../../assets/img/pages/businesses/abstraction.png'

export default {
  name: 'ParallaxHeader',
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    btn: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    abstraction
  }),
  mounted() {
    const scene = this.$refs.scene
    // eslint-disable-next-line no-unused-vars,no-new
    new Parallax(scene)
  }
}
</script>
