<template>
  <div id="postContent" class="post_content">
    <div class="container flex-block">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div class="post_content_container" v-html="content"></div>
      <div class="post-nav">
        <div class="list_container">
          <div class="list_container_title">
            Contents
          </div>
          <div
            v-for="(title, i) in tableOfContents"
            :key="i"
            class="list_container_li"
            :class="{ active: activeContentsTitleIndex === i }"
            @click="scrollTo(title)"
          >
            {{ title.name.length >= 2 ? title.name : '' }}
            <div
              v-for="(sub, j) in title.subtitles"
              :key="j"
              class="list_container_li_sub"
              :class="{
                active:
                  activeContentsTitleIndex === i &&
                  activeContentsSubtitleIndex === j
              }"
              @click.stop="scrollTo(sub)"
            >
              {{ sub.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';

.post_content {
  padding: 50px 0 60px;
  @include bp($desktopSmall + 1, min) {
    padding: 100px 0 45px;
  }
  @include bp($desktopSmall) {
    padding-bottom: 22px;
  }
  @include bp($tablet) {
    padding-bottom: 10px;
  }
  @include bp($mobileSmall) {
    padding-top: 40px;
  }
  ul {
    padding-left: 70px;
    @include bp($desktopSmall) {
      padding-left: 40px;
    }
    @include bp($mobileSmall) {
      padding-left: 30px;
    }
  }
  ol {
    padding-left: 70px;
    list-style-type: none;
    counter-reset: num;
    @include bp($mobileSmall) {
      padding-left: 34px;
    }
    ul {
      li {
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        color: #000000;
        list-style-type: none;
        position: relative;
        margin: 20px 0;
        @include bp($desktopSmall) {
          font-size: 22px;
        }
        @include bp($mobileSmall) {
          font-size: 18px;
        }
        &::before {
          content: '';
          top: 10px;
          left: -30px;
          background: url(~assets/img/post_circle.png);
          width: 10px;
          height: 10px;
          position: absolute;
          counter-increment: auto;
        }
      }
      ol {
        li {
          margin-top: 10px;
          line-height: 150%;
          &::before {
            content: counter(num) '. ';
            counter-increment: num;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            top: -3px;
            background: none;
            position: absolute;
            width: unset;
            height: unset;
            text-align: center;
            color: #f05722;
            left: -35px;
          }
        }
      }
    }
    li {
      margin-top: 10px;
      line-height: 1.5;
      &::before {
        content: counter(num) '. ';
        counter-increment: num;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        top: -3px;
        background: none;
        position: absolute;
        width: unset;
        height: unset;
        text-align: center;
        color: #f05722;
        left: -45px;
        @include bp($mobileSmall) {
          left: -34px;
          top: -6px;
        }
      }
      ul {
        padding-left: 30px;
      }
      strong {
        &:before {
          display: none;
        }
      }
    }
  }
  li {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    color: #000000;
    list-style-type: none;
    position: relative;
    margin: 25px 0;
    &::before {
      content: '';
      top: 10px;
      left: -50px;
      background: url(~assets/img/post_circle.png);
      width: 10px;
      height: 10px;
      position: absolute;
      @include bp($desktopSmall) {
        left: -30px;
      }
    }
    @include bp($desktopSmall) {
      font-size: 22px;
    }
    @include bp($mobileSmall) {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 800;
    margin: 30px 0 20px;
    color: #000000;
    @include bp($mobile + 1, min) {
      font-size: 56px;
      margin: 60px 0 30px;
    }
  }
  h3 {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.1;
    color: #f05722;
  }
  h4 {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h5 {
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #f05722;
  }
  h3,
  h4,
  h5 {
    margin: 40px 0;
    @include bp($mobile) {
      font-size: 24px;
      margin: 40px 0 20px;
    }
  }
  h2,
  h3,
  h4,
  h5,
  .gallery,
  figure {
    & + p {
      margin: 0 0 35px;
      @include bp($mobileSmall) {
        margin: 0 0 25px;
      }
    }
  }
  p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    @include bp($mobileSmall + 1, min) {
      font-size: 22px;
      line-height: 1.4;
    }
    @include bp($desktopSmall + 1, min) {
      font-size: 24px;
      line-height: 1.5;
    }
    & + p,
    &:first-of-type {
      margin: 0 0 35px;
      @include bp($mobileSmall) {
        margin: 0 0 25px;
      }
    }
    & + table {
      @include bp($tablet) {
        margin-top: 15px;
      }
    }
  }
  iframe {
    width: 100%;
  }
  blockquote {
    font-weight: 800;
    line-height: 1.2;
    position: relative;
    color: #000000;
    padding-left: 30px;
    margin-left: 0;
    margin-right: 0;
    @include bp($tablet + 1, min) {
      font-size: 24px;
    }
    @include bp($desktop + 1, min) {
      margin-left: 70px;
      font-size: 32px;
    }
    @include bp($mobileSmall) {
      padding-left: 20px;
    }
    &::before {
      background: #f05722;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
    }
    strong {
      font-weight: 600;
    }
    p {
      font-weight: 800;
      font-size: 18px;
      line-height: 120%;
      display: flex;
      align-items: center;
      position: relative;
      margin: 0;
      color: #000000;
      @include bp($mobileSmall + 1, min) {
        font-size: 24px;
      }
      @include bp($desktopSmall + 1, min) {
        font-size: 32px;
      }
      &:first-of-type {
        margin: 0;
      }
      & + p {
        margin-top: 5px;
        @include bp($desktopSmall) {
          margin-top: 15px;
        }
      }
      strong {
        display: block;
        width: 100%;
        margin-top: 10px;
        font-size: 24px;
        color: #828282;
        font-weight: 600;
        @include bp($desktopSmall) {
          margin-top: 5px;
        }
        @include bp($mobileSmall) {
          font-size: 18px;
        }
      }
    }
  }
  figure {
    width: 100% !important;
    margin-left: 0;
  }
  a {
    color: #f05722;
    text-decoration-line: underline;
    a:hover,
    a:visited {
      color: #fea586;
    }
  }
  iframe {
    margin: 20px 0;
  }

  em {
    text-decoration-line: underline;
    color: #f05722;
  }

  figcaption {
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.4;
    color: #828282;
    text-align: center;
    @include bp($desktopSmall) {
      font-size: 22px;
    }
    @include bp($mobileSmall) {
      font-size: 18px;
      line-height: 1.3;
    }
  }

  table {
    width: 100%;
    margin: 50px 0;
    @include bp($desktopSmall) {
      margin: 40px 0;
    }
    @include bp($tablet) {
      overflow-x: auto;
      display: inline-block;
      height: 100% !important;
      tbody {
        display: inline-block;
        min-width: 710px;
      }
    }
    tr {
      &:first-of-type {
        background: rgba(0, 0, 0, 0.04);
        border-bottom-color: #f05722;
        td {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }

    thead {
      tr {
        background: #f5f5f5;
        border-bottom: 1px solid #f05722;
        height: 64px;
        td {
          font-weight: bold;
          font-size: 22px;
          line-height: 26px;
          color: #000000;
          padding: 10px;
          box-sizing: border-box;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #e0e0e0;
        td {
          &:first-of-type {
            padding-left: 20px;
          }
        }
      }
      td {
        padding: 24px 10px 20px 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
  .gallery {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 40px;
    &.gallery-columns-2 {
      grid-template-columns: calc(100% / 2 - 20px) calc(100% / 2 - 20px);
      @include bp($desktop) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.gallery-columns-3 {
      grid-template-columns: calc(100% / 3 - 20px) calc(100% / 3 - 20px) calc(
          100% / 3 - 20px
        );
    }
    &.gallery-columns-4 {
      grid-template-columns:
        calc(100% / 4 - 20px) calc(100% / 4 - 20px) calc(100% / 4 - 20px)
        calc(100% / 4 - 20px);
      @include bp($desktop) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @include bp(600) {
      display: flex;
    }
    & + .gallery {
      margin-top: 40px;
    }
    .gallery-item {
      margin: 0;
      @include bp(600) {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          margin: 0 auto;
        }
      }
      &:not(.without-figcaption) + .gallery-item {
        .gallery-icon {
          height: auto;
        }
      }
      img {
        width: 100%;
      }
    }
    .gallery-icon a {
      display: flex;
    }
  }
  img {
    align-self: flex-start;
    pointer-events: none;
    &.unsize {
      width: unset;
    }
    &.aligncenter {
      margin: 0 auto;
      display: block;
    }
    &.alignright {
      display: block;
      margin-left: auto;
    }
    &.alignleft {
      display: block;
      margin-right: auto;
    }
  }
  .wp-caption-text {
    margin-top: 5px;
    text-align: center;
  }
  figure {
    &.aligncenter {
      img {
        margin: 0 auto 7px;
        display: block;
      }
    }
  }
  & .post_content_container p + blockquote {
    margin-top: 35px;
  }
  ul + p {
    margin-bottom: 35px;
  }
}

.without-figcaption {
  .gallery-icon,
  .gallery-icon a,
  .gallery-icon img {
    height: 100%;
  }
  .gallery-icon img {
    object-fit: cover;
    @include bp(600) {
      width: 100%;
    }
  }
}

.post-nav {
  @include bp($desktopSmall) {
    margin-left: 20px;
    width: 200px;
  }
  @include bp($tabletLg) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px;
  }
  @include bp($tabletLg + 1, min) {
    width: 270px;
    height: 100%;
    position: sticky;
    top: 150px;
    margin-left: 30px;
  }
  @include bp($mobileSmall) {
    display: none;
  }
}

.list_container {
  position: relative;
  @include bp($tabletLg + 1, min) {
    width: 270px;
    overflow: hidden;
  }
  @media screen and (min-width: $tabletLg + 1) and (orientation: portrait) {
    height: 100vh;
  }
  @include bp($desktopSmall) {
    width: 200px;
  }
  @include bp($tabletLg) {
    width: 100%;
  }
  &_title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    color: #f05722;
  }
  &_li_sub {
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #828282;
    opacity: 0;
    height: 0;
    margin: 0;
    transform: translate3d(0, 20px, 0);
    transition: transform 0.3s ease-in;
    &.active {
      color: #f05722;
      padding-left: 30px;
      position: relative;
      &:before {
        background: #f05722;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
      }
    }
    @include bp($tabletLg) {
      opacity: 1;
      height: auto;
      margin: 20px 0 0;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s ease-in;
    }
    @include bp($tablet) {
      margin: 30px 0 0;
    }
  }
  &_li {
    margin-top: 18px;
    font-size: 18px;
    line-height: 1.3;
    color: #000000;
    cursor: pointer;
    margin-bottom: 35px;
    &.active {
      color: #f05722;
      .list_container_li_sub {
        opacity: 1;
        height: auto;
        margin: 20px 0 0;
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s ease-in;
      }
    }
    @include bp($desktopSmall) {
      font-size: 16px;
      margin: 15px 0;
    }
    @include bp($tabletLg) {
      font-size: 18px;
      margin: 25px 0;
    }
  }

  &.ps--active-y {
    padding: 0 0 140px;
    width: calc(100% + 15px);
  }
}

.post_content_container {
  max-width: 870px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding-bottom: 25px;
  blockquote,
  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
  @include bp($desktopSmall) {
    max-width: 745px;
    padding-bottom: 15px;
  }
  @include bp($tabletLg) {
    max-width: 100%;
  }
}

.flex-block {
  position: relative;
  @include bp($tabletLg) {
    flex-direction: column-reverse;
  }
  &:after {
    content: '';
    height: 1px;
    bottom: 0;
    left: 30px;
    background: #e0e0e0;
    position: absolute;
    width: calc(100% - 60px);
  }
}
.flex-block {
  display: flex;
}
@include bp(600) {
  .gallery {
    position: relative;
    overflow: hidden;
  }

  .gallery__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item > div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
  }
}
</style>

<script>
import 'scroll-behavior-polyfill'
import multiItemSlider from '../../plugins/slider'

export default {
  name: 'RichContent',
  props: {
    content: { type: String, required: true }
  },
  data() {
    return {
      tableOfContents: [],
      activeContentsTitleIndex: -1,
      activeContentsSubtitleIndex: -1,
      ps: null
    }
  },
  mounted() {
    this.parseContent()
    window.addEventListener('scroll', this.handleScroll)
    const links = document.querySelectorAll('.post_content a')
    links.forEach((link) => {
      if (!link.href.includes('visartech.com')) {
        link.target = '_blank'
      }
    })
    const galleries = document.querySelectorAll('.gallery-icon')
    galleries.forEach((el) => {
      el.style.pointerEvents = 'none'
    })
    const allGalleryEl = document.querySelectorAll('.gallery-item')
    allGalleryEl.forEach((el) => {
      if (!el.querySelector('figcaption')) {
        el.classList.add('without-figcaption')
      }
    })
    /* eslint-disable */
    if(window.outerWidth <= 600) {
      let galleryCollection = document.querySelectorAll('.gallery')
      galleryCollection.forEach((gallery, index) => {
        if(gallery.querySelectorAll('.gallery-item').length > 1) {
          gallery.innerHTML = `
            <div class="gallery__wrapper">${galleryCollection[index].innerHTML}
            </div>
            <span class="slider__control slider__control_left" role="button"></span>
              <span class="slider__control slider__control_right slider__control_show" role="button"></span>`
        }
      })
      setTimeout(() => {
        const galleries = document.querySelectorAll('.gallery')
        galleries.forEach((gallery) => {
          if(gallery.querySelectorAll('.gallery-item').length <= 1) return
          multiItemSlider(gallery, {
            isCycling: true
          })
        })
      }, 0)
    }
    /* eslint-enable */
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    parseContent() {
      const contents = []

      const h2Elements = document.querySelectorAll('h2')
      if (h2Elements.length <= 0) {
        this.tableOfContents = contents
        return
      }

      for (let i = 0; i < h2Elements.length; i++) {
        const h2 = h2Elements[i]
        contents.push({
          name: h2.textContent,
          offsetTop: this.offsetTop(h2),
          subtitles: []
        })
      }

      const h3Elements = document.querySelectorAll('h3')
      if (h3Elements.length <= 0) {
        this.tableOfContents = contents
        return
      }

      let subtitles = []
      for (let i = 0; i < h3Elements.length; i++) {
        const h3 = h3Elements[i]
        subtitles.push({
          name: h3.textContent,
          offsetTop: this.offsetTop(h3)
        })
      }

      for (let i = contents.length - 1; i >= 0; i--) {
        const title = contents[i]
        title.subtitles = subtitles.filter(
          (sub) => sub.offsetTop > title.offsetTop
        )
        subtitles = subtitles.filter((sub) => !title.subtitles.includes(sub))
      }

      this.tableOfContents = contents
    },
    offsetTop(htmlElement) {
      let item = htmlElement
      let offsetTop = 0

      while (item) {
        offsetTop += item.offsetTop
        item = item.offsetParent
      }

      // adjustment
      offsetTop -= 175

      return offsetTop
    },
    scrollTo(item) {
      const checkVw = () =>
        window.outerWidth <= 980
          ? document.querySelector('.post-nav').offsetHeight + 20
          : 20
      const wrapper = document.querySelector('html')
      const count = item.offsetTop - wrapper.scrollTop + checkVw()
      wrapper.scrollBy({ top: count, left: 0, behavior: 'smooth' })
    },
    handleScroll(e) {
      if (this.tableOfContents.length <= 0) {
        this.activeContentsTitleIndex = -1
        this.activeContentsSubtitleIndex = -1
        return
      }

      for (let i = this.tableOfContents.length - 1; i >= 0; i--) {
        const title = this.tableOfContents[i]
        if (window.scrollY >= title.offsetTop - 5) {
          this.activeContentsTitleIndex = i
          break
        }
      }

      if (this.activeContentsTitleIndex < 0) {
        this.activeContentsSubtitleIndex = -1
        return
      }

      const title = this.tableOfContents[this.activeContentsTitleIndex]
      const subtitles = title.subtitles
      if (subtitles.length <= 0) {
        this.activeContentsSubtitleIndex = -1
        return
      }

      for (let i = subtitles.length - 1; i >= 0; i--) {
        const subtitle = subtitles[i]
        if (window.scrollY > subtitle.offsetTop - 5) {
          this.activeContentsSubtitleIndex = i
          break
        }
      }
    }
  },
  head() {
    return {
      script: [
        {
          src: `https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.scrollBy`,
          body: true
        }
      ]
    }
  }
}
</script>
