@import '_variables.scss';
@import '../blocks/_button';
@import '_mixins.scss';
@import '_helpers';
@import '_fonts';
@import 'breakpoints';
@import '../pages/services/index';
@import '../pages/businesses/index';

html, body {
  height: 100%;
}

html {
  font-size: $fz;
}

body {
  margin: 0;
  padding: 0;
  color: $colorText;
  font: $fw #{$fz}/#{$lh} $loadedFamily;
  background: $bgBody;
  min-width: $minWidth;
}

a {
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

input, textarea, select, button {
  font: #{$fz}/#{$lh} $loadedFamily;
  vertical-align: middle;
  outline: none;
  border: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  border: 1px solid #cad6dd;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  width: 100%;
  //padding: 7px 12px;
  //@include anim;
  &.invalid {
    //border-color: $invalidColor;
  }
  &:focus {
    border-color: $primaryColor;
    //box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  }
}

::-moz-placeholder {
  color: $colorPlaceholder;
  opacity: 1;
  @include anim($param: color);
  line-height: 1.1;
}

:-ms-input-placeholder {
  color: $colorPlaceholder;
  @include anim($param: color);
  line-height: 1.1;
}

::-webkit-input-placeholder {
  color: $colorPlaceholder;
  @include anim($param: color);
  line-height: 1.1;
}

h1 {
  font-size: 48px;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
  line-height: 1.15;
}

h3 {
  font-size: 30px;
  line-height: 1.125;
}

h4 {
  font-size: 36px;
  line-height: 1.125;
  font-weight: 300;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.75rem;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1230px;

  @include bp($mobile, min) {
    padding-left: 30px;
    padding-right: 30px;
  }
  &--header {
    max-width: 1840px;
  }
  &--slider {
    display: flex;
    flex: 0 1 1840px;
    max-width: 100%;
  }
  &--4k {
    // < $fullHd
    @include bp($desktopFullHd, min) {
      max-width: 1630px;
    }
  }
}

.heading2 {
  font-size: 36px;
  @include bp($mobileSmall+1, min) {
    font-size: 40px;
  }
  @include bp($desktop+1, min) {
    font-size: 64px;
  }
}

.inblock_desc {
  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 30px;
  @include bp($mobileSmall+1, min) {
    font-size: 22px;
    margin-top: 40px;
    max-width: 700px;
  }
  @include bp($tablet+1, min) {
    font-size: 24px;
    margin-top: 50px;
    max-width: 740px;
  }
  @include bp($tabletLg+1, min) {
    max-width: 770px;
  }
  @include bp($mobileSmall) {
    line-height: 1.3;
    font-weight: 300;
  }
}

.inblock_title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  @include bp($mobileSmall+1, min) {
    font-size: 36px;
  }
  @include bp($tablet+1, min) {
    font-size: 48px;
  }
  @include bp($desktop+1, min) {
    font-size: 64px;
    line-height: 1;
  }
}

.inblock {
  padding: 115px 0 50px;
  @include bp($mobile+1, min) {
    padding: 184px 0 124px 0;
  }
  @include bp($mobileSmall + 1, min) {
    &.blog ,
    &.services ,
    &.portfolio,
    &.сontacts {
      min-height: 450px;
    }
  }
  @include bp($tablet + 1, min) {
    &.blog ,
    &.services ,
    &.portfolio,
    &.сontacts {
      min-height: 500px;
    }
  }
  @include bp($desktop + 1, min) {
    padding: 235px 0 200px;
    &.blog ,
    &.services ,
    &.portfolio,
    &.сontacts {
      min-height: 640px;
    }
  }
  @include bp($desktopFullHd+1, min) {
    background-position: center;
  }
}

.services-process {
  overflow: hidden;
}

.blog__tag {
  background: #F05722;
  border-radius: 41px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #FFFFFF;
  padding: 13px 16px;
  margin-top: 10px;
}

