@font-face {
  font-family: Raleway;
  src: url('../../../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Raleway;
  src: url('../../../assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Raleway;
  src: url('../../../assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
       url('../../../assets/fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: Raleway;
  src: url('../../../assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
  url('../../../assets/fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}




