@mixin bp($point, $type: max) {
  @media all and (#{$type}-width: #{$point}px) {
    @content;
  }
}
@mixin anim($param: all, $dur: .15s, $type: ease-in-out, $delay: 0s) {
  transition: $param $dur $type $delay;
}

@mixin transition-appear {
  transition: 0.3s ease-in-out 0.3s;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
@mixin transition-hidden {
  transition: 0.3s ease-in-out;
  transform: translateX(40px);
  visibility: hidden;
  opacity: 0;
}

@mixin anim-matrix {
  visibility: visible;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 60, 0, 1);
}

@mixin anim-matrix-transition {
  transition: transform 1s ease 0.2s, opacity 1s ease 0.2s;
}
