// =================== DEFAULT COLORS

$colorText: #828282;
$colorLink: #ffffff;
$colorPlaceholder: #BDBDBD;
$colorCross: #F05722;
$colorError: #F05722;
$bgBody: #ffffff;
$footerBg: #080808;

$prActiveLink: #fdda24;
$primaryColor: $colorLink;
$invalidColor: #ff6c90;
$bannerColor: #dd1796;
$success: #8dc73f;
$black: #000;
$light-grey: #b3b3b3;
$lightest-grey: #F2F2F2;

// backgrounds
$mobileMenuBg: #12161B;
$mainWhiteBg: #E5E5E5;

// Widths
$minWidth: 320px;
$maxWidth: 1440px;

// =================== BREAKPOINTS

$desktopFullHd: 1920;
$desktopHd: 1600;
$desktop: 1280;
$desktopSmall: 1024;
$tabletLg: 980;
$tablet: 768;
$mobile: 640;
$mobileSmall: 480;

//font
$fz: 24px;
$fw: 600;
$lh: 1.3;
$family: Releway;
$loadedFamily: Raleway, 'Trebuchet MS', Avenir, Segoe UI, sans‑serif;

// Gradients
$dark-gradient: linear-gradient(90deg, #000000 0%, #191919 100%);
