<template>
  <nuxt-link
    :to="{
      name: 'blog-slug',
      params: {
        slug: slug
      }
    }"
    class="read-more-post"
    :style="`background-image:url(${img})`"
  >
    <div class="read-more-post__gradient-mask"></div>
    <div class="read-more-post__tags">
      <span v-for="item in tags" :key="item.id" class="read-more-post__tag">
        {{ item.name }}
      </span>
    </div>
    <div class="read-more-post__info-wrapper">
      <h3>
        {{ title }}
      </h3>
      <div class="read-more-post__author">
        <img :src="author.acf.photo.url" :alt="author.acf.photo.alt" />
        <div class="read-more-post__info">
          <h4>{{ author.name }}</h4>
          <small>
            {{ minutesToReadCalculated }}
          </small>
        </div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ServiceDirectionPageReadMorePost',
  props: {
    title: {
      type: String,
      default: ''
    },
    img: {
      type: String,
      default: ''
    },
    slug: {
      type: String,
      default: ''
    },
    minutesToRead: {
      type: String,
      default: ''
    },
    tags: {
      type: Array,
      default: () => []
    },
    author: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    minutesToReadCalculated() {
      return (
        this.minutesToRead +
        (this.minutesToRead > 1 ? ' minutes' : ' minute') +
        ' to read'
      )
    }
  }
}
</script>
