<template>
  <section class="interactive-core container">
    <h2 class="interactive-core__header">
      {{ title }}
    </h2>
    <div shown="500" shown_delay="100" shown_type="fromTop">
      <p class="interactive-core__info">
        {{ description }}
      </p>
    </div>
    <div
      class="interactive-core__info-block"
      :class="{ 'interactive-core__info-block--bordered': items.length > 3 }"
    >
      <VTLink
        v-for="item in items"
        :key="item.id"
        :link-data="item.link"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        <h3 class="interactive-core__title">
          {{ item.title }}
        </h3>
        <p class="interactive-core__text">
          {{ item.description }}
        </p>
      </VTLink>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ServiceDirectionPageInteractiveCore',
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>
