<template>
  <div
    class="portfolio-box-item"
    @mouseover="showBtn(index)"
    @mouseleave="showBtnClear"
  >
    <img :src="img" :alt="alt" />
    <div
      v-if="index === activeItemIndex"
      class="orange-block animate__animated animate__fadeIn"
    ></div>
    <h3>
      {{ title }}
    </h3>
    <div
      v-if="index === activeItemIndex"
      class="portfolio-box-item__button btn white-text xm animate__animated animate__fadeInRight"
      @click="showMediaPopup"
    >
      <i class="btn__arrow btn__arrow--white"></i>
      <span>
        {{ btnText }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServiceDirectionPagePortfolioItem',
  props: {
    index: {
      type: Number,
      default: null
    },
    title: {
      type: String,
      default: ''
    },
    img: {
      type: String,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    btnText: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    activeItemIndex: null
  }),
  methods: {
    showMediaPopup() {
      this.$emit('show-popup')
    },
    showBtn(index) {
      this.activeItemIndex = index
    },
    showBtnClear() {
      this.activeItemIndex = null
    }
  }
}
</script>
