<template>
  <section class="services-box">
    <div class="container">
      <h2
        class="services-box__title"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ title }}
      </h2>
      <p
        class="services-box__desc"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ description }}
      </p>
      <div class="cards-wrapper">
        <ServiceDirectionPageServicesCard
          v-for="item in items"
          :key="item.id"
          shown="500"
          shown_delay="100"
          shown_type="fromTop"
          :title="item.title"
          :description="item.description"
        />
      </div>
    </div>
  </section>
</template>

<script>
import ServiceDirectionPageServicesCard from '@/components/pages/services/servicesDirections/ServiceDirectionPageServicesCard'
export default {
  name: 'ServiceDirectionPageServices',
  components: { ServiceDirectionPageServicesCard },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>
