<template>
  <div class="technology-map-box-group">
    <h3 class="technology-map-box-group__title">
      {{ title }}
    </h3>
    <div class="technology-map-box-technologies">
      <span
        v-for="item in technologies"
        :key="item.id"
        class="technology-map-box-group__technology"
      >
        {{ item.title }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServiceDirectionPageTechnologyMapGroup',
  props: {
    title: {
      type: String,
      default: ''
    },
    technologies: {
      type: Array,
      default: () => []
    }
  }
}
</script>
