<template>
  <section :class="className">
    <div :class="`${className}__black-block`">
      <h1 class="animate__animated animate__fadeInDown animate__delay-2s">
        {{ title }}
      </h1>
      <div
        class="scroll-down-block animate__animated animate__fadeIn animate__delay-2s"
      >
        <span>
          Scroll down
        </span>
        <img
          :src="arrowDown"
          alt="arrow-down"
          class="animate__animated animate__fadeInDown animate__infinite"
        />
      </div>
    </div>
    <div
      class="animate__animated animate__fadeInUp animate__delay-2s device-header"
      :class="videoClassName"
    >
      <img :src="wrapperImg" alt="Device" />
      <div v-if="!custom" class="video-wrapper">
        <video :src="video" autoplay muted loop playsinline></video>
      </div>
      <div v-else class="video-wrapper" v-html="video"></div>
    </div>
  </section>
</template>

<script>
import arrowDown from '@/assets/img/pages/services/interactive-app/arrow-down.png'
export default {
  name: 'ServiceDirectionPageDeviceHeader',
  props: {
    title: {
      type: String,
      default: ''
    },
    className: {
      type: String,
      default: ''
    },
    wrapperImg: {
      type: String,
      default: ''
    },
    videoClassName: {
      type: String,
      default: ''
    },
    video: {
      type: String,
      default: ''
    },
    custom: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    arrowDown
  })
}
</script>
