<template>
  <section class="portfolio-box-wrapper">
    <div class="container">
      <div class="portfolio-box">
        <div class="portfolio-box-info">
          <h2
            class="portfolio-box-info__title"
            shown="500"
            shown_delay="100"
            shown_type="fromTop"
          >
            {{ title }}
          </h2>
          <p
            class="portfolio-box-info__desc"
            shown="500"
            shown_delay="100"
            shown_type="fromTop"
          >
            {{ description }}
          </p>
          <nuxt-link
            :to="{
              name: 'portfolio',
              query: {
                service: btn.service.slug
              }
            }"
            class="btn portfolio-box-info__btn--desktop xm big_back"
          >
            <i class="btn__arrow"></i>
            <span>{{ btn.text }}</span>
          </nuxt-link>
        </div>
        <div class="portfolio-box-items">
          <div v-for="(item, index) in items" :key="item.id">
            <ServiceDirectionPagePortfolioItem
              shown="500"
              shown_delay="100"
              shown_type="fromTop"
              :index="index"
              :title="item.acf.title"
              :img="item.acf.image.url"
              :alt="item.acf.image.alt"
              :btn-text="item.acf.playback_button.text"
              @show-popup="showMediaPopupHandler(index, true)"
            />
            <MediaPopup
              v-if="showMediaPopup && activePopupIndex === index"
              :data="item.acf.playback_button"
              @close="showMediaPopupHandler(index, false)"
            />
          </div>
        </div>
        <nuxt-link
          :to="{
            name: 'portfolio',
            query: {
              service: btn.service.slug
            }
          }"
          class="btn portfolio-box-info__btn--mobile xm big_back"
        >
          <i class="btn__arrow"></i>
          <span>{{ btn.text }}</span>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import ServiceDirectionPagePortfolioItem from '@/components/pages/services/servicesDirections/ServiceDirectionPagePortfolioItem'
export default {
  name: 'ServiceDirectionPagePortfolio',
  components: {
    ServiceDirectionPagePortfolioItem
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    btn: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    showMediaPopup: false,
    activePopupIndex: null
  }),
  methods: {
    showMediaPopupHandler(index, val) {
      this.activePopupIndex = index
      this.showMediaPopup = val
    }
  }
}
</script>
