<template>
  <section class="read-more">
    <div class="container">
      <h2
        class="read-more__title"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ title }}
      </h2>
      <p
        class="read-more__desc"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ description }}
      </p>
      <div class="posts-wrapper">
        <ServiceDirectionPageReadMorePost
          v-for="item in postsCalculated"
          :key="item.id"
          shown="500"
          shown_delay="100"
          shown_type="fromTop"
          :title="item.post_title"
          :img="item.acf.image.url"
          :tags="item.acf.categories"
          :author="item.acf.author"
          :minutes-to-read="item.acf.minutes_to_read"
          :slug="item.post_name"
        />
      </div>
    </div>
  </section>
</template>

<script>
import ServiceDirectionPageReadMorePost from '@/components/pages/services/servicesDirections/ServiceDirectionPageReadMorePost'
export default {
  name: 'ServiceDirectionPageReadMore',
  components: {
    ServiceDirectionPageReadMorePost
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    posts: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    windowWidth: 0
  }),
  computed: {
    postsCalculated() {
      return this.windowWidth >= 1024 ? this.posts : this.posts.slice(0, 2)
    }
  },
  mounted() {
    this.windowWidth = window.innerWidth
  }
}
</script>
