<template>
  <section class="services-benefits container">
    <div
      class="services-benefits-main"
      shown="500"
      shown_delay="100"
      shown_type="fromTop"
    >
      <h2 class="services-benefits-main__title">
        {{ title }}
      </h2>
      <p class="services-benefits-main__desc">
        {{ description }}
      </p>
    </div>
    <div
      class="services-benefits-info"
      :class="{ 'services-benefits-info--custom': isCustom }"
      shown="500"
      shown_delay="100"
      shown_type="fromTop"
    >
      <div
        v-for="(item, index) in items"
        :key="item.id"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
        :class="
          activeItem === index
            ? 'services-benefits-info-block--active'
            : 'services-benefits-info-block'
        "
      >
        <h3
          class="services-benefits-info-block__title"
          @mouseover="activateItem(index)"
        >
          {{ item.title }}
        </h3>
        <p
          v-if="item.description"
          class="services-benefits-info-block__description animate__animated animate__fadeInUp"
        >
          {{ item.description }}
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ServiceDirectionPageBenefits',
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: () => []
    },
    isCustom: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    activeItem: 0
  }),
  methods: {
    activateItem(index) {
      this.activeItem = index
    }
  }
}
</script>
