<template>
  <section ref="technologyMapBox" class="technology-map-box">
    <div class="container">
      <h2
        class="technology-map-box__title"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ title }}
      </h2>
      <p
        class="technology-map-box__desc"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ description }}
      </p>
      <ServiceDirectionPageTechnologyMapGroup
        v-for="item in groupsCalculated"
        :key="item.id"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
        :title="item.acf.category_title"
        :technologies="item.acf.technologies"
      />
      <button
        v-if="groups.length > 4"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
        class="btn white-text xm technology-map-box__show-more-btn"
        :class="{
          'technology-map-box__show-more-btn--active': isToggleOpen
        }"
        @mouseover="hovered = true"
        @mouseleave="hovered = false"
        @click="toggleGroups"
      >
        <img :src="arrowOrange" alt="arrow" />
        <span>{{ isToggleOpen ? 'Show Less' : 'Show More' }}</span>
      </button>
    </div>
  </section>
</template>

<script>
import ServiceDirectionPageTechnologyMapGroup from '@/components/pages/services/servicesDirections/ServiceDirectionPageTechnologyMapGroup'
import arrowOrange from '@/assets/img/pages/services/arrow-down-orange.png'
export default {
  name: 'ServiceDirectionPageTechnologyMap',
  components: {
    ServiceDirectionPageTechnologyMapGroup
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    groups: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    isToggleOpen: false,
    orangeBtn: false,
    arrowOrange,
    hovered: false
  }),
  computed: {
    groupsCalculated() {
      return this.isToggleOpen ? this.groups : this.groups.slice(0, 4)
    }
  },
  methods: {
    changeToggleState() {
      this.isToggleOpen = !this.isToggleOpen
    },
    scroll() {
      const element = this.$refs.technologyMapBox
      setTimeout(function() {
        window.scrollTo({
          top: element.offsetTop - element.scrollTop + element.clientTop - 40,
          left: 0,
          behavior: 'smooth'
        })
      }, 10)
    },
    async toggleGroups() {
      await this.changeToggleState()
      await this.scroll()
    }
  }
}
</script>
