<template>
  <div class="main_container">
    <BlogPostHeader :post="post" />
    <BlogPostAuthor :author="post.acf.author" />
    <RichContent :content="post.acf.body" />
    <div class="container">
      <div class="post_after">
        <BlogPostTags :post="post" />
        <BlogPostIcons :title="post.acf.seo_title" :slug="slug" />
      </div>
      <BlogSubscribeForm />
      <BlogPostOtherPosts :post="post" :posts="posts" />
    </div>
    <BlogPostFixedIcons
      v-if="activeIcons"
      :title="post.acf.seo_title"
      :slug="slug"
    />
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';
.fixed_icons_hands_number {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-align: center;
  color: #828282;
  @include bp($mobileSmall) {
    position: absolute;
    bottom: -2px;
    left: 24px;
  }
}
.post_after_clap {
  @include bp($tabletLg) {
    margin-top: 20px;
  }
  @include bp($tablet) {
    margin-top: 40px;
  }
  @include bp($mobileSmall) {
    padding-bottom: 30px;
    position: relative;
  }
}
.post_after_tag {
  background: #f2f2f2;
  border-radius: 41px;
  font-size: 18px;
  line-height: 14px;
  color: black;
  padding: 18px 20px 16px;
  margin-top: 10px;
  margin-right: 10px;
}
</style>

<script>
import { mapGetters } from 'vuex'
import BlogPostHeader from '@/components/pages/blog/post/BlogPostHeader'
import BlogPostAuthor from '@/components/pages/blog/post/BlogPostAuthor'
import RichContent from '@/components/common/RichContent'
import BlogPostTags from '@/components/pages/blog/post/BlogPostTags'
import BlogPostIcons from '@/components/pages/blog/post/BlogPostIcons'
import BlogSubscribeForm from '@/components/pages/blog/BlogSubscribeForm'
import BlogPostOtherPosts from '@/components/pages/blog/post/BlogPostOtherPosts'
import BlogPostFixedIcons from '@/components/pages/blog/post/BlogPostFixedIcons'

export default {
  name: 'Post',
  components: {
    BlogPostHeader,
    BlogPostAuthor,
    RichContent,
    BlogPostTags,
    BlogPostIcons,
    BlogSubscribeForm,
    BlogPostOtherPosts,
    BlogPostFixedIcons
  },
  data() {
    return {
      slug: this.$route.params.slug,
      activeIcons: true
    }
  },
  computed: {
    ...mapGetters('api/posts/posts', ['posts']),
    post() {
      return this.posts.find((p) => {
        return p.slug === this.slug
      })
    }
  },
  head() {
    return {
      title: this.post.acf.seo_title,
      meta: [
        { name: 'description', content: this.post.acf.seo_description },
        { name: 'keywords', content: this.post.acf.seo_keywords },
        { property: 'og:title', content: this.post.acf.seo_title },
        {
          property: 'og:description',
          content: this.post.acf.seo_description
        },
        { property: 'og:image', content: this.post.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
