.choose-your-way {
  padding: 30px 0 37px;
  @include bp($tablet, min) {
    padding: 30px 0 70px;
  }
  &__title {
    font-weight: 800;
    font-size: 32px;
    color: $black;
    @include bp($tablet, min) {
      margin: 33px 0 13px 0;
      font-weight: 800;
      font-size: 56px;
    }
    @include bp($desktopSmall, min) {
      font-size: 64px;
    }
  }
  &__description {
    margin: 0 0 27px 0;
    font-weight: 700;
    font-size: 18px;
    color: $black;
    opacity: .5;
    line-height: 21px;
    @include bp($tablet, min) {
      margin: 0 0 41px;
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
    }
    @include bp($desktopSmall, min) {
      font-size: 24px;
      line-height: 150%;
    }
  }
}
.choose-your-way-card-wrapper {
  @include bp($tablet, min) {
    display: flex;
    justify-content: space-between;
  }
}
.choose-your-way-card {
  border: 1px solid $colorCross;
  padding: 20px;
  margin: 8px 0;
  @include bp($tablet, min) {
    margin: 0;
    width: 32%;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  @include bp($desktopSmall, min) {
    flex-wrap: wrap;
  }
}
.choose-your-way-card-info {
  &__title, &__description {
    color: $black;
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    @include bp($desktopSmall, min) {
      font-weight: 800;
      font-size: 30px;
      line-height: 130%;
    }
  }
  &__description {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    display: none;
    @include bp($desktopSmall, min) {
      display: block;
    }
  }
  &__btn {
    display: none;
    @include bp($desktopSmall, min) {
      display: block;
    }
  }
}
