.parallax-header-section {
  background: $dark-gradient;
}
.parallax-header {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primaryColor;
  @include bp($tablet, min) {
    height: 450px;
  }
  @include bp($desktopSmall, min) {
    height: 500px;
  }
  @include bp($desktopFullHd, min) {
    height: 640px;
  }
  &__img {
    width: 100%;
  }
  &__btn {
    position: relative;
    z-index: 1;
  }
  &__content {
    position: absolute;
    z-index: 1;
    @include bp($tablet, min) {
      position: relative;
    }
    & h3 {
      margin: 65px 0 0 0;
      font-weight: 800;
      font-size: 24px;
      @include bp($tablet, min) {
        margin: 109px 0 0;
        font-size: 36px;
      }
      @include bp($desktopSmall, min) {
        margin: 95px 0 0;
        font-size: 48px;
      }
      @include bp($desktopFullHd, min) {
        margin: 115px 0 0;
        font-size: 64px;
      }
    }
    & p {
      margin: 25px 0 20px;
      padding-right: 35px;
      font-weight: 500;
      font-size: 16px;
      @include bp($tablet, min) {
        margin: 43px 0 37px;
        font-weight: 600;
        font-size: 22px;
      }
      @include bp($desktopSmall, min) {
        margin: 48px 0 35px;
        font-weight: bold;
        font-size: 24px;
      }
      @include bp($desktopFullHd, min) {
        margin: 45px 0 47px;
      }
    }
  }
  & #scene {
    margin: auto;
    width: 200px;
    @include bp($tablet, min) {
      width: 300px;
      max-width: 300px;
      margin: 0;
      position: absolute!important;
      right: 20px;
    }
    @include bp($desktopSmall, min) {
      width: 350px;
      max-width: 350px;
      position: relative;
      right: 0;
    }
    @include bp($desktopFullHd, min) {
      right: 13%;
      top: 7%;
      width: 500px;
      min-width: 500px;
    }
  }
}
