<template>
  <div class="main_container">
    <div class="inblock portfolio">
      <div class="container">
        <div class="inblock_title">
          {{ portfolioPage.acf.title }}
        </div>
        <div class="inblock_desc">
          {{ portfolioPage.acf.description }}
        </div>
      </div>
    </div>

    <div ref="filter" class="sorting">
      <div
        :class="{ hiddenAnimationMatrix: !loaded }"
        class="container sort viewAnimationMatrix"
      >
        <div class="sorting__title">
          Sort Portfolio By:
        </div>
        <PortfolioFilter
          v-if="loaded"
          :items="portfolioServices"
          :selected-item-index="selectedServiceIndex"
          default-title="All Services"
          @item-selected="selectedServiceIndex = $event"
        />
        <PortfolioFilter
          v-if="loaded"
          :items="portfolioIndustries"
          :selected-item-index="selectedIndustryIndex"
          default-title="All Industries"
          @item-selected="selectedIndustryIndex = $event"
        />
        <PortfolioFilter
          v-if="loaded"
          :items="portfolioTechnologies"
          :selected-item-index="selectedTechnologyIndex"
          default-title="All Technologies"
          @item-selected="selectedTechnologyIndex = $event"
        />
      </div>
    </div>

    <PortfolioItem
      v-for="item in activePortfolio"
      :key="item.acf.title"
      :data="item"
    />

    <ContactForm />
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';
.hiddenAnimationMatrix {
  @include anim-matrix;
}
.viewAnimationMatrix {
  @include anim-matrix-transition;
}
.portfolio {
  background-image: url(~assets/img/portfolio-mobileX2.png),
    linear-gradient(90deg, #000000 0%, #191919 100%);
  background-repeat: no-repeat;
  background-position: center 48px, 0 0;
  background-size: 200px 200px, cover;
  @include bp($desktopSmall) {
    .inblock_desc {
      max-width: 700px;
    }
  }
  @include bp($tablet) {
    .inblock_desc {
      line-height: 1.4;
    }
  }
  @include bp($mobileSmall) {
    min-height: 300px;
    .inblock_desc {
      line-height: 1.3;
    }
  }
  @include bp($mobileSmall + 1, min) {
    background: url(~assets/img/portfolio-tablet.png) no-repeat 93% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($tablet + 1, min) {
    background: url(~assets/img/portfolio-dts.png) no-repeat 95% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktop + 1, min) {
    background: url(~assets/img/portfolio-dts.png) no-repeat 85% center,
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopHd + 1, min) {
    background: url(~assets/img/portfolio-dt.png) no-repeat 82.25%
        calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  @include bp($desktopFullHd + 1, min) {
    background: url(~assets/img/portfolio-dt.png) no-repeat 75.25%
        calc(100% - 30px),
      linear-gradient(90deg, #000000 0%, #191919 100%);
  }
  &.inblock {
    @media all and (max-width: #{$tablet}px) and (min-width: #{$mobileSmall + 1}px) {
      padding: 172px 0 30px 0;
    }
  }
}
.sorting {
  position: relative;
  z-index: 3;
  min-height: 295px;
  @include bp($desktop + 1, min) {
    min-height: 210px;
  }
  @include bp($tablet + 1, min) {
    min-height: 185px;
  }
  @include bp($mobileSmall + 1, min) {
    min-height: 210px;
  }
}
</style>

<script>
import { mapGetters } from 'vuex'

import PortfolioFilter from '@/components/pages/portfolio/PortfolioFilter'
import PortfolioItem from '@/components/pages/portfolio/PortfolioItem'

export default {
  name: 'Portfolio',
  components: {
    PortfolioFilter,
    PortfolioItem
  },
  data() {
    return {
      selectedServiceIndex: -1,
      selectedIndustryIndex: -1,
      selectedTechnologyIndex: -1,
      loaded: false,
      isUpdated: false
    }
  },
  computed: {
    ...mapGetters('api/pages/portfolio', ['portfolioPage']),
    ...mapGetters('api/posts/portfolio', [
      'portfolioItems',
      'portfolioServices',
      'portfolioIndustries',
      'portfolioTechnologies'
    ]),
    activePortfolio() {
      const resultArray = []
      this.portfolioItems.forEach((item) => {
        if (this.selectedServiceIndex >= 0) {
          const selectedServiceId = this.portfolioServices[
            this.selectedServiceIndex
          ].id
          if (!item.acf.services.includes(selectedServiceId)) return
        }

        if (this.selectedIndustryIndex >= 0) {
          const selectedIndustryId = this.portfolioIndustries[
            this.selectedIndustryIndex
          ].id
          if (!item.acf.industries.includes(selectedIndustryId)) return
        }

        if (this.selectedTechnologyIndex >= 0) {
          const selectedTechnologyId = this.portfolioTechnologies[
            this.selectedTechnologyIndex
          ].id
          if (!item.acf.technologies.includes(selectedTechnologyId)) return
        }

        resultArray.push(item)
      })
      return resultArray
    },
    allFiltersPicked() {
      return (
        this.selectedServiceIndex !== -1 &&
        this.selectedIndustryIndex !== -1 &&
        this.selectedTechnologyIndex !== -1
      )
    }
  },
  created() {
    this.selectedServiceIndex = this.portfolioServices.findIndex(
      (item) => item.slug === this.$route.query.service
    )
  },
  mounted() {
    this.$nextTick(() => {
      this.loaded = true
    })
  },
  updated() {
    if (!this.isUpdated) {
      this.isUpdated = true
      return
    }
    this.$nextTick(() => {
      const firstCase = document.querySelector('.portfolio-list')
      if (window.innerWidth <= 640)
        this.handleScrollTo(this.$refs.filter, 'end')
      if (this.activePortfolio.length && firstCase && this.allFiltersPicked)
        this.handleScrollTo(firstCase, 'center')
    })
  },
  methods: {
    handleScrollTo(el, position) {
      el.scrollIntoView({
        block: position,
        behavior: 'smooth'
      })
    }
  },
  head() {
    return {
      title: this.portfolioPage.acf.seo_title,
      meta: [
        {
          name: 'description',
          content: this.portfolioPage.acf.seo_description
        },
        { name: 'keywords', content: this.portfolioPage.acf.seo_keywords },
        { property: 'og:title', content: this.portfolioPage.acf.seo_title },
        {
          property: 'og:description',
          content: this.portfolioPage.acf.seo_description
        },
        { property: 'og:image', content: this.portfolioPage.acf.og_image }
      ],
      script: [
        {
          src: `https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.scrollIntoView`,
          body: true
        }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
