<template>
  <section class="container">
    <div class="choose-your-way">
      <h2 class="choose-your-way__title">
        {{ title }}
      </h2>
      <p class="choose-your-way__description">
        {{ description }}
      </p>
      <div class="choose-your-way-card-wrapper">
        <div
          v-for="(item, index) in cards"
          :key="item.id"
          class="choose-your-way-card"
        >
          <div
            class="choose-your-way-card-info"
            :class="{
              'animate__animated animate__fadeInUp': index === activeIndex
            }"
            @mouseover="activeIndex = index"
          >
            <h3 class="choose-your-way-card-info__title">
              {{ item.title }}
            </h3>
            <p class="choose-your-way-card-info__description">
              {{ item.description }}
            </p>
            <VTLink
              :link-data="item.business.acf.button"
              vt-class="choose-your-way-card-info__btn slider_btn btn white-text"
            >
              <i class="btn__arrow"></i>
              <span>{{ item.business.acf.button.text }}</span>
            </VTLink>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'BusinessesPageChooseYourWay',
  props: {
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    cards: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    activeIndex: null
  })
}
</script>
