.post_after_tags{
  display: flex;
  flex-wrap: wrap;
}

.post_after_tags a{
  display: block;
  width: fit-content;
  height: fit-content;
}



.post_after_tags{
  max-width: 60%;
}

.post_after{
  justify-content: space-between;
  align-items: center;
}

.post_after .fixed_icons_icon{
  margin-right: 10px;
}

.search_result{
  display: flex;
  align-items: center;
}

.search_result_type{
  color: white;
  font-size: 14px;
  margin-right: 20px;
  padding: 5px 10px;
  color: white;
  border-radius: 100px;
  background: #ff4200;
}

.facts_items.mobile{
  display: none;
}





/*.portfolio-list_item.mobile{*/
/*  display: none;*/
/*}*/

.search_dropdown{
  display: flex;
  flex-direction: column;
}

.answers_result_item{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.answers_result_item a{
  color: white;
}

.answers_result_item a:hover{
  color:#F05722;
}

.cookie_btn{
  height: 56px;
  width: 246px;
  flex-shrink: 0;
  border-color: white !important;
}



.cookie_subtitle{
  margin-top: 10px;
}

.cookie_subtitle a{
  color: black;
  text-decoration: underline;
}


.close_cookie_icon{
  width:24px;
  height:24px;
  margin-right: 5px;
}

.sitemap_li{
  margin: 60px 0;
}

.sitemap_li_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 110%;
  color: #F05722;
}

.sitemap_li_sub{
  display: flex;
  flex-wrap: wrap;
}

.sitemap_li_item{
  margin: 25px 40px 15px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 110%;
  color: black;
}



/*.inblock {*/
/*  padding: 300px 0;*/
/*}*/



.bg-slider_block_background {
  background-size: 100%;
}

/*.reviews{*/
/*  background-size: 100%;*/
/*}*/

.inblock.businesses {
    background-size: 100%;
}

.btn.one_businesses_btn{
  color: white;
  border-color: white;
  text-transform: none;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  position: absolute;
  margin-right: 33.5%;
  right: 36px;
  bottom: 40px;
}

.inblock.company {
    background-size: 100%;
}
.inblock.сontacts {
    background-size: 100%;
}
.mobile{
  display: none;
}
.inblock.industries{
  background-size: 100%;
}
.portfolio-block_item{
  width: 70%;
}
.portfolio-block_content {
    margin-left: 711px;
}
@media screen and (max-width: 2000px) {
  .portfolio-block_content {
    margin-left: 375px;
  }
  .portfolio-block_item{
    width: 100%;
  }
  /*.inblock {*/
  /*  padding: 200px 0;*/
  /*}*/
  .inblock.industries{
    background-size: auto 100%;
  }

  .bg-slider_block_background {
    background-size: auto 100%;
  }
  /*.reviews{*/
  /*  background-size: unset;*/
  /*}*/
  .inblock.businesses {
      background-size: unset;
  }
  .inblock.company {
      background-size: unset;
  }
}

.blog__filter_tags_item{
  order: 1;
}

.blog__filter_tags_item span img{
  width: 18px;
  display: none;
}

.blog__filter_tags_item.active span img{
  display: flex;
  margin-left: 15px;
}

.blog__filter_tags_item.active{
  order: 0;
  background: #F05722;
  color: white;
  display: flex;
  align-items: center;
}

.post_content_container a{
  color: #F05722;
}

.startup .our_offering__switcher_item{
  max-height: 52px;
}

.enterprise .specials_item_desc{
  padding-left: 0px;
  position: relative;
}

.specials_item_list{
  margin-top: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  opacity: 0.7;
  align-items: flex-start;
}

.specials_item_list p{
  margin-bottom: 10px;
}

.specials_item_list li::before{
  content: '';
  top: 10px;
  left: -30px;
  background: url(~assets/img/post_circle.png);
  width: 10px;
  height: 10px;
  position: absolute;
}

.specials_item_list li{
  list-style: none;
  position: relative;
  margin-bottom: 10px;
}

.post_content cite{
  display: block;
  margin-top: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #828282;
}

/* .enterprise .specials_item_list::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #F05722;
} */

.first_post.near_posts{
  justify-content: flex-end;
}

header.black .menu_item:hover{
  color: black;
}

#bus_sub{
  margin-top: 30px;
}



.bot-ser-btn.btn{
  display: none;
}

.additionalMenu {
  position: absolute;
  top: -20px;
  left: -25%;
  width: 150%;
  height: 68px;
}

header.black .normal_logo{
  display: none;
}

.bg-slider_block.game .container{
  justify-content: space-around;
}

.game .pe_block_items{
  width: 200px;
}

/*.pe_block .btn{*/
/*  margin-top: 50px;*/
/*  z-index: 2;*/
/*  position: relative;*/
/*}*/

.businesses-industries.business{
  background: black;
}

.business .businesses-industries_title, .business .businesses-industries_desc{
  color: white;
}

.business_table{
  background: black;
  padding: 110px 0 150px 0;
}

.business_table_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.business_table_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
  max-width: 870px;
}

.business_table table{
  margin-top: 70px;
  border: none;
  border-spacing: 0;
  width: 100%;
}

.business_table th{
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.business_table td{
  border-bottom: 1px solid #333333;
  text-align: center;
  padding: 20px 15px;
  width: 235px;
}

.row_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #B2B2B2;
  text-align: right !important;
  width: 340px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.td_first{
  padding-left: 65px !important;
}

.business_benefits{
  padding: 105px 0 165px 0;
}

.business_benefits .our_offering__switcher_item.active{
  font-size: 30px;
}

.business_benefits_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.business_benefits_desc{
  max-width: 900px;
  margin-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.business_benefits_items{
  margin-top: 50px;
}

.specials{
  background: url(~assets/img/specials_bg.png);
  padding: 115px 0 150px 0;
  background-size: auto 100%;
}

.specials.game{
  background: url(~assets/img/game_bg.jpg);
  background-size: auto 100%;
  background-position: -10px;
}

.game .specials_items{
  flex-direction: column;
}

.specials_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.specials_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  max-width: 870px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}

.specials_items{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.specials_item{
  width: 570px;
  margin-top: 50px
}

.specials_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #F05722;
}

.enterprise .specials_item_desc{
  flex-direction: column;
  align-items: flex-start;
}

.enterprise .specials_item_desc p{
  margin-top: 3px;
}

.specials_item_desc{
  margin-top: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.stages{
  padding: 115px 0 150px 0;
}

.stages_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.stages_desc{
  margin-top: 30px;
  max-width: 770px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.stages_items{
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.stages_item{
  border: 1px solid #F05722;
  box-sizing: border-box;
  width: 270px;
  height: 370px;
  padding: 40px 20px;
}

.stages_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #F05722;
  height: 40px;
}

.stages_item_desc{
  margin-top: 37px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.business_inblock{
  position: relative;
  height: 640px;
  overflow: hidden;
  background: #fff;
}

.business_inblock::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~assets/img/business_bg.png);
  position: absolute;
  background-position: 400px;
  z-index: 0;
}

.game.business_inblock::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~assets/img/game_main_bg.jpg);
  position: absolute;
  background-position: 400px;
  z-index: 0;
}

.enterprise.business_inblock::before{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~assets/img/Enterprise.jpg);
  position: absolute;
  background-position: 400px;
  z-index: 0;
}

.business_inblock_orange{
  width: 66%;
  background: #F05722;
  height: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.game .business_inblock_title{
  background-image: url(~assets/img/game_main_bg.jpg);
}

.enterprise .business_inblock_title{
  background-image: url(~assets/img/Enterprise.jpg);
}

.business_inblock_title{
  display: inline-block;
  width: 100%;
  height: 640px;
  box-sizing: border-box;
  font-size: 90px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
  text-align: right;
  text-transform: uppercase;
  margin-right: -5px;
  z-index: 3;
  position: absolute;
  top:0;
  left: 0;
  padding-top: 145px;
  padding-right: 33.5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(~assets/img/business_bg.png);
  background-position: 400px;
  text-align: right;
}

.business_inblock_title h1{
  text-align: right;
  font-size: 90px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 900;
}

.business_inblock h1 span{
  font-size: 150px;
  line-height: 85%;
}

.timeline{
  padding-top:120px;
  padding-bottom: 120px;
}

.timeline_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.timeline_desc{
  margin-top:30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.timeline_content{
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: space-between;
}

.timeline_graphs_items{
  display: flex;
  align-items: flex-end;
  margin-left: -10px;
}

.timeline_graphs_item{
  margin-left: 10px;
  width: 210px;
  background: black;
  padding: 0 20px 22px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.timeline_graphs_item.active{
  background: #F05722;
}

.timeline_graphs_item.active .timeline_graphs_item_subtitle{
  color: white;
}

.timeline_graphs_item_subtitle{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #F05722;
}

.timeline_graphs_item.active .timeline_graphs_item_title{
  color: white;
}

.timeline_graphs_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  color: #F05722;
}

.timeline_graphs_item.active .timeline_graphs_item_desc{
  color: white;
}

.timeline_graphs_item_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 10px;
}

.timeline_graphs_item.first{
  height: 190px;
}

.timeline_graphs_item.second{
  height: 270px;
}

.timeline_graphs_item.third{
  height: 170px;
}

.timeline_graphs_item.four{
  height: 240px;
}

.timeline_dates{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.timeline_date.opacity{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  opacity: 0.3;
  margin-top: 20px;
}

.timeline_date.normal{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  opacity: 0.6;
  margin-top: 20px;
}

.timeline_date.active{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #F05722;
  margin-top: 20px;
}

.timeline_graphs_facts{
  margin-top: 40px;
}

.timeline_graphs_facts_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.timeline_graphs_facts_items{
  padding-left: 30px;
  position: relative;
  height: 253px;
}

.company_awards{
  background: black;
  padding: 120px 0;
}

.company_awards_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.company_awards_desc{
  margin-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
}

.company_awards_items{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.company_awards_item img{
  width: 100%;
  filter: grayscale(100%);
  transition: .5s;
}

.company_awards_item:hover img{
  filter: grayscale(0%);
}

.timeline_graphs_facts_items::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #F05722;
}

.timeline_graphs_facts_item{
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  max-width: 840px;
  color: #000000;
  margin-top: 15px;
}

.timeline_graphs_facts_item p{
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  max-width: 840px;
  color: #000000;
  margin-top: 15px;
}

.timeline_graphs_facts_item b, .timeline_graphs_facts_item strong{
  font-weight: 800;
  color: #F05722;
}

.numbers_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.numbers_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbers_item{
  width: 370px;
  margin-top: 60px;
}

.comand{
  background: black;
  width: 100%;
  padding: 120px 0;
}

.comand_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.comand_desc{
  margin-top: 40px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  max-width: 870px;
}

.company-items{
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-item{
  margin-top: 70px;
  cursor: pointer;
  width: 270px;
}

.mission{
  padding:115px 0 120px 0;
}

.mission_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.mission_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
  max-width: 870px;
  margin-top: 30px;
}

.mission_items{
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}



.portfolio-block{
  display: flex;
}

.mission_item{
  max-width: 500px;
}

.mission_item:hover .mission_item_title{
  color: #F05722;
}

.values{
  background: black;
  padding: 115px 0 150px 0;
}

.values_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.values_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  max-width: 770px;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
}

.values_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.values_item{
  margin-top: 30px;
  width: 570px;
  height: 245px;
  border: 1px solid #F05722;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.values_item_text{
  display: none;
}

.values_item.active .values_item_desc{
  display: none;
}

.values_item.active .values_item_title{
  color: white;
}

.values_item.active .values_item_text{
  display: block;
  color: white;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  padding-left: 20px;
  margin-top: 30px;
  position: relative;
}

.values_item.active .values_item_text::before{
  content: '';
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: #F05722;
  position: absolute;
}

.values_item_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  margin-top: 10px;
}

.values_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #F05722;
}

.mission_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  color: #000000;
}

.mission_item_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-top: 20px;
  padding-left: 30px;
  position: relative;
}

.mission_item_desc::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #F05722;
  top:0;
  left: 0;
}

.company-item_photo img{
  width: 100%;
  filter: grayscale(100%);
}

.company-item:hover .company-item_photo img{
  filter: grayscale(0%);
}

.company-item_name{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
}

.game-as{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 50px;
}

.company-item_position{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  color: #F05722;
}

.numbers_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
  color: #F05722;
}

.numbers_item_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.numbers{
  padding: 100px 0 125px 0;
}

.businesses-industries{
  padding: 110px 0 150px 0;
}

.businesses-industries_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.businesses-industries_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
  margin-top: 30px;
}

.businesses-industries_items{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.businesses-industries_item{
  width: 370px;
  height: 400px;
  padding: 0 30px 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.businesses-industries_item.startup{
  background-position: right;
  background-size: auto 100%;
}

.businesses-industries_item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.7;
  z-index: 0;
}

.why_us_block{
  background: #f5f5f5;
  padding: 115px 0;
}

.bg-slider__content_desc.game{
  width: 470px;
}

.why_us_block_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.why_us_block_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
  margin-top: 30px;
}

.why_us_block_items{
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
}

.why_us_block_item{
  width: 370px;
  box-sizing: border-box;
}

.why_us_block_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.why_us_block_item_title:hover{
  color: #F05722;
}

.why_us_block_item_desc{
  padding-left: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
  position: relative;
}

.why_us_block_item_desc::before{
  content: '';
  top:0;
  left: 0;
  height: 100%;
  width: 2px;
  position: absolute;
  background: #F05722;
}

.businesses-industries_item:hover::after{
  opacity: 0.5;
  background: black;
}

.businesses-industries_item:hover .businesses-industries_item_desc{
  display: block;
}


.businesses-industries_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  z-index: 1;
}

.businesses-industries_item_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF !important;
  opacity: 0.7;
  z-index: 2;
  display: none;
}

.businesses-industries_item:hover .businesses-industries_item_btn{
  display: flex !important;
}

.businesses-industries_item_btn{
  display: none !important;
  margin-top: 20px;
  z-index: 1;
}



.supporting{
  background-image: url(~assets/img/supporting.png) !important;
}

.clients-logo{
  background: #F2F2F2;
  padding: 115px 0 200px 0;
}

.clients-logo_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.clients-logo_desc{
  margin-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.7;
}

.clients-logo_items{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: baseline;
}

.clients-logo_item{
  margin-top: 100px;
  width: 26%;
}

.clients-logo_item img{
  width: 100%;
}

.choose-way{
  padding: 60px 0 100px 0;
}

.choose-way_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.choose-way_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  opacity: 0.5;
  margin-top: 30px;
}

.choose-way_items{
  display: flex;
  justify-content: space-between;
}

.facts{
  background: black;
  padding: 115px 0 150px 0;
}

.facts_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.facts_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 30px;
}

.facts_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.facts_item{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.facts_item_circle{
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 2px solid #F05722;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.facts_item_circle_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}

.facts_item_circle_subtitle{
  font-family: Raleway;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
  margin-left: 40px;
}

.facts_item_content{
  margin-left: 30px;
}

.facts_item_content_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 290px;
}

.facts_item_content_title:hover{
  color: #F05722;
}

.stages_item.active{
  background: black;
}

.stages_item.active .stages_item_desc{
  color: white;
}

.facts_item_content_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 20px;
  width: 370px;
}

.businesses_btn{
  margin-top: 40px;
}

.technology-map{
  background: black;
  width: 100%;
  padding: 110px 0 130px 0;
}

.technology-map_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.technology-map_desc{
  margin-top: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.technology-map_item{
  margin-top: 55px;
}

.technology-map_item{
  display: flex;
  margin-top: 15px;
}

.technology-map_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 280px;
  flex: 1;
}

.technology-map_item_tags{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top:-10px;
}

.technology-map_item_tag{
  background: #F2F2F2;
  border-radius: 41px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  text-align: center;
  color: #000000;
  margin-right: 10px;
  padding: 0 22px;
  margin-top: 10px;
  transition: .5s;
}

.technology-map_item_tag:hover{
  background: #F05722;
  color: white;
}

.show_btn{
  align-self: center;
  margin:auto;
  margin-top: 50px;
}

.blog-readmore{
  background: #F2F2F2;
  width: 100%;
  padding: 80px 0 85px 0;
}

.blog-readmore.game{
  background: black;
}

.game .blog-readmore_title{
  color: white;
}

.game .blog-readmore_desc{
  color: white;
}

.blog-readmore_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.blog-readmore_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  margin-top: 20px;
}

.blog-readmore_content{
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}

.portfolio-block{
  margin-top: 120px;
  margin-bottom: 120px;
}

.portfolio-block .container{
  display: flex;
  position: relative;
}

.portfolio-block_items{
  width: 100%;
}

.portfolio-block_item{
  height: 250px;
  padding-left: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-position: center;
  margin-top: 5px;
  background-size: 100%;
  padding-right: 30px;
  justify-content: space-between;
}

.portfolio-block_item_btn .btn{
  margin-top: 0 !important;
  border-color: white;
}

.portfolio-block_item_btn{
  display: none;
}


.portfolio-block_item:hover{
  background: #F05722 !important;
}

.portfolio-block_item:hover .portfolio-block_item_btn{
  display: flex;
}

.portfolio-block_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.portfolio-block_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 350px;
}

.portfolio-block .btn{
  margin-top: 60px;
}

.portfolio-block_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
}

.portfolio-block_desc{
  margin-top: 50px;
  width: 470px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #828282;
  margin-right: 20px;
}

.services-block{
  margin-top: 100px;
  padding: 110px 0 100px 0;
  background: black;
  width: 100%;
}

.services-block_items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #F05722;
}

.services-block_items .services_coubs_item *{
  color: white !important;
}

.services-block_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.services-block_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #828282;
  margin-top: 20px;
}

.mobile_dropdown {
  width: 100%;
  background: #1E2226; }
  .mobile_dropdown-item {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    width: 100%;
    align-items: center;
    height: 57px;
    padding-left: 30px;
    border-bottom: 1px solid #2F2F2F;
    box-sizing: border-box; }

.sorting__item {
  width: 100%; }
  .menu__logo .logo_mob {
    display: none; }

  .menu_item.active {
    color: #F05722; }



.menu_services__dropdown {
  padding: 90px 0px 90px;
  position: fixed;
  top: 126px;
  left: 0;
  width: 100%;
  background: #12161B;
  justify-content: center;
  align-items: center;
  z-index: 200000;
  display: flex; }

.menu_services__container {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1; }

.menu_services__categories.inddrop{
  max-height: 240px;
  flex-wrap: wrap;
}

.menu_services__categories a{
  width: 250px;
}

.menu_services__categories {
  display: flex;
  max-width: 370px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }
  .menu_services__categories_item {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 120%;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    opacity: 1;
    position: relative; }
    .menu_services__categories_item.active {
      color: #F05722; }
    .menu_services__categories_item:hover {
      color: #F05722; }

.menu_business__categories{
  max-width: unset;
  flex-direction: row;
}
.menu_services__subcategories.menu_business__subcategories{
  max-width: unset;
  width: unset;
  margin-left: 0;
  padding-left: 0;
  margin-top: 30px;
}

.menu_business__categories_item.active{
  position: relative;
}

.menu_business__categories_item{
  margin-top: 0;
}

.menu_business__categories_item.active::before{
  content: '';
  left: -40px;
  width: 2px;
  background: #F05722;
  height: 100%;
  top:0;
  position: absolute;
}

.menu_services__subcategories.menu_business__subcategories::before{
  display: none;
}
.menu_services__subcategories {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 30px;
  padding-left: 35px;
  max-width: 460px;
  position: relative;
  transition: 0.1s;
  width: 400px; }
  .menu_services__subcategories.active {
    display: flex; }
  .menu_services__subcategories_item {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #828282;
    margin-top: 20px;
    opacity: 0;
    transition: 0.1s; }
  .menu_business__categories_item.active .menu_services__subcategories_item{
    color: white;
  }
  .menu_services__subcategories.active .menu_services__subcategories_item {
    opacity: 1; }
  .menu_services__subcategories::before {
    content: "";
    width: 1px;
    height: 0;
    background: #F05722;
    margin-right: 35px;
    position: absolute;
    transition: 0.2s;
    top: 0;
    left: 0; }
  .menu_services__subcategories.active::before {
    height: 100%; }

.menu_services__news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 270px;
  opacity: 1; }
  .menu_services__news img {
    width: 100%; }
  .menu_services__news p {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 20px; }

.menu_services__input {
  width: 100%;
  padding: 7px 0 7px 0;
  border-bottom: 2px solid #414549;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  opacity: 1; }
  .menu_services__input img {
    opacity: 1;
    position: relative; }
  .menu_services__input input {
    background: none;
    border: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;
    margin-left: 25px;
    width: 100%;
    opacity: 1;
    position: relative; }

    .menu_services__input input:focus {
      outline: none; }
  /*.menu_services__input_after {*/
  /*  position: absolute;*/
  /*  bottom: -2px;*/
  /*  left: 0;*/
  /*  width: 120px;*/
  /*  height: 2px;*/
  /*  background: #ff4200;*/
  /*  transition: 0.5s; }*/

  /*.btn i {*/
  /*  transition: 1s ease-out;*/
  /*  z-index: 2;*/
  /*}*/
  /*.btn::before {*/
  /*  position: absolute;*/
  /*  top: 0;*/
  /*  left: 0;*/
  /*  right: 0;*/
  /*  bottom: 0;*/
  /*  margin: auto;*/
  /*  content: "";*/
  /*  border-radius: 50%;*/
  /*  display: block;*/
  /*  width: 500px;*/
  /*  height: 500px;*/
  /*  line-height: 600px;*/
  /*  right: -180px;*/
  /*  text-align: center;*/
  /*  transition: box-shadow 1s ease-out;*/
  /*  z-index: 1;*/
  /*  box-shadow: inset 0 0 0 0px #f05722; }*/
  .btn.big_back::before {
    width: 700px;
    height: 700px;
    line-height: 700px; }
  .btn::after {
    opacity: 0;
    content: "";
    display: block;
    width: 8px;
    height: 14px;
    background-image: url(~assets/img/white_arrow.png);
    background-size: 100% 100%;
    margin-left: 50px;
    transition: 1s ease-out;
    z-index: 2;
    position: absolute;
    right: -20px; }
    .timeline_graphs_facts .btn{
      color: black !important;
    }
    .timeline_graphs_facts .btn:hover {
      color: #fff !important; }
  /*.btn:hover {*/
  /*  color: #fff; }*/
  /*  .btn:hover::before {*/
  /*    box-shadow: inset 0 0 0 500px #f05722; }*/
    .btn:hover.big_back::before {
      box-shadow: inset 0 0 0 500px #f05722; }
    .btn:hover::after {
      opacity: 1;
      right: 15px; }

.sm {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  max-height: 56px;
  padding: 7px 22px 7px 24px; }

.sm span {
  margin-left: 19px; }







.mainVideo{
  position: absolute;
  z-index: -1;
}

.bg-slider__content_min_width {
  min-height: 390px; }

.bg-slider {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background-image: linear-gradient(101.78deg, #000000 43.62%, rgba(0, 0, 0, 0) 79.71%), url(~assets/img/slide_grad_bg.jpg);
  background-size: auto 100%;
  background-position: center; }
  .bg-slider__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(108.09deg, #000000 20.85%, rgba(0, 0, 0, 0) 56.93%);
    z-index: -1; }
  .bg-slider__container {
    display: flex;
    justify-content: space-between; }
  .bg-slider__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    color: white;
    margin-bottom: 30px; }
  .bg-slider__content {
    width: 47%;
    box-sizing: border-box; }
    .bg-slider__content_desc {
      font-family: Raleway;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      margin-top: 20px;
      margin-bottom: 50px;
      color: white; }
  .bg-slider__switcher {
    width: 45%;
    padding-left: 30px;
    box-sizing: border-box; }
    .bg-slider__switcher_items {
      font-family: Raleway;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: white;
      margin-bottom: 50px;
      cursor: pointer; }
    .bg-slider__switcher_item_animated.active {
      height: fit-content;
      margin-top: 15px; }
      .bg-slider__switcher_item_animated.active .bg-slider__switcher_item {
        display: none; }
      .bg-slider__switcher_item_animated.active .bg-slider__switcher_item_hovered {
        top: 0;
        opacity: 1;
        display: block;}
      .bg-slider__switcher_item_animated.active .bg-slider__switcher_item_before {
        height: 100%; }
    .bg-slider__switcher_item {
      margin-top: 20px;
      position: relative;
      opacity: 0.5;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;}
      .bg-slider__switcher_item_before {
        content: "";
        width: 2px;
        height: 0;
        background: #F05722;
        margin-right: 40px;
        position: absolute;
        top: 0;
        left: -30px; }
      .bg-slider__switcher_item_animated {
        position: relative; }
      .bg-slider__switcher_item_hovered {
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 130%;
        opacity: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: none;
        left: 0;
        top: 60px; }

.array_left {
  display: none; }

.array_right {
  display: none; }


.reviews.white_theme{
  background: white;
}

.blog-readmore.black_theme{

}

.reviews.white_theme .reviews__title{
  color: black;
}

.reviews.white_theme .reviews__description{
  color: black;
}

.reviews.white_theme .reviews__text_comment{
  color: black;
}

.reviews.white_theme .reviews__person_profesion{
  color: #000000;
  opacity: 0.7;
}

  .video-game .services_coubs_item{
    width: 280px;
  }

  .video-game .services_coubs_item_title{
    font-size: 32px;
  }
  .video-games .benefits_black_item.active .benefits_black_item_desc{
    margin-top:0;
  }
  .video-games .benefits_black_item.active{
    height: 28px;
  }


.service_main-block {
  width: 100%;
  padding-top:170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service_main-block::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 640px;
  background: black;
  top: 0;
  left: 0;
  z-index: -1;
}

.service_main-block_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  min-width: 1170px;
}

.service_main_core{
  margin-top: 100px;
}

.service_main_core_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #000000;
  text-align: center;
}

.service_main_core_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #828282;
  text-align: center;
  margin-top: 30px;
}

.service_main_core_bloks{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.service_main_core_bloks.block_xl{
  flex-wrap: wrap;
  margin-top: 30px;
}

.service_main-block_video{
  width: 100%;
  height: 575px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 110px;
}

.service_main-block_video video{
  width: 98%;
  margin-left: 1%;
  margin-top: 10px;
}

.service_main-block_video.game{
  height: 520px;
}

.service_main-block_video.software{
  border-radius: 0px;
}

.service_main-block_video.art{
  border-radius: 0px;
}

.service_main-block_video.art img{
  width: 970px;
  left: 50%;
  margin-left: -485px;
}

.service_main-block_video.art iframe{
  height: 518px;
  width: 922px;
}

.service_main-block_video.art .sketchfab-embed-wrapper{
  z-index: 4;
  position: absolute;
  left: 126px;
  top: 29px;
}


.service_main-block_video.software video {
    width: 74%;
    margin-left: 12.5%;
    margin-top: 10px;
}

.service_main-block_video.game video{
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.service_main-block_video.vr video {
    width: 70%;
    margin-left: 15%;
    margin-top: 55px;
}

.main-block_video_mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.vr .main-block_video_mask{
  position: absolute;
  width: 970px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -485px;
  z-index: 2;
}

.service_main-block_video img{
  width: 100%;
}

.benefits{
  margin:auto;
  margin-top: 100px;
  max-width: 1520px;
}

.benefits.video-games{
  max-height: 680px;
}

.benefits .container{
  display: flex;
  align-items: stretch;
}

.benefits_orange{
  background: #F05722;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px 0 75px;
}


.video-games .benefits_black{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 680px;
}

.video-games .benefits_black_item{
  width: 275px;
}
.video-games .benefits_black_item_title{
  font-size: 24px;
}

.video-games .benefits_black_item.active .benefits_black_item_title{
  font-size: 24px;
}
.benefits_black{
  background: black;
  width: 50%;
  padding:125px 100px 100px 30px;
  box-sizing: border-box;
}

.benefits_orange_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 100%;
  color: #FFFFFF;
}

.benefits_orange_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  opacity: 0.7;
  max-width: 400px;
  margin-top: 60px;
}

.benefits_black_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #FFFFFF;
}

.benefits_black_item{
  margin-top: 0px;
  padding: 20px 0 20px 0;
}

.benefits_black_item.active .benefits_black_item_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 110%;
  color: #FFFFFF;
}

.benefits_black_item.active{
  position: relative;
  align-items: flex-start;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits_black_item.active::before{
  content: '';
  position: absolute;
  top:0;
  left:-32px;
  height: 100%;
  width:4px;
  background: white;
}

.benefits_black_item.active .benefits_black_item_desc{
  display: block;
  margin-top: 30px;
}

.benefits_black_item_desc{
  display: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.7;
}

.service_main_core_blok{
  max-width: 370px;
}

.block_xl .service_main_core_blok{
  max-width: 520px;
  margin-top: 60px;
}

.service_main_core_blok:hover .service_main_core_blok_title{
  color:#F05722;
}

.fchoose.services_coubs_item:hover{
  background: url(~assets/img/choosebg1.png);
  color: white !important;
}

.schoose.services_coubs_item:hover{
  background: url(~assets/img/choosebg2.png);
  color: white !important;
}

.tchoose.services_coubs_item:hover{
  background: url(~assets/img/choosebg3.png);
  color: white !important;
}

.service_main_core_blok_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 110%;
  color: #000000;
  cursor: pointer;
}

.technology-map_items{
  margin-top: 70px;
}

.service_main_core_blok_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  opacity: 0.5;
  margin-top: 30px;
}

.service_main-block_desc{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #F05722;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  position: relative;
}

.service_main-block_desc::after{
  content: '';
  background: url(~assets/img/arrow_bottom.png);
  position: absolute;
  width: 12px;
  height: 6px;
  background-size: 100% 100%;
  top: 28px;
  left: 50%;
  margin-left: -6px;
}






  .portfolio-list.industries .portfolio-list_item {
    background-size: 100%; }
.inblock.company {
  background-image: url(~assets/img/company_bg.jpg);
  margin-bottom: 50px;
  background-position: right;
  background-repeat: no-repeat;
  background-color: black}

.inblock.industries {
  background-image: url(~assets/img/industries_bg.jpg);
  margin-bottom: 50px;
  padding-bottom: 170px;}

.inblock.businesses {
  background-image: url(~assets/img/businesses_bg.jpg);
  margin-bottom: 50px;
  background-position: center;}

.blog__tags{
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.blog__filter_tags_title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #F05722;
}

.post_after{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
  .portfolio-block_content{
    margin-left: 235px;
  }
  .inblock.industries {
      background-image: url(~assets/img/industries_bg.jpg);
      margin-bottom: 50px;
      padding-bottom: 170px;
      background-position: -300px;
  }
 }
@media screen and (max-width: 1500px) {
  .inblock.company{
    background-position: -200px;
  }
  .portfolio-block_content{
    margin-left: 150px;
  }

    .business_inblock::before{
      background-position: -250px;
    }

    .business_inblock_title{
      background-position: -250px;
    }

    .game.business_inblock::before{
      background-position: -250px;
    }

    .enterprise.business_inblock::before{
      background-position: -250px;
    }

  .menu_services__dropdown {
    top: 80px; } }
@media screen and (max-width: 1300px) {
  .technology-map{
    padding-bottom: 100px;
  }
  .blog-readmore{
    padding-bottom: 45px;
  }
  .inblock.company {
    background-position: -400px;
  }

  .portfolio-block_content{
    margin-left: 55px;
  }
  .vr .main-block_video_mask {
      width: 870px;
      left: 50%;
      margin-left: -435px;
  }
  .service_main-block_video.vr video {
      width: 66%;
      margin-left: 17%;
      margin-top: 48px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 96px;
      top: 25px;
  }
  .service_main-block_video.art iframe {
      height: 455px;
      width: 922px;
  }
  .service_main-block_video{
    height: 500px;
    border-radius: 95px;
  }
  .stages_item{
    width: 24%;
  }
  .specials_item{
    width: 48%;
  }
  .timeline_graphs_facts{
    max-width: 765px;
  }
  .timeline_date.active{
    font-size: 56px;
  }
  .timeline_graphs_item{
    width: 184px;
  }
  .values_item {
    width: 49%;
  }
  .numbers{
    padding: 80px 0 100px 0;
  }
  .numbers_item_desc{
    font-size: 20px;
  }
  .numbers_item{
    width: 310px;
  }
  .businesses-industries_item{
    width: 32%;
  }
  .facts_item_content{
    margin-left: 20px;
  }
  .facts_item_content_title{
    font-size: 24px;
  }
  .facts_item_content_desc{
    font-size: 18px;
    width: 300px;
  }
  .facts_item_circle{
    width: 150px;
    height: 150px;
  }
  .facts_item_circle_title{
    font-size: 56px;
  }
  .facts_item_circle_subtitle{
    font-size: 36px;
    margin-left: 30px;
  }
  .inblock.businesses{
    background-position: -500px;
    background-size: 150%;
  }

  .service_main-block_video{width: 95%;}


  .inblock.industries {
    background-position: top right; }

  .portfolio-list.industries .portfolio-list_item {
    background-size: auto 100%; }



  .menu__items {
    font-size: 18px; }




  /*.slide_title {*/
  /*  margin-bottom: 20px;*/
  /*  font-size: 40px; }*/

   }
  @media screen and (max-width: 1250px) {
    .numbers_title{
      font-size: 22px;
    }
    .comand_desc{
      font-size: 22px;
    }
    .comand{
      padding-bottom: 100px;
    }
    .mission{
      padding: 100px 0;
    }
    .mission_desc{
      font-size: 22px;
    }
    .mission_item_desc{
      font-size: 22px;
    }
    .values{
      padding: 100px 0;
    }
    .values_desc{
      font-size: 22px;
    }
    .values_item_desc, .values_item.active .values_item_text{
      font-size: 16px;
    }
    .timeline{
      padding: 100px 0;
    }
    .timeline_desc{
      font-size: 22px;
    }
    .timeline_graphs_facts_item p{
      font-size: 18px;
    }
    .company_awards{
      padding: 100px 0;
    }
    .company_awards_desc{
      font-size: 22px;
    }
    .timeline_graphs_item {
        width: 25%;
    }
    .inblock.company{
      background-position: -600px;
    }

    .stages_item_title{
      font-size: 22px;
    }
    .stages_item_desc{
      font-size: 17px;
      margin-top: 55px;
    }

    .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 85px;
      top: 20px;
    }
    .service_main-block_video.art iframe {
      height: 460px;
      width: 926px;
    }
  }
@media screen and (max-width: 1200px) {
  .service_main-block_title{
    min-width: unset;
  }
  .company-item{
    width:245px;
  }
  .service_main-block_title{
    font-size: 48px;
    max-width: 700px;
    margin: auto;
  }
  .portfolio-block_desc{
    width: 308px;
  }
  .portfolio-block_content{
    margin-right: 20px;
    margin-left: 30px;
  }
  .service_main-block_desc {
    margin-bottom: 50px;
  }
  .service_main_core_title{
    font-size: 48px;
  }
  .block_xl .service_main_core_blok{
    max-width: 410px;
  }
  .service_main_core_blok{
    max-width: 295px;
  }

  /*.sdc_block{*/
  /*  width: 100%;*/
  /*  padding: 0 30px 100px 30px;*/
  /*  max-width: unset;*/
  /*  box-sizing: border-box;*/
  /*}*/

  /*.sdc_block_desc{*/
  /*  width: 100%;*/
  /*  max-width: unset;*/
  /*  margin-top: 40px;*/
  /*  height: unset;*/
  /*}*/

  /*.sdc_block_title{*/
  /*  font-size: 40px;*/
  /*  max-width: 600px;*/
  /*}*/

  /*.pe_block{*/
  /*  position: relative;*/
  /*  width: 100%;*/
  /*  max-width: unset;*/
  /*  box-sizing: border-box;*/
  /*}*/
  /*.pe_block{*/
  /*  padding-left:30px;*/
  /*  padding: 117px 30px 138px 30px;*/
  /*}*/
  /*.pe_block_item{*/
  /*  max-width: 470px;*/
  /*}*/
  /*.pe_block_items{*/
  /*  padding-left: 30px;*/
  /*  height: unset;*/
  /*}*/
  /*.pe_block_title{*/
  /*  font-size: 40px;*/
  /*}*/

  .service_main-block_video.vr video {
      width: 60%;
      margin-left: 20%;
      margin-top: 48px;
  }
  .vr .main-block_video_mask {
      width: 770px;
      left: 50%;
      margin-left: -385px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 64px;
      top: 20px;
  }
  .service_main-block_video.art iframe {
      height: 410px;
      width: 930px;
  }
  .service_main-block_video{
    height: 450px;
    border-radius: 85px;
  }
  .blog__filter{
    max-width: 30%;
  }
  .menu_services__dropdown {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    top: 48px; }
  .menu__items {
    display: none; }
  .bg-slider {
    padding-top: 70px;
    height: max-content;
    background: black; }
    .bg-slider__title {
      font-size: 40px;
      margin-bottom: 40px;}
    .bg-slider__content {
      width: 100%;
      padding: 0 30px 0 30px; }
    .bg-slider__switcher {
      width: 100%;
      background: url(~assets/img/tablet_slide_grad_bg.png);
      background-size: auto 100%;
      background-position: 70% 0%;
      padding: 115px 30px 130px 0;
      margin-top: 100px; }
      .bg-slider__switcher_items {
        padding-left: 30px;
        width: 50%; }

  .bg-slider__container {
    flex-direction: column; }

  .reviews__video {
    align-self: flex-start;
    margin-top: 50px; }

  .reviews__video_title {
    max-width: unset; }
  .reviews{
    background-size: auto 100%;
    }
}

@media screen and (max-width: 1150px) {
  .inblock.industries {
      background-position: 1200px;
  }
  .game .main-block_video_mask{
    height: 80%;
  }
  .service_main-block_video.game video {
      width: 64%;
      margin-left: 16%;
      margin-top: 40px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 43px;
      top: 20px;
  }
  .service_main-block_video.vr video {
      width: 62%;
      margin-left: 19%;
      margin-top: 38px;
  }
}
@media screen and (max-width: 1100px) {
  .company-item{
    width:225px;
  }


  .service_main-block_video.art img {
      width: 100%;
      left: 0;
      margin-left: 0;
  }
  .service_main-block_video.vr video {
      width: 70%;
      margin-left: 15%;
      margin-top: 38px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      width: 96%;
      left: 18px;
      top: 20px;
      overflow: hidden;
  }
  .service_main-block_video.art iframe {
      height: 410px;
      width: 930px;
  }
}
@media screen and (max-width: 1050px) {
  .service_main-block_video.game video {
      width: 72%;
      margin-left: 16%;
      margin-top: 40px;
  }
  .sm{
    padding: 7px 7px 7px 17px !important;
  }

  .sm.btn:hover::after{
    right: 6px;
  }
}
@media screen and (max-width: 990px) {
  .numbers_item{
    margin-top: 30px;
  }
  .company-item{
    margin-top: 30px;
  }
  .mission_item{
    max-width: 100%;
  }
  .show_btn{
    margin-top: 40px;
  }
  .technology-map_items{
    margin-top: 25px;
  }

  .mobile{
    display: block;
  }
  .btn:hover::after {
    opacity: 0;
    right: -20px;
  }
  .btn:hover.xl span {
    margin-left: 19px;
    margin-right: 0;
  }
  .btn.black-text:hover{
    color: black;
  }
  .btn:hover.big_back::before {
    box-shadow: inset 0 0 0 0 #f05722;
  }
  .sm {
      padding: 7px 15px 7px 25px !important;
  }
  .inblock.сontacts {
      background-position: -500px;
  }
  .near_posts_content_title{
    font-size: 18px;
  }
  .menu_services__dropdown{
    top: 84px;
    height: 400px;
  }
  .benefits.video-games{
    max-height: 780px;
  }
  .video-games .benefits_black{
    max-height: 570px;
  }
  .portfolio-block_items {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.bot-ser-btn{
  margin-left: 20px;
}
  .portfolio-block_item_btn .btn{
    display: flex !important;
  }

  .benefits_orange_title {
    align-self: flex-start;
  }
  .benefits_black_item.active {
    height: 130px;
  }
  .inblock.company {
      background-position: -300px;
      background-size: auto 100%;
  }
  .stages_item_desc{
    font-size: 16px;
  }
  .service_main-block_title{
    font-size: 36px;
    max-width: 500px;
  }
  .service_main_core_title{
    font-size: 36px;
  }
  .benefits_black_item.active .benefits_black_item_title{
    font-size: 32px;
  }
  .benefits_black_item_title{
    font-size: 24px;
  }
  .block_xl .service_main_core_blok {
      max-width: 315px;
  }

  .vr .main-block_video_mask {
      width: 570px;
      left: 50%;
      margin-left: -285px;
  }
  .service_main-block_video.game video {
      width: 77%;
      margin-left: 18%;
      margin-top: 40px;
  }
  .service_main-block_video.vr video {
      width: 57%;
      margin-left: 21%;
      margin-top: 60px;
  }
  .service_main-block_video.art iframe {
      height: 380px;
      width: 930px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      height: 91%;
  }
  .service_main-block_video {
      height: 400px;
      border-radius: 75px;
  }
  .business_table{
    padding: 100px 0;
  }
  .portfolio-block{
    margin: 70px 0;
    flex-direction: column;
  }
  .businesses-industries{
    padding: 70px 0;
  }
  .business_benefits{
    padding: 75px 0;
  }
  .specials{
    padding: 75px 0;
  }
  .stages{
    padding: 75px 20px;
  }
  .stages_item_desc{
    margin-top: 10px;
  }
  .stages_item{
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    padding: 25px;
  }
  .stages_items{
    flex-direction: column;
  }
  .stages_desc{
    font-size: 22px;
  }
  .business_inblock_title{
    padding-top: 105px;
    height: 450px;
  }
  .business_inblock{
    height: 450px;
  }
  .business_inblock h1 span{
    font-size: 96px;
  }
  .business_inblock_title h1{
    font-size: 55px;
    line-height: 90%;
  }
  .company_awards_item{
    width: 120px;
  }
  .timeline_content{
    flex-direction: column;
  }
  .timeline_dates{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .timeline_graphs{
    margin-top: 40px;
    padding-left:10px;
    padding-right: 10px;
  }
  .container.timeline{
    padding-left:30px;
    padding-right: 30px;
  }
  .values_item{
    width: 100%;
    height: 190px;
  }
  .company-item{
    width: 340px;
  }
  .mission_items{
    flex-direction: column;
    margin-top: 0;
  }
  .mission_item{
    margin-top:50px;
  }
  .clients-logo{
    padding: 45px 0 100px 0;
  }
  .clients-logo_item{
    width: 170px;
    margin-top: 50px;
  }
  .clients-logo_item img{
    width: 100%;
  }
  .businesses-industries_title{
    font-size: 48px;
  }
  .businesses-industries_desc{
    font-size: 18px;
  }
  .businesses-industries_item{
    width: 220px;
    height: 310px;
  }
  .businesses-industries_item_title{
    font-size: 24px;
  }

  .facts_item_content_desc{
    width: 240px;
    font-size: 14px;
  }
  .facts_item{
    margin-top: 40px;
  }
  .choose-way{
    padding-top: 22px;
    padding-bottom: 70px;
  }
  .choose-way_title{
    font-size: 56px;
  }
  .choose-way_desc{
    font-size: 22px;
  }
  .facts_item_content_title{
    font-size: 18px;
  }
  .facts_title{
    font-size: 56px;
  }
  .facts_desc{
    font-size: 22px;
  }
  .facts_item_circle{
    width: 87px;
    height: 87px;
  }
  .facts_item_circle_title{
    font-size: 32px;
  }
  .facts_item_circle_subtitle{
    font-size: 20px;
    margin-left: 20px;
  }
  .portfolio-block_desc{
    width: unset;
  }
  .portfolio-block .btn{
    display: none;
  }

  .portfolio-block_items{
    margin-top: 35px;
  }

  .technology-map_item_title{
    width: 140px;
    max-width: 140px;
  }

  .technology-map_item_title{
    font-size: 18px;
  }
  .technology-map_item_tag{
    font-size: 16px;
  }
  .blog__content_post.oneservice:nth-child(3){
    display: none;
  }
  .blog-readmore_content{
    margin-left: 0;
    justify-content: space-between;
  }
  .portfolio-block .container{
    flex-direction: column;
  }
  .service_main_core_blok_title{
    font-size: 32px;
  }

  .service_main_core_blok_desc{
    font-size: 18px;
  }

  .service_main_core_blok{
    max-width: 31%;
  }
  .benefits .container{
    flex-direction: column;
  }
  .benefits_orange{
    background: black;
    padding: 50px 50px 30px 50px;
    width: 100%;
    align-items: center;
  }
  .benefits_orange_desc{
    max-width: unset;
  }
  .benefits_black{
    background: #F05722;
    width: 100%;
    padding: 50px 30px 50px 52px;
  }
  .one_service .services_coubs_item_title{
    font-size: 24px !important;
    font-weight: 600;
  }

  .blog__filter{
    width: 100%;
    max-width: unset;
  }

  .blog__content{
    width: 100%;
    max-width: unset;
    justify-content: space-between;
    margin-top: 40px;
  }
  .bot-ser-btn{display:flex !important;}

  .services-block .services_coubs_item:hover .services_coubs_item_desc {
    display: none; }


  .container.block {
    padding: 0 !important; }
  .bg-slider__content_min_width {
    min-height: unset; }

  .bg-slider__switcher {
    background-position: 50% 0%; }
    .bg-slider__switcher_items {
      width: 70%;
      text-overflow: unset;
      overflow: unset;
      white-space: unset;}

  .inblock.industries {
    background-position: -620px; }
  .inblock.businesses {
    background-position: -475px;
    background-size: auto 100%; }
}
@media screen and (max-width: 850px) {
  .post_after_tags{
    max-width: 100%;
  }
  .clients-logo_item{
    width: 28%;
  }
  .facts_item_content_title{
    max-width: 240px;
  }
  .businesses-industries_item:hover .businesses-industries_item_btn{
    display: none !important;
  }
  iframe.yt_video_modal{
    width:90% !important;
    margin-left: 0;
    left: 5%;
  }
  .service_main-block_video.game video {
      width: 89%;
      margin-left: 4%;
      margin-top: 28px;
  }
  .service_main-block_video {
      height: 350px;
      border-radius: 65px;
  }
  .service_main-block_video.art iframe {
      height: 334px;
      width: 726px;
  }
}
@media screen and (max-width: 770px) {
  .inblock.company {
      background-position: -500px;
      background-size: auto 100%;
  }
  .why_us_block_items{
    flex-direction: column;
  }
  .why_us_block_item{
    max-width: 280px;
    margin-bottom: 40px;
  }

  .why_us_block {
    background: #f5f5f5;
    padding: 90px 0 20px 0;
  }
  .specials_item {
    width: 100%;
  }
  .inblock.сontacts {
    background-position: -600px;
  }
  .сontacts .inblock_desc {
    max-width: 500px;
  }

  .benefits_black_item.active::before{
    background: black;
  }
  .technology-map_item_title {
      width: 240px;
      max-width: 248px;
  }
  .game .main-block_video_mask {
      height: 71%;
  }
  .service_main-block_video.game video {
      width: 90%;
      margin-left: 5%;
      margin-top: 22px;
  }
}
@media screen and (max-width: 700px) {

  .service_main-block_desc {
    opacity: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .benefits.video-games{
    max-height: 1280px;
  }
  .video-games .benefits_black{
    max-height: 1070px;
  }
  .sm {
      padding: 7px 15px 7px 25px !important;
  }
  .service_main-block_desc{
    opacity: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .game .main-block_video_mask {
      height: 53%;
  }
  .service_main-block_video.game video {
      width: 77%;
      margin-left: 10%;
      margin-top: 14px;
  }
  .service_main-block_video {
      height: 300px;
      border-radius: 55px;
  }
  .service_main-block_video.art iframe {
      height: 326px;
      width: 660px;
  }
}
@media screen and (max-width: 630px) {
  .btn.one_businesses_btn{
    bottom: 15px;
    margin-right: 18%;
    right: 32px;
  }
  .services-block{
    padding-top: 60px;
  }
  .portfolio-block .btn{
    margin-top: 50px;
  }
  .blog-readmore_content{
    margin-top: 30px;
  }
  .service_main_core_bloks{
    margin-top: 30px;
  }
  .benefits{
    margin-top:70px;
  }
  .inblock.сontacts {
    background-position: -850px;
  }

  .xl_titles .service_main_core_blok_title{
    height: unset;
  }
  .post_author_content_info_name{
    font-size: 18px;
  }
  .post_author_content_info_description{
    font-size: 13px;
  }
  .post_author{
    padding: 30px 0;
  }
  header.black .black_logo{
    display: none;
  }
  .pe_block{
    padding: 50px 20px 60px 20px;
  }
  .pe_block_title{
    font-size: 24px;
  }
  .pe_block_item{
    font-size: 16px;
  }
  .pe_block_item.active{
    font-size: 18px;
  }
  .pe_block_items{
    padding-left: 7px;
  }
  .pe_block_item.active::before{
    left: -9px;
  }
  .pe_block .btn{
    margin-top: 25px;
  }
  .bg-slider_block{
    padding: 0;
  }

  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 12px;
      top: 12px;
  }
  .service_main-block_video.art iframe {
      height: 247px;
      width: 586px;
  }
  .service_main-block_video {
      height: 260px;
      border-radius: 47px;
  }
  .business_inblock::before{
    background-size: 170%;
  }
  .business_inblock_title{
    background-size: 170%;
  }
  .business_inblock_title{
    padding-right: 18%;
    height: 300px;
  }
  .business_inblock{
    height: 300px;
  }
  .business_inblock_orange{
    width: 82%;
  }
  .stages_title{
    font-size: 32px;
  }
  .business_inblock h1 span{
    font-size: 53px;
  }
  .business_inblock_title h1{
    font-size: 30px;
  }
  .business_table table{
    table-layout: fixed;
  }
  .business_table td{
    font-size: 12px;
    width: 110px;
  }
  .th_title{
    display: none;
  }
  .td_four{
    display: none;
  }
  .td_third{
    display: none
  }
  .td_second{
    display: none;
  }
  .timeline_graphs_item{
    height: 145px !important;
    padding: 20px;
    margin-top: 5px;
  }
  .timeline_graphs_item.first{
    width: 170px;
  }
  .timeline_graphs_item.second{
    width: 280px;
  }
  .timeline_graphs_item.third{
    width: 160px;
  }
  .timeline_graphs_item.four{
    width: 225px;
  }
  .timeline_graphs_items{
    align-items: flex-start;
  }
  .timeline_graphs{
    padding-left: 0;
    padding-right: 0;
    margin-left: -10px;
  }
  .timeline_title{
    font-size: 32px;
  }
  .timeline_desc{
    font-size: 18px;
  }
  .timeline_date.active{
    margin-left: 15px;
    margin-right: 15px;
  }
  .timeline{
    padding: 50px 0;
  }
  .company_awards{
    padding: 50px 0;
  }
  .company_awards_items{
    flex-wrap: wrap;
    margin-top: 14px;
  }
  .company_awards_item{
    margin-top: 20px;
  }
  .company_awards_item:nth-child(5){
    margin: auto;
  }
  .company_awards_title{
    font-size: 32px;
  }
  .company_awards_desc{
    font-size: 18px;
  }
  .values{
    padding: 50px 0;
  }
  .values_item{
    padding: 20px;
  }
  .mission_item_title{
    font-size: 32px;
  }
  .mission_item_desc{
    font-size: 16px;
  }
  .values_title{
    font-size: 32px;
  }
  .values_desc{
    font-size: 18px;
  }
  .values_item_title{
    font-size: 24px;
  }
  .values_item_desc{
    font-size: 14px;
  }
  .mission{
    padding: 50px 0;
  }
  .mission_title{
    font-size: 32px;
    max-width: 200px;
  }
  .mission_desc{
    font-size: 18px;
  }
  .company-item_name{
    font-size: 18px;
    line-height: 100%;
  }
  .company-item_position{
    font-size: 13px;
    line-height: 100%;
    margin-top: 10px;
  }
  .comand{
    padding: 50px 0;
  }
  .company-item{
    width: 135px;
  }
  .comand_desc{
    font-size: 18px;
  }
  .comand_title{
    font-size: 32px;
  }
  .numbers_item{
    margin-top: 40px;
  }
  .numbers_item_title{
    font-size: 48px;
  }
  .numbers_item_desc{
    font-size: 18px;
  }
  .numbers{
    padding: 20px 0 50px 0;
  }
  .numbers_title{
    font-size: 18px;
  }
  .timeline_date.opacity{
    display: none;
  }
  .timeline_graphs_items{
    flex-direction: column;
  }
  .clients-logo_title{
    font-size: 32px;
  }
  .clients-logo_desc{
    font-size: 14px;
  }
  .clients-logo_item{
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
  .businesses-industries{
    padding: 80px 0 70px 0;
  }
  .businesses-industries_item{
    width: 370px;
    margin: auto;
    height: 340px;
  }
  .businesses-industries_title{
    font-size: 32px;
  }
  .choose-way_title{
    font-size: 32px;
  }
  .choose-way_desc{
    font-size: 18px;
  }
  .choose-way_items{
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .facts{
    padding: 40px 0 70px 0;
    overflow: hidden;
  }
  .facts_title{
    font-size: 32px;
  }
  .facts_desc{
    font-size: 18px;
  }
  .blog-readmore{
    padding: 60px 0;
  }
  .blog-readmore_title{
    font-size: 32px;
  }
  .blog-readmore_desc{
    font-size: 18px;
  }
  .technology-map_item_tags{
    margin-left: 0;
  }
  .technology-map_item_tag{
    margin-top: 10px;
  }
  .technology-map{
    padding: 60px 0;
  }
  .portfolio-block{
    margin-top: 45px;
  }
  .portfolio-block_title{
    font-size: 32px;
  }
  .portfolio-block_desc{
    font-size: 18px;
    margin-top: 20px;
  }
  .services-block_title{
    font-size: 32px;
  }
  .services-block_desc{
    font-size: 18px;
  }
  .services-block{
    padding-bottom: 60px;
  }
  .services-block_items{
    margin-top: 30px;
  }
  .benefits_black_item_title{
    font-size: 22px;
    font-weight: 500;
  }
  .benefits_black_item.active .benefits_black_item_title{
    font-size: 24px;
  }

  .benefits_black_item.active .benefits_black_item_desc{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .services-block{
    margin-top:20px;
  }
  .benefits_orange{
    align-items: flex-start;
    padding: 35px 15px;
  }
  .benefits_orange_desc{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
  }
  .benefits .container{
    padding-left: 5px;
    padding-right: 5px;
  }
  .portfolio-block_item_title{
    font-size: 24px;
  }
  .portfolio-block_item{
    height: 200px;
  }
  .benefits_orange_title{
    font-size: 32px;
  }
  .service_main_core_blok_desc{
    margin-top: 10px;
  }
  .service_main_core_blok{
    margin-top: 30px;
  }
  .service_main-block::before{
    height: 320px;
  }
  .service_main-block{
    padding-top: 100px;
  }
  .service_main_core_blok{
    max-width: unset;
  }
  .service_main-block_title{
    font-size: 24px;
  }
  .service_main_core_bloks{
    flex-direction: column;
  }
  .service_main_core_title{
    font-size: 32px;
  }
  .portfolio-block_item{
    padding-left: 20px;
    background-position: right;
    background-size: auto 100%;
  }
  .technology-map_desc{
    font-size: 18px;
  }
  .technology-map_item{
    flex-direction: column;
  }
  .technology-map_item_tag{
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
  }
  .technology-map_item_tags{
    margin-top: 10px;
  }
  .technology-map_item{
    margin-top: 30px;
  }
  .technology-map_title{
    font-size: 32px;
  }
  .blog-readmore_content{
    flex-direction: column;
  }
  .technology-map_item{
    flex-wrap: wrap;
  }
  .technology-map_item_tags{
    flex-wrap: wrap;
  }

  .blog__content_post{
    width: 100%;
    height: 380px;
  }

  .inblock.industries {
    background-position: -1020px;
    background-size: auto 100%; }


  .our_offering__text {
    margin-left: 0; }
  .bg-slider__switcher_item_hovered {
    font-size: 18px; }

  .menu__button {
    display: none; }

  .reviews__video_title {
    font-size: 24px; }

   }
@media screen and (max-width: 600px){
    .facts_items{
      display: none;
    }
    .facts_items.mobile{
      display: flex !important;
    }
    .facts_item{
      flex-direction: column;
      align-items: center;
    }
    .facts_item.prev{
      margin-left: -64px;
    }
    .facts_item.next{
      margin-right: -64px;
    }
    .facts_mobile_circles{
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      justify-content: space-between;
    }
    .facts_item_content_title{
      text-align: center;
      font-size: 24px;
      width: 100%;
      max-width: unset;
    }
    .active .facts_item_circle{
      width: 150px;
      height: 150px;
    }
    .active .facts_item_circle_title{
      font-size: 56px;
    }
    .active .facts_item_circle_subtitle{
      font-size: 36px;
    }
    .facts_item_content_desc{
      text-align: center;
      width:100%;
    }
    .facts_item_content{
      margin-left: 0;
      margin-top: 30px;
    }
    .active .facts_item_content{
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .inblock.businesses{
      background-position: -375px;
    }
      iframe.yt_video_modal {
        width: 90% !important;
        margin-left: 0;
        left: 5%;
        top: 10%;
        height: 80%;
    }
    .sorting__item.active .sorting__item_dropdown {
        display: block;
        z-index: 1000;
    }
    .service_main_core_desc{
      font-size: 14px;
    }
    .service_main_core_blok_title{
      font-size: 24px;
    }
    .service_main_core_blok_desc{
      font-size: 16px;
    }
    .game .main-block_video_mask {
        height: 45%;
    }
}
@media screen and (max-width: 515px) {
  .numbers_item{
    margin-top: 30px;
  }
  .businesses_btn{
    margin-top: 20px;
  }
  .comand_desc{
    margin-top: 20px;
  }
  .company-items{
    margin-top: 20px;
  }
  .mission_desc{
    margin-top: 20px;
  }
  .mission_item{
    margin-top: 40px;
  }
  .mission_item_desc{
    padding-left: 20px;
  }
  .values_item.active .values_item_text {
    font-size: 14px;
  }
  .values_item{
    margin-top: 10px;
  }
  .values_items{
    margin-top: 40px;
  }
  .timeline_graphs_facts_items{
    height: fit-content;
  }
  .timeline_graphs_facts_title{
    font-size: 24px;
  }
  .timeline_graphs_facts_item{
    font-size: 14px;
  }
  .timeline_desc{
    margin-top: 20px;
  }
  .company_awards_items{
    justify-content: space-around;
  }
  .timeline_graphs_facts .btn:hover {
    color: black !important;
  }
  .game .main-block_video_mask {
      height: 39%;
  }
  .service_main-block_video {
      height: 220px;
      border-radius: 40px;
  }
  .service_main-block_video.art iframe {
      height: 197px;
      width: 446px;
  }
}
@media screen and (max-width: 480px) {
  .inblock.industries{
    background-position: -390px;
    padding-bottom: 20px;
  }
  /*.inblock_desc{*/
  /*  width: 280px;*/
  /*}*/
  .businesses-industries_item{
    width: 100%;
    height: 340px;
  }
  .inblock.сontacts {
    background-position: -950px;
  }
  .inblock.businesses {
      background-position: -375px;
  }
  .menu_services__dropdown{
    top: 48px;
  }

  .vr .main-block_video_mask {
      width: 270px;
      left: 50%;
      margin-left: -135px;
  }
  .service_main-block_video.vr video {
      width: 74%;
      margin-left: 13%;
      margin-top: 16px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 9px;
      top: 12px;
  }
  .service_main-block_video.art iframe {
      height: 178px;
      width: 385px;
  }
  .service_main-block_video {
      height: 185px;
      border-radius: 35px;
  }

  .bg-slider__switcher_item_animated.active {
    height: 48px; }

  .sorting__item {
    width: 100%; }

  .container.bg-slider__container {
    padding-left: 0px; }

  .bg-slider__content {
    padding-left: 20px; }


  .slide_title {
    font-size: 24px; }
  .menu__logo .logo_mob {
    display: flex; }

  .bg-slider__title {
    font-size: 24px; }
  .bg-slider__content {
    padding: 0 20px 0 20px; }
    .bg-slider__content_desc {
      font-size: 18px; }
  .bg-slider__switcher {
    margin-top: 60px;
    padding: 50px 20px 60px 20px;
    background-position: 55% 0%; }
    .bg-slider__switcher_items {
      padding-left: 10px;
      margin-top: 40px;
      width: 100%; }
    .bg-slider__switcher_item {
      font-size: 16px;
      white-space: unset; }
      .bg-slider__switcher_item::before {
        left: -10px; }
      .bg-slider__switcher_item.active {
        font-size: 18px;
        line-height: 21px; }

  .xm {
    font-size: 18px;
    padding: 7px 29px 7px 29px; } }
@media screen and (max-width: 380px) {
  .inblock.businesses {
      background-position: -425px;
  }
}

@media screen and (max-height: 800px) and (max-width: 480px) {
  .slide__switcher {
    margin-top: 0px; }
 }
@media screen and (max-width: 390px) {
  .service_main-block_video.art iframe {
      height: 148px;
      width: 315px;
  }
  .service_main-block_video.art .sketchfab-embed-wrapper {
      left: 9px;
      top: 8px;
  }
  .service_main-block_video {
      height: 160px;
      border-radius: 30px;
  }
}
/*# sourceMappingURL=master.css.map */
