<template>
  <div>
    <ServiceDirectionPageDeviceHeader
      :title="videoGamesPage.acf.title"
      :video="videoGamesPage.acf.showcase.video_file.url"
      :class-name="'video-games-header'"
      :video-class-name="'video-games-header-gamepad'"
      :wrapper-img="gamepadWrapper"
    />
    <ServiceDirectionPageInteractiveCore
      :title="videoGamesPage.acf.core_header.title"
      :description="videoGamesPage.acf.core_header.description"
      :items="videoGamesPage.acf.core_items"
    />
    <ServiceDirectionPageBenefits
      :title="videoGamesPage.acf.benefits_header.title"
      :description="videoGamesPage.acf.benefits_header.description"
      :items="videoGamesPage.acf.benefit_items"
      :is-custom="true"
    />
    <ServiceDirectionPageServices
      :title="videoGamesPage.acf.services_header.title"
      :description="videoGamesPage.acf.services_header.description"
      :items="videoGamesPage.acf.service_items"
    />
    <ServiceDirectionPagePortfolio
      :title="videoGamesPage.acf.portfolio_section.title"
      :description="videoGamesPage.acf.portfolio_section.description"
      :items="videoGamesPage.acf.portfolio_items"
      :btn="videoGamesPage.acf.portfolio_section.portfolio_button"
    />
    <ServiceDirectionPageTechnologyMap
      :title="videoGamesPage.acf.technology_map_header.title"
      :description="videoGamesPage.acf.technology_map_header.description"
      :groups="videoGamesPage.acf.technology_groups"
    />
    <ServiceDirectionPageReadMore
      :title="videoGamesPage.acf.blog_section.title"
      :description="videoGamesPage.acf.blog_section.description"
      :posts="videoGamesPage.acf.blog_posts"
    />
    <ContactForm />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ServiceDirectionPageDeviceHeader from '@/components/pages/services/servicesDirections/ServiceDirectionPageDeviceHeader'
import ServiceDirectionPageInteractiveCore from '@/components/pages/services/servicesDirections/ServiceDirectionPageInteractiveCore'
import ServiceDirectionPageBenefits from '@/components/pages/services/servicesDirections/ServiceDirectionPageBenefits'
import ServiceDirectionPageServices from '@/components/pages/services/servicesDirections/ServiceDirectionPageServices'
import ServiceDirectionPagePortfolio from '@/components/pages/services/servicesDirections/ServiceDirectionPagePortfolio'
import ServiceDirectionPageTechnologyMap from '@/components/pages/services/servicesDirections/ServiceDirectionPageTechnologyMap'
import ServiceDirectionPageReadMore from '@/components/pages/services/servicesDirections/ServiceDirectionPageReadMore'
import gamepadWrapper from '@/assets/img/pages/services/video-games/gamepadWrapper.png'
export default {
  name: 'VideoGames',
  components: {
    ServiceDirectionPagePortfolio,
    ServiceDirectionPageDeviceHeader,
    ServiceDirectionPageInteractiveCore,
    ServiceDirectionPageBenefits,
    ServiceDirectionPageServices,
    ServiceDirectionPageTechnologyMap,
    ServiceDirectionPageReadMore
  },
  data: () => ({
    gamepadWrapper
  }),
  computed: {
    ...mapGetters('api/pages/services/video-games', ['videoGamesPage'])
  },
  head() {
    return {
      title: this.videoGamesPage.acf.seo_title,
      meta: [
        {
          name: 'description',
          content: this.videoGamesPage.acf.seo_description
        },
        {
          name: 'keywords',
          content: this.videoGamesPage.acf.seo_keywords
        },
        {
          property: 'og:title',
          content: this.videoGamesPage.acf.seo_title
        },
        {
          property: 'og:description',
          content: this.videoGamesPage.acf.seo_description
        },
        { property: 'og:image', content: this.videoGamesPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
