<template>
  <main class="main_container">
    <ParallaxHeader
      :title="businessesPage.acf.title"
      :description="businessesPage.acf.description"
      :btn="businessesPage.acf.header_button"
    />
    <BusinessesPageChooseYourWay
      :title="businessesPage.acf.businesses_header.title"
      :description="businessesPage.acf.businesses_header.description"
      :cards="businessesPage.acf.businesses.items"
    />
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import ParallaxHeader from '@/components/common/ParallaxHeader'
import BusinessesPageChooseYourWay from '@/components/pages/businesses/BusinessesPageChooseYourWay'
export default {
  name: 'Businesses',
  components: {
    ParallaxHeader,
    BusinessesPageChooseYourWay
  },
  computed: {
    ...mapGetters('api/pages/businesses', ['businessesPage'])
  },
  head() {
    return {
      title: this.businessesPage.acf.seo_title,
      meta: [
        {
          name: 'description',
          content: this.businessesPage.acf.seo_description
        },
        { name: 'keywords', content: this.businessesPage.acf.seo_keywords },
        {
          property: 'og:title',
          content: this.businessesPage.acf.seo_title
        },
        {
          property: 'og:description',
          content: this.businessesPage.acf.seo_description
        },
        { property: 'og:image', content: this.businessesPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
