<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    class="sorting__item"
    :class="{ active: isOpen }"
    @click="clickOutside($event)"
  >
    <div
      class="sorting__item_text"
      @click="isOpen = !isOpen"
      v-html="selectedItemTitle"
    ></div>
    <div
      id="service_filter"
      class="sorting__item_dropdown"
      :class="{ active: isOpen }"
    >
      <div
        class="sorting__item_dropdown_li"
        @click="
          isOpen = false
          $emit('item-selected', -1)
        "
      >
        {{ defaultTitle }}
      </div>
      <div
        v-for="(item, index) in items"
        :key="item.id"
        class="sorting__item_dropdown_li"
        @click="
          isOpen = false
          $emit('item-selected', index)
        "
        v-html="item.name"
      ></div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include bp($tabletLg) {
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  @include bp($tablet) {
    height: auto;
  }
  @include bp($mobile) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sorting {
  width: 100%;
  height: 210px;
  @include bp($desktop) {
    height: 185px;
  }
  @include bp($tabletLg) {
    height: auto;
  }

  &__item {
    border-bottom: 2px solid #e8e8e8;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    appearance: none;
    &:nth-child(2) {
      margin: 0;
    }
    @include bp($tablet + 1, min) {
      width: 100%;
      margin: 0 0 0 20px;
    }
    @include bp($desktop + 1, min) {
      margin: 0 0 0 30px;
      width: 270px;
    }
    @include bp($desktop) {
      max-width: 31%;
    }
    @include bp(720) {
      max-width: 100%;
      margin-top: 20px;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #f05722;
    margin-right: auto;
    padding-right: 20px;
    min-width: 210px;
    @include bp($desktop) {
      font-size: 22px;
    }
    @include bp($tabletLg) {
      margin-bottom: 20px;
      width: 100%;
    }
    @include bp(720) {
      margin-bottom: 21px;
    }
    @include bp($mobileSmall) {
      font-size: 18px;
    }
  }
}

.sorting__item::after {
  position: absolute;
  bottom: -2px;
  content: '';
  width: 35%;
  height: 2px;
  background: #f05722;
  left: 0;
}
.sorting__item.active {
  border-bottom: 2px solid black;
}
.sorting__item_text {
  font-size: 22px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #000000;
  height: 40px;
  padding-bottom: 7px;
}
.sorting__item_text::after {
  content: url(~assets/img/drop_arr.png);
  width: 12px;
  @include bp($desktop) {
    margin-right: 10px;
  }
}
.sorting__item.active .sorting__item_text {
  color: #f05722;
}
.sorting__item.active .sorting__item_text::after {
  content: url(~assets/img/hide_arr.png);
}
.sorting__item.active .sorting__item_dropdown {
  display: block;
  z-index: 50;
  opacity: 0.95;
}
.sorting__item_dropdown {
  position: absolute;
  width: 100%;
  top: 100%;
  margin-top: 6px;
  left: 0;

  appearance: none;
  pointer-events: none;
  padding: 10px 30px 20px 30px;
  color: white;
  visibility: hidden;
  background: black;
  transform: translate3d(0, -20px, 0);
  transition: transform 0.3s ease-out;
  flex-direction: column;
  z-index: 100;
}
.sorting__item_dropdown.active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in;
  pointer-events: auto;
}
.sorting__item_dropdown_li {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.3s ease-out;
}
.sorting__item_dropdown_li:hover {
  color: #f05722;
}
</style>

<script>
export default {
  name: 'PortfolioFilter',
  props: {
    items: { type: Array, required: true },
    selectedItemIndex: { type: Number, required: false, default: -1 },
    defaultTitle: { type: String, required: true }
  },
  data() {
    return {
      isOpen: false
    }
  },
  computed: {
    selectedItemTitle() {
      return this.selectedItemIndex < 0
        ? this.defaultTitle
        : this.items[this.selectedItemIndex].name
    }
  },
  methods: {
    clickOutside($event) {
      const bodyTag = document.getElementsByTagName('body')
      const element = $event.target.closest('.sorting__item.active')

      if (!element) {
        bodyTag[0].removeEventListener('click', this.clickOutside, true)
        this.isOpen = false
      } else {
        bodyTag[0].addEventListener('click', this.clickOutside, true)
      }
    }
  }
}
</script>
