<template>
  <div class="portfolio-list" :class="{ active: isReadMoreOpen }">
    <LazyPicture
      class="portfolio-list_item desktop viewAnimation"
      :lazy-background="true"
      style="background-repeat: no-repeat;"
      :src-image="data.acf.image.url"
      :src-thumb="data.acf.image.sizes.medium"
    >
      <div class="container portfolio-list__heading-container">
        <div class="portfolio-list_item_title">
          {{ data.acf.title }}
        </div>
      </div>
      <button
        class="portfolio-text-toggle"
        :class="{ active: isReadMoreOpen }"
        @click="isReadMoreOpen = !isReadMoreOpen"
      >
        Read more
        <i class="arrow"></i>
      </button>
      <div class="container portfolio-text" :class="{ active: isReadMoreOpen }">
        <div class="portfolio-list_item_desc">
          {{ data.acf.description }}
        </div>
        <div class="portfolio-list_item_options">
          <div class="portfolio-list_item_options_achivments">
            <span>Achievements: </span>
            {{ data.acf.achievements }}
          </div>
          <div class="portfolio-list_item_options_platforms">
            <span>Platforms: </span>
            {{ data.acf.platforms }}
          </div>
        </div>
      </div>
      <div class="container" @click="showMediaPopup = true">
        <button class="btn white-text xl portfolio_btn">
          <span class="arrow"></span>
          <span>Watch Now</span>
        </button>
      </div>
    </LazyPicture>

    <MediaPopup
      v-if="showMediaPopup"
      :data="data.acf.playback_button"
      @close="showMediaPopup = false"
    />
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';
.hiddenAnimation {
  opacity: 0;
  transform: translateY(100px);
}
.viewAnimation {
  transition: transform 600ms ease, opacity 600ms ease;
}
.portfolio-list {
  padding: 0 50px;
  @include bp($desktopSmall) {
    padding: 0 30px;
  }
  @include bp($mobile) {
    padding: 0 20px;
  }
  & + & {
    margin-top: 10px;
    @include bp($mobile + 1, min) {
      margin-top: 20px;
    }
    @include bp($desktop + 1, min) {
      margin-top: 50px;
    }
  }
  &_item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    z-index: 2;
    padding: 35px 0 0;
    min-height: 340px;
    @include bp($mobile + 1, min) {
      padding: 70px 0 50px;
    }
    @include bp($tablet + 1, min) {
      padding: 95px 0;
    }
    @include bp($desktop + 1, min) {
      padding: 140px 0 147px 0;
    }
    @include bp($mobile) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-position: right -10vw top;
      background-size: auto 340px;
    }
    @media all and (max-width: #{$mobileSmall}px) and (min-width: 361px) {
      background-position: right -20vw top;
    }
    @include bp(360) {
      background-position: right -40vw top;
    }
    .container {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      @include bp($mobile + 1, min) {
        padding-left: 50px;
        padding-right: 50px;
      }
      @include bp($mobile) {
        width: 100%;
      }
    }
    .btn {
      margin-top: 30px;
      @include bp($tablet) {
        margin-top: 20px;
      }
      @include bp($mobile) {
        margin-bottom: 30px;
      }
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  &_item_title {
    font-weight: 800;
    font-size: 48px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #ffffff;
    @include bp($tablet) {
      font-size: 32px;
    }
  }
  &_item_desc {
    margin-top: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    color: #ffffff;
    max-width: 570px;
    @include bp($desktopSmall) {
      font-size: 20px;
      max-width: 590px;
    }
    @include bp($tablet) {
      font-size: 18px;
      margin-bottom: 20px;
      max-width: 495px;
    }
    @include bp($mobile) {
      margin-top: 0;
    }
    @include bp($mobileSmall) {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
  }
  &_item_options {
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.3;
    max-width: 630px;
    color: #ffffff;
    @include bp($desktopSmall) {
      font-size: 20px;
      max-width: 555px;
    }
    @include bp($tablet) {
      font-size: 16px;
      max-width: 465px;
      margin-top: 20px;
    }
    @include bp($mobile) {
      margin-left: 12px;
    }
    @include bp($mobileSmall) {
      font-size: 14px;
    }
    span {
      color: #f05722;
    }
    &::before {
      position: absolute;
      content: '';
      height: 100%;
      top: 0;
      left: -30px;
      width: 1px;
      background: #f05722;
      @include bp($mobile) {
        left: -12px;
      }
    }
  }
  &_item_options_platforms {
    margin-top: 10px;
  }
  &__heading-container {
    @include bp($tablet) {
      margin-top: auto;
    }
  }
  &:not(.active) {
    @include bp($mobile) {
      .portfolio-list_item_title,
      .portfolio-text + .container {
        transition: transform 0.3s ease-in;
        transform: translateY(50px);
      }
    }
  }
}

.portfolio_btn {
  &.btn {
    padding: 12px 28px 10px 4px;
    background: transparent;
  }
}

.portfolio-text {
  @include bp($mobile) {
    top: 100%;
    width: 100%;
    background: black;
    padding-top: 20px;
    padding-bottom: 30px;
    transition: 0.6s;
    transform: translateX(0);
    margin-top: -1px;
    order: 1;
    &:not(.active) {
      opacity: 0;
      max-height: 0;
      transform: translateY(-20%);
      pointer-events: none;
      visibility: hidden;
      transition: 0.3s ease-in;
    }

    & * {
      max-width: unset;
    }
  }
}

.portfolio-text-toggle {
  justify-content: space-between;
  position: relative;
  width: 100%;
  display: none;
  align-items: center;
  padding: 2px 25px 0 20px;
  background: #000000;
  transform: translateY(50px);
  min-height: 45px;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
  z-index: 3;
  color: #ffffff;
  order: 1;
  transition: 0.3s;

  &.active {
    color: #f05722;
    transform: translateY(0);
    transition: 0.3s;
    .arrow {
      transition: transform 0.3s ease-in-out;
      transform: rotate(180deg);
    }
  }
  @include bp($mobile) {
    display: flex;
  }
  .arrow {
    transform: rotate(0);
    &:before,
    &:after {
      top: -13px;
    }
  }
}
</style>

<script>
import isInViewport from '../../../mixins/isInViewport'
export default {
  name: 'PortfolioItem',
  mixins: [isInViewport],
  props: {
    data: { type: Object, required: true }
  },
  data() {
    return {
      openedReadMore: false,
      showMediaPopup: false,
      isReadMoreOpen: false
    }
  }
}
</script>
