<template>
  <div
    class="our_offering__switcher_item"
    shown="500"
    shown_delay="100"
    shown_type="fromTop"
    :class="{ active: isActive }"
  >
    <div
      class="our_offering__switcher_item_title"
      shown="500"
      shown_delay="300"
      shown_type="fromTop"
      @mouseover="$emit('vt-click')"
    >
      {{ title }}
      <div
        class="our_offering__text mobile"
        shown="500"
        shown_delay="300"
        shown_type="fromTop"
      >
        {{ description }}
      </div>
      <VTLink
        v-if="buttonData && (buttonData.url || buttonData.query)"
        :link-data="buttonData"
        vt-class="slider_btn btn black-text xm big_back"
      >
        <img src="~assets/img/orange_arrow.png" class="btn__arrow" alt="" />
        <span>{{ buttonData.text }}</span>
      </VTLink>
    </div>
    <div class="our_offering__text">
      {{ description }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainPageOfferingsItem',
  props: {
    title: { type: String, required: true },
    description: { type: String, required: true },
    buttonData: { type: Object, required: false, default: null },
    isActive: { type: Boolean, required: false, default: false }
  }
}
</script>
