<template>
  <section class="our_offering">
    <div class="container">
      <div
        class="our_offering__title heading2"
        shown="500"
        shown_type="fromTop"
      >
        {{ headerData.title }}
      </div>
      <div
        class="our_offering__description"
        shown="500"
        shown_delay="100"
        shown_type="fromTop"
      >
        {{ headerData.description }}
      </div>
      <div class="our_offering__switch">
        <div class="our_offering__switcher">
          <MainPageOfferingsItem
            v-for="(item, index) in offeringItems"
            :key="index"
            :title="item.title"
            :description="item.description"
            :button-data="item.show_button ? item.button : null"
            :is-active="hoverOffer === index"
            @vt-click="hoverOffer = index"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/mixins';
@import '../../../../assets/scss/core/variables';

.our_offering {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0 20px;
  @include bp($mobile + 1, min) {
    padding: 80px 0 60px;
  }
  @include bp($tablet + 1, min) {
    padding: 75px 0 55px;
  }
  @include bp($desktopSmall + 1, min) {
    padding: 110px 0 90px 0;
  }
  @include bp($desktop + 1, min) {
    min-height: 1050px;
    padding: 110px 0 40px 0;
  }
  @media all and (max-width: #{$desktop}px) and (min-width: #{$desktopSmall + 1}px) {
    min-height: 990px;
    padding: 110px 0 30px 0;
  }
  &__title {
    font-weight: 800;
    line-height: 1;
    color: #000000;
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #828282;
    margin-top: 20px;
    @include bp($mobileSmall + 1, min) {
      font-size: 24px;
      margin-top: 30px;
    }
  }
  &__switch {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    @include bp($mobileSmall + 1, min) {
      margin-top: 80px;
    }
    @include bp($desktop + 1, min) {
      margin-top: 60px;
    }
  }
  &__switcher {
    width: 100%;
    .btn {
      z-index: 1;
      transition: color 0.1s ease-out, transform 1s ease-out;
      &:hover {
        transition: color 0.1s ease-out, transform 1s ease-out;
      }
    }
    @include bp($desktop + 1, min) {
      min-height: 600px;
    }
    @media all and (max-width: #{$desktop}px) and (min-width: #{$desktopSmall}px) {
      min-height: 575px;
    }
  }
  &__switcher_item {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.4;
    color: #000000;
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include bp($mobileSmall + 1, min) {
      font-size: 28px;
      padding-left: 56px;
    }
    @include bp($desktop + 1, min) {
      font-size: 36px;
      padding-left: 70px;
    }

    &.active {
      font-size: 24px;
      line-height: 1.1;
      color: #f05722;
      @include bp($mobileSmall + 1, min) {
        font-size: 36px;
      }
      @include bp($mobile + 1, min) {
        font-size: 40px;
      }
      .our_offering__text {
        transition: 0.6s ease-in-out;
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
        height: auto;
        flex-direction: column;
      }
      .our_offering__text p {
        color: #f05722;
        font-weight: 600;
      }
      .our_offering__text.mobile {
        display: none;
        @include bp($tabletLg) {
          display: flex !important;
          margin-top: 20px;
          max-width: none;
          margin-left: 0;
        }
      }
      .btn {
        margin-top: 30px;
        display: flex;
      }
      &:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #f05722;
        transition: 0.3s;
        margin-right: 40px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    @include bp($mobileSmall + 1, min) {
      margin-bottom: 40px;
    }
    @include bp($mobileSmall) {
      padding-left: 10px;
    }
  }
  &__switcher_item_title {
    transition: 0.15s font-size ease-in-out;
    @include bp($tabletLg + 1, min) {
      min-width: 300px;
    }
  }
  &__text {
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #828282;
    transition: 0.25s ease-in-out;
    transform: translate3d(0, 60px, 0);
    visibility: hidden;
    height: 0;
    opacity: 0;
    /*display: none;*/
    @include bp($mobileSmall + 1, min) {
      margin-left: 70px;
    }
    @include bp($tablet + 1, min) {
      max-width: 415px;
    }
    @include bp($desktop - 180, min) {
      max-width: 600px;
    }
    @include bp($tabletLg) {
      display: none !important;
    }
    @include bp($mobileSmall) {
      font-size: 18px;
    }
  }
  .slider_btn {
    display: none;
  }
  .container {
    width: 100%;
    overflow: hidden;
  }
}
</style>

<script>
import MainPageOfferingsItem from '@/components/pages/main/offerings/MainPageOfferingsItem'
export default {
  name: 'MainPageOfferings',
  components: {
    MainPageOfferingsItem
  },
  props: {
    headerData: { type: Object, required: true },
    offeringItems: { type: Array, required: true }
  },
  data() {
    return {
      hoverOffer: 0
    }
  }
}
</script>
