<template>
  <div id="map">
    <GmapMap
      map-type-id="roadmap"
      :center="center"
      :zoom="data.zoom"
      :options="{
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        styles: styles
      }"
      style="width:100%;"
      @center_changed="onCenterChanged"
    >
      <GmapMarker
        :position="markerPosition"
        :clickable="true"
        :icon="{ url: require('~/assets/img/map-pin.svg') }"
        @click="onMarkerClick"
      >
      </GmapMarker>
    </GmapMap>
  </div>
</template>

<style lang="scss">
@import '../../../assets/scss/core/_variables.scss';
@import '../../../assets/scss/core/_mixins.scss';

.vue-map-container {
  min-height: 500px;
  @include bp($mobileSmall + 1, min) {
    min-height: 764px;
  }
}
</style>

<script>
export default {
  name: 'ContactsPageMap',
  props: {
    data: { type: Object, required: true }
  },
  data() {
    return {
      center: { lat: 0, lng: 0 },
      gmapCenter: { lat: 0, lng: 0 },
      styles: [
        // Geometry
        {
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            {
              color: '#1F1F1F'
            }
          ]
        },
        {
          featureType: 'water',
          elementType: 'geometry',
          stylers: [
            {
              color: '#1A1A1A'
            }
          ]
        },
        {
          featureType: 'poi',
          elementType: 'geometry',
          stylers: [
            {
              color: '#202020'
            }
          ]
        },
        {
          featureType: 'road.arterial',
          elementType: 'geometry',
          stylers: [
            {
              color: '#65321F'
            }
          ]
        },
        {
          featureType: 'road.highway',
          elementType: 'geometry',
          stylers: [
            {
              color: '#993D1A'
            }
          ]
        },
        {
          featureType: 'road.local',
          elementType: 'geometry',
          stylers: [
            {
              visibility: 'simplified'
            },
            {
              color: '#181818'
            }
          ]
        },
        {
          featureType: 'transit',
          elementType: 'geometry',
          stylers: [
            {
              color: '#1D1D1D'
            }
          ]
        },
        {
          featureType: 'administrative',
          elementType: 'geometry',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },

        // Labels
        {
          featureType: 'all',
          elementType: 'labels.icon',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'all',
          elementType: 'labels.text.stroke',
          stylers: [
            {
              color: '#4D4D4D'
            }
          ]
        },
        {
          featureType: 'all',
          elementType: 'labels.text.fill',
          stylers: [
            {
              visibility: 'off'
            }
          ]
        },
        {
          featureType: 'administrative',
          elementType: 'labels.text.stroke',
          stylers: [
            {
              color: '#DDDDDD'
            }
          ]
        },
        {
          featureType: 'road.highway',
          elementType: 'labels.text.stroke',
          stylers: [
            {
              color: '#CCCCCC'
            }
          ]
        },
        {
          featureType: 'road.arterial',
          elementType: 'labels.text.stroke',
          stylers: [
            {
              color: '#CCCCCC'
            }
          ]
        }
      ]
    }
  },
  computed: {
    markerPosition() {
      return {
        lat: this.data.lat,
        lng: this.data.lng
      }
    }
  },
  mounted() {
    this.center = this.markerPosition
  },
  methods: {
    onCenterChanged(e) {
      this.gmapCenter = { lat: e.lat(), lng: e.lng() }
    },
    onMarkerClick() {
      this.center = this.gmapCenter
      this.$nextTick(() => {
        this.center = this.markerPosition
      })
    }
  }
}
</script>
