<template>
  <div id="app">
    <RwvHeader :is-mobile-menu-open="isMobileMenuOpen" />
    <MobileMenu :is-mobile-menu-open="isMobileMenuOpen" />
    <nuxt />
    <!-- <ServicesDropdown /> -->
    <!-- <BusinessDropdown /> -->
    <!-- <IndDropdown /> -->
    <!-- <SearchDropdown></SearchDropdown> -->
  </div>
</template>

<script>
import RwvHeader from '@/components/layout/TheHeader'
import MobileMenu from '@/components/layout/MobileMenu'

export default {
  name: 'App',
  components: {
    RwvHeader,
    MobileMenu
  },
  data() {
    return {
      isMobileMenuOpen: false
    }
  },
  watch: {
    isMobileMenuOpen(val) {
      if (val) {
        document.body.classList.add('menu-opened')
        document.body.addEventListener('click', ($event) => {
          if ($event.target.classList.contains('menu-opened'))
            this.isMobileMenuOpen = false
        })
      } else document.body.classList.remove('menu-opened')
    }
  },
  mounted() {
    this.$root.$on('toggle_mob_header', () => {
      this.isMobileMenuOpen
        ? (this.isMobileMenuOpen = false)
        : (this.isMobileMenuOpen = true)
    })
    this.$root.$on('close_mobile_menu', () => {
      this.isMobileMenuOpen = false
    })
  }
}
</script>
