<template>
  <div class="main_container main_container--blog">
    <BlogPageHeader
      :title="blogPage.acf.title"
      :description="blogPage.acf.description"
      :button-data="blogPage.acf.header_button"
    />

    <div class="container container--4k">
      <BlogPageFeaturedPost :post="featuredPost" />
      <div class="blog__container">
        <div class="blog__filter">
          <BlogPageCategories
            :categories="categories"
            :selected-category-id="selectedCategoryId"
            default-title="All Categories"
            @category-selected="categorySelected"
          />
          <BlogPageTags
            :tags="activeTags"
            :selected-tag-id="selectedTagId"
            @tag-selected="tagSelected"
          />
        </div>
        <div class="blog__content">
          <PostCard
            v-for="post in selectedPageActivePosts"
            :key="post.name"
            :post="post"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <BlogPagePagination
        v-if="showPagination"
        :pages-number="numOfPages"
        :current-page="selectedPage"
        @page-selected="pageSelected"
      />
    </div>
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';

.blog {
  &__filter_tags {
    margin-top: 30px;
    @include bp($mobile + 1, min) {
      margin-top: 40px;
    }
    @include bp($tablet + 1, min) {
      margin-top: 50px;
    }
  }
  &__filter_tags_items {
    max-height: 150px;
    margin-bottom: 2px;
    overflow: hidden;
    will-change: max-height;
    transition: 0.3s max-height ease-out;
    @include bp($mobileSmall + 1, min) {
      max-height: 235px;
    }
    @include bp(870 + 1, min) {
      max-height: 405px;
    }
    &.open {
      transition: 0.6s max-height ease-in-out;
      overflow: hidden;
      max-height: 150vh;
      @include bp($mobileSmall + 1, min) {
        max-height: 250vh;
      }
    }
  }
}

.blog__container {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  @include bp(870) {
    flex-direction: column;
    margin: 30px -10px 0;
  }
}

.blog__content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  @include bp($desktop) {
    margin: 0 -10px 0;
  }
  @include bp($desktopSmall) {
    max-width: 68%;
  }
  @include bp($tabletLg) {
    max-width: 100%;
  }
  @include bp(870) {
    margin: 0;
  }
  @include bp($mobile) {
    padding: 0 10px;
  }
  &_post-outer {
    margin-left: 30px;
    margin-bottom: 30px;
    @include bp($desktopSmall + 1, min) {
      flex: 1 1 calc(100% / 3 - 30px);
    }
    @include bp($desktopFullHd + 1, min) {
      flex: 1 1 calc(100% / 3 - 30px);
      max-width: 100%;
    }
    @include bp($desktop) {
      max-width: 50%;
      width: 100%;
      margin: 0;
    }
    @include bp($mobile) {
      height: 380px;
      width: 100%;
      max-width: 100%;
      min-width: 280px;
      margin-bottom: 10px;
    }
  }
  &_post {
    padding: 20px 30px 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    background-size: auto 100%;
    background-position: center;
    position: relative;
    @include bp($desktop + 1, min) {
      min-width: 320px;
    }
    @media all and (max-width: #{$desktopSmall}px) and (min-width: #{870+1}px) {
      height: 400px;
    }
    @include bp($desktop) {
      min-width: 307px;
      margin: 0 10px 20px;
      padding: 20px 20px 30px;
    }
    @include bp($desktopSmall) {
      min-width: 260px;
    }
    @include bp($mobile) {
      height: 100%;
      width: 100%;
      min-width: 280px;
      margin: 0;
      padding: 10px 20px 30px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      opacity: 0.7;
    }
    &:hover {
      &::after {
        opacity: 0.5;
        visibility: visible;
        transition: 0.3s ease-in-out;
      }
      .main-post__content_desc {
        opacity: 1;
        height: auto;
        margin-top: 20px;
        transition: 0.3s ease-in-out 0.25s;
        transform: translateX(0);
      }
    }
  }
  .main-post__content_title {
    font-size: 18px;
    line-height: 1.4;
  }
  .main-post__content_author_text_name {
    font-weight: 500;
    font-size: 16px;
    margin: 3px 0 5px;
    @media screen and (max-width: 990px) and (min-width: 871px) {
      font-size: 13px;
    }
    @media screen and (max-width: 670px) and (min-width: 641px) {
      font-size: 13px;
    }
    @media screen and (max-width: 334px) {
      font-size: 14px;
    }
  }
  .main-post__content_author_text_time {
    font-size: 14px;
  }
}

@include bp(870) {
  .blog__filter {
    margin-bottom: 30px;
  }
}

.main_container {
  &--blog {
    padding-bottom: 40px;
    @include bp($mobileSmall + 1, min) {
      padding-bottom: 100px;
    }
  }
}
</style>

<script>
import { mapGetters } from 'vuex'
import BlogPageHeader from '@/components/pages/blog/BlogPageHeader'
import BlogPageFeaturedPost from '@/components/pages/blog/BlogPageFeaturedPost'
import BlogPageCategories from '@/components/pages/blog/BlogPageCategories'
import BlogPageTags from '@/components/pages/blog/BlogPageTags'
import PostCard from '@/components/pages/blog/PostCard'
import BlogPagePagination from '@/components/pages/blog/BlogPagePagination'

export default {
  name: 'Blog',
  components: {
    BlogPageHeader,
    BlogPageFeaturedPost,
    BlogPageCategories,
    BlogPageTags,
    PostCard,
    BlogPagePagination
  },
  data() {
    return {
      selectedCategoryId: -1,
      selectedTagId: -1,
      selectedPage: 0,
      isUpdated: false
    }
  },
  computed: {
    ...mapGetters('api/pages/blog', ['blogPage']),
    ...mapGetters('api/posts/posts', ['posts', 'categories', 'tags']),
    featuredPost() {
      return this.posts[0]
    },
    postsExceptFeatured() {
      return this.posts.slice(1)
    },
    activeTags() {
      return this.getTagsForCategory(this.selectedCategoryId)
    },
    activePosts() {
      return this.getPostsForCategoryAndTag(
        this.selectedCategoryId,
        this.selectedTagId
      )
    },
    numOfPages() {
      return this.getNumOfPagesForCategoryAndTag(
        this.selectedCategoryId,
        this.selectedTagId
      )
    },
    showPagination() {
      return this.numOfPages > 1
    },
    selectedPageActivePosts() {
      return this.activePosts.filter(
        (ap, i) =>
          i >= 0 + 10 * this.selectedPage && i < 10 + 10 * this.selectedPage
      )
    }
  },
  watch: {
    '$route.query'() {
      this.parseQueryParams()
      this.$nextTick(() => {
        this.handleScrollToPosts()
      })
    }
  },
  updated() {
    if (
      window.location.search.includes('category') ||
      window.location.search.includes('tag')
    ) {
      setTimeout(() => {
        this.handleScrollToPosts()
      }, 300)
    }
  },
  mounted() {
    this.parseQueryParams()
  },
  methods: {
    parseQueryParams() {
      const query = this.$route.query

      let selectedCategoryId = -1
      if (query.category) {
        const selectedCategory = this.categories.find(
          (c) => c.slug === query.category
        )

        if (selectedCategory) {
          selectedCategoryId = selectedCategory.id
        }
      }
      this.selectedCategoryId = selectedCategoryId

      let selectedTagId = -1
      if (query.tag) {
        const selectedTag = this.activeTags.find((t) => t.slug === query.tag)
        if (selectedTag) {
          selectedTagId = selectedTag.id
        }
      }
      this.selectedTagId = selectedTagId

      let selectedPage = 0
      if (query.page) {
        const page = parseInt(query.page)
        if (page > 0 && page <= this.numOfPages) {
          selectedPage = page - 1
        }
      }
      this.selectedPage = selectedPage
    },
    categorySelected(event) {
      this.updateQueryParams(event, this.selectedTagId, 0)
    },
    tagSelected(event) {
      const tagId = event === this.selectedTagId ? -1 : event
      this.updateQueryParams(this.selectedCategoryId, tagId, 0)
    },
    pageSelected(event) {
      this.updateQueryParams(this.selectedCategoryId, this.selectedTagId, event)
    },
    updateQueryParams(categoryId, tagId, page) {
      let selectedCategory = null
      if (categoryId > 0) {
        selectedCategory = this.categories.find((c) => c.id === categoryId)
      }

      let selectedTag = null
      if (tagId > 0) {
        const categoryTags = this.getTagsForCategory(categoryId)
        selectedTag = categoryTags.find((t) => t.id === tagId)
      }

      const numOfPages = this.getNumOfPagesForCategoryAndTag(categoryId, tagId)

      const query = {}
      if (selectedCategory) {
        query.category = selectedCategory.slug
      }
      if (selectedTag) {
        query.tag = selectedTag.slug
      }
      if (page > 0 && numOfPages > 1) {
        query.page = page + 1
      }

      this.$router.push({ query })
    },
    getTagsForCategory(categoryId) {
      const categoryPosts = this.getCategoryPosts(categoryId)
      return this.tags.filter((t) =>
        categoryPosts.some((p) => p.tags.includes(t.id))
      )
    },
    getCategoryPosts(categoryId) {
      return categoryId < 0
        ? this.posts
        : this.posts.filter((p) => p.categories.includes(categoryId))
    },
    getPostsForCategoryAndTag(categoryId, tagId) {
      if (categoryId < 0 && tagId < 0) {
        return this.postsExceptFeatured
      }

      const selectedCategoryPosts = this.getCategoryPosts(categoryId)

      return tagId < 0
        ? selectedCategoryPosts
        : selectedCategoryPosts.filter((p) => p.tags.includes(tagId))
    },
    getNumOfPagesForCategoryAndTag(categoryId, tagId) {
      const posts = this.getPostsForCategoryAndTag(categoryId, tagId)
      return posts.length < 10 ? 1 : Math.ceil(posts.length / 10)
    },
    handleScrollToPosts() {
      const item = document.querySelector('.blog__content')
      const wrapper = document.querySelector('html')
      const headerHeight = document.querySelector('.header')
      const count =
        item.offsetTop - wrapper.scrollTop - headerHeight.offsetHeight - 20 // xx = any extra distance from top ex. 60
      wrapper.scrollBy({ top: count, left: 0, behavior: 'smooth' })
    }
  },
  head() {
    return {
      title: this.blogPage.acf.seo_title,
      meta: [
        { name: 'description', content: this.blogPage.acf.seo_description },
        { name: 'keywords', content: this.blogPage.acf.seo_keywords },
        { property: 'og:title', content: this.blogPage.acf.seo_title },
        {
          property: 'og:description',
          content: this.blogPage.acf.seo_description
        },
        { property: 'og:image', content: this.blogPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ],
      script: [
        {
          src: `https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.scrollBy`,
          body: true
        }
      ]
    }
  }
}
</script>
