<template>
  <main class="main_container">
    <div class="not-found">
      <div class="container">
        <div class="not-found__inner">
          <h1 class="not-found__title">Oops, something unexpected happened!</h1>
          <p class="not-found__description">
            We searched high and low but couldn’t find what you’re looking for.
            Let’s find a better place for you to go.
          </p>
          <div class="not-found__container-links">
            <!-- Search is not included for first release-->
            <!--            <a-->
            <!--              href="#"-->
            <!--              class="not-found__btn not-found__btn&#45;&#45;search btn white-text xl"-->
            <!--            >-->
            <!--              <span class="search"></span>-->
            <!--              <span>Search</span>-->
            <!--            </a>-->
            <nuxt-link
              to="/"
              class="not-found__btn not-found__btn--go btn white-text xl"
            >
              <span class="arrow"></span>
              <span>Go to Main Page</span>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style lang="scss">
@import '../../assets/scss/core/variables';
@import '../../assets/scss/core/mixins';

.not-found {
  padding: 280px 0 30px;
  background: url(~assets/img/404-mobile.jpg) no-repeat #000000;
  background-size: cover;
  height: 100vh;
  @include bp($mobileSmall + 1, min) {
    padding: 580px 0 40px;
    background: url(~assets/img/404-tablet.jpg) no-repeat;
    background-size: cover;
  }
  @include bp($tablet + 1, min) {
    padding: 210px 0 110px;
    background: url(~assets/img/404-desktop-sm.jpg) no-repeat;
    background-size: cover;
  }
  @include bp($desktop + 1, min) {
    background: url(~assets/img/404-desktop.jpg) no-repeat;
  }
  @include bp($desktopSmall + 1, min) {
    padding: 355px 0 256px;
  }
  @include bp($desktopFullHd + 1, min) {
    background-size: cover;
    background-position: center top 20%;
  }
  @include bp($desktopHd) {
    background-position: center right;
  }
  @include bp($desktop) {
    background-position: center right 20%;
  }
  @include bp($desktopSmall) {
    background-position: center;
  }
  @include bp($tabletLg) {
    background-position: center right;
  }
  @include bp($tablet) {
    background-position: center;
  }
  @include bp($mobileSmall) {
    background-position: center top;
    background-size: contain;
    background-color: #000000;
  }

  &__inner {
    @include bp($tablet + 1, min) {
      max-width: 550px;
    }
    @include bp($desktop + 1, min) {
      max-width: 770px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 20px 0;
    color: #ffffff;
    @include bp($mobileSmall + 1, min) {
      font-size: 36px;
      margin: 0 0 30px 0;
    }
    @include bp($tablet + 1, min) {
      font-size: 48px;
      margin: 0 0 40px 0;
    }
    @include bp($desktopSmall + 1, min) {
      font-size: 52px;
    }
    @include bp($desktop + 1, min) {
      font-size: 64px;
    }

    @include bp($tablet) {
      max-width: 420px;
    }
    @include bp($mobileSmall) {
      max-width: 320px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #ffffff;
    @include bp($mobileSmall + 1, min) {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 30px;
    }
    @include bp($tablet + 1, min) {
      line-height: 1.7;
      font-size: 24px;
      margin-bottom: 40px;
    }
    @include bp($desktopSmall + 1, min) {
      padding-right: 60px;
    }
    @include bp($desktop + 1, min) {
    }
  }

  &__container-links {
    display: flex;
    @include bp($mobile) {
      flex-direction: column;
    }
  }
  .not-found__btn--go {
    padding-right: 30px;
    padding-left: 20px;
  }
  .not-found__btn--search {
    padding: 7px 83px 7px 25px;
    @include bp(340) {
      padding-right: 40px;
    }
    &:hover {
      .search {
        margin: 0;
      }
      .search + span {
        margin: 0 0 0 51px;
      }
    }
  }
  &__btn {
    &--search {
      margin-right: 30px;
      @include bp($mobile) {
        margin: 0 0 20px 0;
      }
      @include bp($mobileSmall) {
        margin: 0 0 10px 0;
      }
      .search {
        margin: 0;
      }
      .search + span {
        margin-left: 51px;
      }
    }
    &--go {
      .arrow,
      &:hover .arrow {
        margin-left: 0;
      }
      .arrow + span {
        margin-left: 10px;
        @include bp(340+1, min) {
          margin-right: 0 !important;
        }
      }
    }
    .search {
      min-width: 18px;
      height: 18px;
      z-index: 22;
      border-radius: 50%;
      border: 2px solid #f05722;
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        right: -5px;
        transform: rotate(45deg);
        width: 7px;
        height: 2px;
        background-color: #f05722;
      }
    }
    @include bp(340) {
      &.btn {
        width: 100%;
      }
      [class] {
        margin: 0;
      }
      [class] + span {
        margin: 0 auto 0 auto;
      }
    }
  }
}
</style>

<script>
export default {
  name: 'NotFound',
  layout: 'error-layout',
  head() {
    return {
      meta: [{ name: 'robots', content: 'noindex' }]
    }
  }
}
</script>
