<template>
  <main class="main">
    <MainPageHeader
      :title="mainPage.acf.title"
      :showcase-data="mainPage.acf.showcase"
      :button-data="mainPage.acf.header_button"
      :businesses="mainPage.acf.header_businesses.items"
    />
    <MainPageAboutUs :header-data="mainPage.acf.about_us_header" />
    <MainPageCompany
      :company-header-data="mainPage.acf.company_header"
      :company-button-data="mainPage.acf.company_button"
      :experience-header-data="mainPage.acf.experience_header"
      :experience-items="mainPage.acf.experience_items"
      :experience-button-data="mainPage.acf.experience_button"
    />
    <MainPageOfferings
      :header-data="mainPage.acf.offerings_header"
      :offering-items="mainPage.acf.offering_items"
    />
    <MainPageClients
      :header-data="mainPage.acf.clients_header"
      :clients="mainPage.acf.client_items"
      :video-text="mainPage.acf.clients_video_text"
      :video-button-data="mainPage.acf.clients_video_button"
    />

    <ContactForm />
    <MainPageBadges :items="mainPage.acf.badge_items" />
    <div class="footer_line"></div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'

import MainPageHeader from '@/components/pages/main/header/MainPageHeader'
import MainPageAboutUs from '@/components/pages/main/MainPageAboutUs'
import MainPageCompany from '@/components/pages/main/MainPageCompany'
import MainPageOfferings from '@/components/pages/main/offerings/MainPageOfferings'
import MainPageClients from '@/components/pages/main/MainPageClients'
import MainPageBadges from '@/components/pages/main/MainPageBadges'

export default {
  name: 'Home',
  components: {
    MainPageHeader,
    MainPageAboutUs,
    MainPageCompany,
    MainPageOfferings,
    MainPageClients,
    MainPageBadges
  },
  computed: {
    ...mapGetters('api/pages/main', ['mainPage'])
  },
  head() {
    return {
      title: this.mainPage.acf.seo_title,
      meta: [
        { name: 'description', content: this.mainPage.acf.seo_description },
        { name: 'keywords', content: this.mainPage.acf.seo_keywords },
        { property: 'og:title', content: this.mainPage.acf.seo_title },
        {
          property: 'og:description',
          content: this.mainPage.acf.seo_description
        },
        { property: 'og:image', content: this.mainPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
