<template>
  <div class="main_container">
    <PolicyPageHeader :title="cookiePolicyPage.acf.title" />
    <RichContent :content="cookiePolicyPage.acf.body" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import PolicyPageHeader from '@/components/pages/policies/PolicyPageHeader'
import RichContent from '@/components/common/RichContent'

export default {
  components: {
    PolicyPageHeader,
    RichContent
  },
  computed: {
    ...mapGetters('api/pages/cookie-policy', ['cookiePolicyPage'])
  },
  head() {
    return {
      title: this.cookiePolicyPage.acf.seo_title,
      meta: [{ name: 'robots', content: 'noindex' }]
    }
  }
}
</script>
