<template>
  <div class="fixed_icons">
    <div class="fixed_icons_hands_number">
      {{ currentPostClaps }}
    </div>
    <!-- Use "isCurrentPostLiked" property to change the button style -->
    <div class="fixed_icons_hands" @click="clap(slug)">
      <img src="~assets/img/hands.png" alt="" />
    </div>

    <div class="fixed_icons_share">
      Share
    </div>

    <ShareNetwork
      network="twitter"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/twit.png" alt="" />
    </ShareNetwork>

    <ShareNetwork
      network="linkedin"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/in.png" alt="" />
    </ShareNetwork>

    <ShareNetwork
      network="facebook"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/faceb.png" alt="" />
    </ShareNetwork>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'BlogPostFixedIcons',
  props: {
    title: { type: String, required: true },
    slug: { type: String, required: true }
  },
  async fetch() {
    await this.fetchClaps()
  },
  computed: {
    ...mapGetters('claps', ['claps', 'localLikedPostSlugs']),
    currentPageUrl() {
      return process.env.siteUrl + this.$route.fullPath
    },
    currentPostClaps() {
      return this.claps[this.slug] ? this.claps[this.slug] : 0
    },
    isCurrentPostLiked() {
      return this.localLikedPostSlugs.includes(this.slug)
    }
  },
  mounted() {
    const postContent = document.querySelector('.post_author')
    const icons = document.querySelector('.fixed_icons')
    // this.isAnyPartOfElementInViewport(postContent)
    // eslint-disable-next-line no-undef
    const myEfficientFn = this.debounce(() => {
      return !this.isAnyPartOfElementInViewport(postContent)
        ? icons.classList.add('in-view')
        : icons.classList.remove('in-view')
    }, 10)

    if (window.outerWidth > 1400)
      window.addEventListener('scroll', myEfficientFn)
    // eslint-disable-next-line no-unused-vars
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    ...mapActions('claps', ['fetchClaps', 'clap']),
    debounce(callback, time) {
      let interval
      return () => {
        clearTimeout(interval)
        interval = setTimeout(() => {
          interval = null

          // eslint-disable-next-line
          callback(arguments);
        }, time)
      }
    },
    isAnyPartOfElementInViewport(el) {
      const rect = el.getBoundingClientRect()
      const windowHeight =
        window.innerHeight || document.documentElement.clientHeight
      const windowWidth =
        window.innerWidth || document.documentElement.clientWidth
      const vertInView = rect.top <= windowHeight && rect.top + rect.height >= 0
      const horInView = rect.left <= windowWidth && rect.left + rect.width >= 0
      return vertInView && horInView
    }
  }
}
</script>
