<template>
  <div class="post_after_clap">
    <!-- Use "isCurrentPostLiked" property to change the button style -->
    <div class="fixed_icons_hands" @click="clap(slug)">
      <img src="~assets/img/hands.png" alt="" />
    </div>
    <div class="fixed_icons_hands_number">
      {{ currentPostClaps }}
    </div>

    <ShareNetwork
      network="twitter"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/twit.png" alt="" />
    </ShareNetwork>

    <ShareNetwork
      network="linkedin"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/in.png" alt="" />
    </ShareNetwork>

    <ShareNetwork
      network="facebook"
      class="fixed_icons_icon"
      :url="currentPageUrl"
      :title="title"
    >
      <img src="~assets/img/faceb.png" alt="" />
    </ShareNetwork>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'BlogPostIcons',
  props: {
    title: { type: String, required: true },
    slug: { type: String, required: true }
  },
  async fetch() {
    await this.fetchClaps()
  },
  computed: {
    ...mapGetters('claps', ['claps', 'localLikedPostSlugs']),
    currentPageUrl() {
      return process.env.siteUrl + this.$route.fullPath
    },
    currentPostClaps() {
      return this.claps[this.slug] ? this.claps[this.slug] : 0
    },
    isCurrentPostLiked() {
      return this.localLikedPostSlugs.includes(this.slug)
    }
  },
  methods: {
    ...mapActions('claps', ['fetchClaps', 'clap'])
  }
}
</script>
