<template>
  <!-- eslint-disable vue/no-v-html -->
  <LazyPicture
    :lazy-background="true"
    style="background-repeat: no-repeat; background-size: cover;"
    :src-image="post.acf.image.url"
    :src-thumb="post.acf.image.sizes.medium"
    class="post_slide"
  >
    <div class="container" style="margin-bottom: 0; z-index: 2;">
      <h1 :style="whenIsLoaded" class="post_slide_title">
        {{ post.acf.title }}
      </h1>
      <div :style="whenIsLoaded" class="post_slide_info">
        <nuxt-link
          v-for="category in post.acf.categories"
          :key="category.id"
          :to="{ name: 'blog', query: { category: category.slug } }"
          class="blog__tag"
          v-html="category.name"
        >
        </nuxt-link>
        <div class="post_slide_info_time">
          {{ post.acf.minutes_to_read }} min read
        </div>
      </div>
    </div>
  </LazyPicture>
</template>

<style>
.post_slide:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
</style>
<style lang="scss">
@import '../../../../assets/scss/core/_variables.scss';
@import '../../../../assets/scss/core/_mixins.scss';

.post_slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  padding-bottom: 30px;
  min-height: 330px;
  position: relative;
  @include bp($mobileSmall + 1, min) {
    padding-bottom: 70px;
    min-height: 450px;
  }
  @include bp($tablet + 1, min) {
    padding-bottom: 60px;
    min-height: 500px;
  }
  @include bp($desktopSmall + 1, min) {
    padding-bottom: 80px;
    min-height: 640px;
  }
  @include bp($desktopSmall) {
    background-position: center;
  }
  &_info,
  &_title {
    transition: opacity 0.2s linear;
  }
  &_info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    @include bp($mobileSmall) {
      flex-wrap: wrap;
    }
  }
  .blog__tag {
    font-size: 16px;
    @include bp($desktopSmall + 1, min) {
      font-size: 18px;
    }
  }
  &_info_time {
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    @include bp($mobileSmall) {
      margin: 15px 0 0 0;
      width: 100%;
    }
  }
  & > .container {
    width: 100%;
  }
}

.post_after {
  .fixed_icons_hands {
    margin-right: 12px;
    @include bp($mobileSmall) {
      margin-right: 40px;
    }
  }
  .fixed_icons_hands_number {
    @include bp($mobileSmall + 1, min) {
      margin-right: 20px;
    }
  }
}

.post_after_clap {
  display: none;
}

.post_slide_title {
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
  color: #ffffff;
  @include bp($desktopSmall) {
    font-size: 48px;
    line-height: 1.2;
  }
  @include bp($tablet) {
    font-size: 36px;
  }
  @include bp($mobileSmall) {
    font-size: 20px;
  }
}

.fixed_icons {
  position: fixed;
  top: 20%;
  left: 6.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease-in;
  pointer-events: none;
  padding-bottom: 5px;
  transform: scale(0);
  overflow: hidden;
  opacity: 0;
  @include bp($desktopHd) {
    left: 2.2%;
  }
  &_hands {
    display: flex;
    width: 72px;
    height: 72px;
    border-radius: 100px;
    border: 2px solid #f05722;
    justify-content: center;
    align-items: center;
    background: white;
  }
  &_share {
    margin-top: 25px;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f05722;
    margin-bottom: 13px;
  }
  &_icon {
    margin-top: 10px;
    width: 48px;
    height: 48px;
    display: flex;
    border-radius: 100px;
    border: 2px solid #f05722;
    justify-content: center;
    align-items: center;
    background: white;
  }
  &.in-view {
    transition: 0.3s ease-in;
    pointer-events: auto;
    transform: scale(1);
    overflow: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 1400px) {
  .fixed_icons {
    display: none;
  }
  .post_after_clap {
    display: flex;
    align-self: flex-start;
  }
}
</style>

<script>
export default {
  name: 'BlogPostHeader',
  props: {
    post: { type: Object, required: true }
  },
  data() {
    return {
      whenIsLoaded: 'visibility: hidden; opacity: 0;'
    }
  },
  mounted() {
    this.whenIsLoaded = ''
  }
}
</script>
