<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="post_after_tags">
    <nuxt-link
      v-for="tag in post.acf.tags"
      :key="tag.id"
      :to="{ name: 'blog', query: { tag: tag.slug } }"
      class="post_after_tag"
      v-html="tag.name"
    >
    </nuxt-link>
  </div>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/_variables.scss';
@import '../../../../assets/scss/core/_mixins.scss';
.post_after + #subscribe_form {
  .subscribe_form {
    margin-left: -40px;
    margin-right: -20px;
    width: calc(100% + 80px);
    @include bp($mobile + 1, min) {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px);
    }
  }
}
</style>

<script>
export default {
  name: 'BlogPostTags',
  props: {
    post: { type: Object, required: true }
  }
}
</script>
