<template>
  <div class="near_posts" :class="prevPost ? 1 : 'first_post'">
    <nuxt-link
      v-if="prevPost"
      :to="{ name: 'blog-slug', params: { slug: prevPost.slug } }"
      class="prev_posts"
    >
      <div class="near_posts_content">
        <div class="near_posts_content_subtitle">
          Previous Article
        </div>
        <div class="near_posts_content_title">
          {{ prevPost.acf.title }}
        </div>
      </div>
    </nuxt-link>
    <nuxt-link
      v-if="nextPost"
      :to="{ name: 'blog-slug', params: { slug: nextPost.slug } }"
      class="next_posts"
    >
      <div class="near_posts_content">
        <div class="near_posts_content_subtitle">
          Next Article
        </div>
        <div class="near_posts_content_title">
          {{ nextPost.acf.title }}
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/_variables.scss';
@import '../../../../assets/scss/core/_mixins.scss';
.near_posts {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  @include bp($desktopSmall) {
    margin: 50px 0;
  }
  @include bp($tablet) {
    margin: 40px 0;
  }
  &_content_subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    color: #bdbdbd;
  }
  &_content_title {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    margin-top: 10px;
    @include bp($desktopSmall) {
      font-size: 22px;
    }
    @include bp($tabletLg) {
      font-size: 18px;
    }
    @include bp($mobileSmall) {
      display: none;
    }
  }
}
.prev_posts {
  box-sizing: border-box;
  max-width: 560px;
  padding-left: 30px;
  padding-right: 10px;
  position: relative;
  @include bp($mobileSmall) {
    padding-left: 10px;
  }
  .near_posts_content::before {
    content: '';
    height: 100%;
    width: 2px;
    background: #f05722;
    top: 0;
    left: 0;
    position: absolute;
  }
}
.next_posts {
  box-sizing: border-box;
  max-width: 560px;
  padding-left: 10px;
  padding-right: 30px;
  position: relative;
  text-align: right;
  @include bp($mobileSmall) {
    padding-right: 10px;
  }
  .near_posts_content::after {
    content: '';
    height: 100%;
    width: 2px;
    background: #f05722;
    top: 0;
    right: 0;
    position: absolute;
  }
}
</style>

<script>
export default {
  name: 'BlogPostOtherPosts',
  props: {
    post: { type: Object, required: true },
    posts: { type: Array, required: true }
  },
  computed: {
    postIndex() {
      return this.posts.indexOf(this.post)
    },
    prevPost() {
      if (this.postIndex <= 0) return null
      return this.posts[this.postIndex - 1]
    },
    nextPost() {
      if (this.postIndex >= this.posts.length - 1) return null
      return this.posts[this.postIndex + 1]
    }
  }
}
</script>
