<template>
  <!-- eslint-disable vue/no-v-html -->
  <div class="post_author">
    <div class="container">
      <div class="post_author_content">
        <div class="post_author_content_photo">
          <img :src="author.acf.photo.url" alt="" />
        </div>
        <div class="post_author_content_info">
          <div class="post_author_content_info_name" v-html="author.name"></div>
          <div
            class="post_author_content_info_description"
            v-html="author.description"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import '../../../../assets/scss/core/_variables.scss';
@import '../../../../assets/scss/core/_mixins.scss';
.post_author {
  width: 100%;
  display: flex;
  background: #f2f2f2;
  min-height: 200px;
  padding: 32px 0;
  @include bp($mobile + 1, min) {
    padding: 45px 0;
  }
  @include bp($tablet + 1, min) {
    min-height: 226px;
    padding: 53px 0;
  }
  @include bp($desktopSmall + 1, min) {
    padding: 65px 0 60px;
  }
  .container {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }
}

.post_author_content {
  display: flex;
  align-items: center;
}

.post_author_content_photo {
  height: 84px;
  min-width: 84px;
  @include bp($mobile) {
    align-self: flex-start;
  }
  @include bp($mobileSmall) {
    height: 48px;
    min-width: 48px;
  }
  img {
    border-radius: 100px;
    width: 84px;
    @include bp($mobileSmall) {
      width: 48px;
    }
  }
}

.post_author_content_info {
  margin-left: 32px;
  @include bp($mobileSmall) {
    margin-left: 10px;
  }
}

.post_author_content_info_name {
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #f05722;
  @include bp($mobileSmall) {
    font-size: 18px;
    line-height: 21px;
  }
}

.post_author_content_info_description {
  font-weight: 500;
  line-height: 1.4;
  margin-top: 10px;
  font-size: 13px;
  color: #000000;
  @include bp($mobileSmall + 1, min) {
    font-size: 16px;
    margin-top: 13px;
  }
  @include bp($tablet + 1, min) {
    font-size: 18px;
  }
  @include bp($desktopSmall + 1, min) {
    font-size: 20px;
  }
}
</style>

<script>
export default {
  name: 'BlogPostAuthor',
  props: {
    author: { type: Object, required: true }
  }
}
</script>
