.arrow {
  transform: rotate(-90deg);
  height: 10px;
  min-width: 20px;
  &:before, &:after {
    content: "";
    width: 10px;
    height: 2px;
    top: -17px;
    position: relative;
    background: #F05722;
    display: inline-block;
  }
  &:before {
    transform: rotate(45deg) translate(3px);
  }
  &:after {
    transform: rotate(-45deg) translate(-3px);
  }
}
