.drop {
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid #e8e8e8;
  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #000;
    height: 40px;
    margin-bottom: 7px;
    &:after {
      content: url(~assets/img/drop_arr.png);
      width: 12px;
    }
  }
  &__content {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
    left: 0;
    background: #000;
    padding: 10px 30px 20px;
    box-sizing: border-box;
    color: #fff;
    display: none;
    z-index: 100;
  }
  &__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s;
    &.active {
      .sorting__item_text::after {
        content: url(~assets/img/hide_arr.png);
      }
      .sorting__item_dropdown {
        display: block;
        z-index: 50;
        opacity: .95;
      }
    }
  }
}

