<template>
  <div class="main_container">
    <div class="inblock сontacts">
      <div class="container">
        <div class="inblock_title">
          {{ contactsPage.acf.title }}
        </div>
        <div class="inblock_desc">
          {{ contactsPage.acf.description }}
        </div>
        <div class="main-contacts">
          <div class="main-contacts_item">
            <div class="main-contacts_item_title">
              {{ contacts.acf.phone.title }}
            </div>
            <div class="main-contacts_item_text">
              {{ contacts.acf.phone.description }}
            </div>
          </div>
          <div class="main-contacts_item">
            <div class="main-contacts_item_title">
              {{ contacts.acf.email.title }}
            </div>
            <div class="main-contacts_item_text">
              {{ contacts.acf.email.description }}
            </div>
          </div>
          <div class="main-contacts_item">
            <div class="main-contacts_item_title">
              {{ contacts.acf.address.title }}
            </div>
            <div class="main-contacts_item_text">
              {{ contacts.acf.address.description }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <ContactForm hide-title />

    <ContactsPageMap :data="contactsPage.acf.map" />
  </div>
</template>

<style lang="scss">
@import '../../assets/scss/core/_variables.scss';
@import '../../assets/scss/core/_mixins.scss';

.inblock.сontacts {
  background-image: url(~assets/img/contacts_bg.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  padding-bottom: 60px;
  @include bp($desktop + 1, min) {
    padding-top: 215px;
  }
  @include bp($desktopSmall) {
    background-position: 65% 0;
    background-size: cover;
    padding-bottom: 40px;
  }
  @include bp($mobile) {
    background-position: 75% -23px;
    background-size: 355%;
    padding-top: 100px;
  }
  .inblock_desc {
    max-width: 600px;
    @include bp($mobileSmall) {
      margin-top: 20px;
      /*padding-bottom: 42px;*/
    }
  }
}

.main-contacts_item_title {
  font-size: 20px;
  line-height: 140%;
  color: #f05722;
}

.main-contacts_item_text {
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
  @include bp($mobileSmall) {
    margin-top: 5px;
  }
}

.main-contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  @include bp($desktopSmall) {
    margin-top: 55px;
  }
  @include bp($mobileSmall) {
    margin-top: 43px;
  }
  &_item {
    max-width: 370px;
    &:not(:last-of-type) {
      @include bp($desktopSmall) {
        margin-right: 20px;
      }
      @include bp($mobileSmall) {
        margin: 0 0 20px 0;
      }
    }
  }
  &:after {
    @include bp($desktop + 1, min) {
      content: '';
      height: 1px;
      width: 100vw;
      position: absolute;
      left: 50%;
      top: -55px;
      transform: translateX(-50%);
      background: #828282;
    }
  }
}

@include bp($tabletLg) {
  .main-contacts_item_text {
    font-size: 20px;
    max-width: 250px;
  }
}

@include bp($mobile) {
  .main-contacts {
    flex-direction: column;
  }
  .main-contacts_item_title {
    font-size: 16px;
    line-height: 1.4;
  }
  .main-contacts_item_text {
    font-size: 18px;
    line-height: 1.3;
  }
}
</style>

<script>
import { mapGetters } from 'vuex'

import ContactsPageMap from '@/components/pages/contacts/ContactsPageMap'

export default {
  name: 'Contacts',
  components: {
    ContactsPageMap
  },
  computed: {
    ...mapGetters('api/pages/contacts', ['contactsPage']),
    ...mapGetters('api/options/contacts', ['contacts'])
  },
  head() {
    return {
      title: this.contactsPage.acf.seo_title,
      meta: [
        { name: 'description', content: this.contactsPage.acf.seo_description },
        { name: 'keywords', content: this.contactsPage.acf.seo_keywords },
        { property: 'og:title', content: this.contactsPage.acf.seo_title },
        {
          property: 'og:description',
          content: this.contactsPage.acf.seo_description
        },
        { property: 'og:image', content: this.contactsPage.acf.og_image }
      ],
      link: [
        { rel: 'canonical', href: process.env.siteUrl + this.$route.fullPath }
      ]
    }
  }
}
</script>
